.accountSection {
	width: 100%;
	display: grid;
	grid-template-columns: 50% auto;
	grid-gap: 60px;
}
.accountSection label {
	display: block;
}
.accountBox .repeater {
	display: grid;
	grid-template-columns: auto auto;
	grid-gap: 20px;
	border: 1px dashed #ccc;
    padding: 50px;
    margin-bottom: -1px;
    position: relative;
}
.accountBox .repeater input[type="radio"] {
	margin: 0 10px 0 0;
}
.accountBox .repeater .closeBtn {
    font-size: 20px;
    color: #e84478;
    border: 0;
    background: none;
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 1;
}
.addNew {
	padding: 25px 0;
}
.accountBottomBtn {
	display: block;
}
.accountBottomBtn .smallBtn {
	display: inline-block;
	margin-right: 20px;
}
