<link rel="stylesheet" href="modules/pages/currentProposal/currentProposal.tmpl.css">
<link rel="stylesheet" href="modules/common/loadingicon/loading-spinner.tmpl.css">

<main>
  <div class="wrapperBox">
    <nav-bar></nav-bar>
    <div class="middle-section">
      <div class="breadcrumb" ncy-breadcrumb></div>
      <h2 class="heading">{{proposalState}} Proposal for {{clientName}}</h2>
      <form name="proposalDetails" ng-hide="showEdit">
        <table class="table-data table-top">
          <tr>
            <th>Proposal Id</th>
            <th>Name of Proposal</th>
            <th>Tentative Cost</th>
          </tr>
          <tr>
            <td>{{proposal.proposal_id}}</td>
            <td>{{proposal.name}}</td>
            <td>{{proposal.tentative_cost}}</td>
          </tr>
        </table>
        <h2 class="heading">Advertising Location Details</h2>
        <table class="table-data table-top">
          <tr>
            <th ng-repeat="header in centerheaders">{{header.header}}</th>
          </tr>
          <tr ng-repeat="center in center_data">
            <td>{{$index+1}}</td>
            <td>{{center.center.center_name}}</td>
            <td>{{center.center.area}}</td>
            <td>{{center.center.subarea}}</td>
            <td>{{center.center.radius}}</td>
            <td>
              <div class="" ng-repeat="(key, value) in center.suppliers track by $index">
                {{key}}:&nbsp;&nbsp;{{(value).length}}
              </div>
            </td>
          </tr>
        </table>
        <button class="smallBtn"  ng-click="editInitialProposal(proposal.proposal_id)">View On Map/Grid</button>
        <button ng-hide="hideData" class="smallBtn" ng-disabled="!invoiceStatus" data-target="#invoiceModal" data-toggle="modal" permission = "[permissions.addInvoiceDetails]">
          Enter Invoice Details
        </button>
      </form>
    </div><!-- middle-section -->
    <div class="fixfooter"></div>
  </div><!-- wrapperBox -->
  <footer-bar></footer-bar>
</main>


<!--Start: Code for Invoice Modal Window -->
  <div id="invoiceModal" class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          <div class="modalBodyBox">
            <h3>Invoice Details</h3>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <div class="im">
              <label>Invoice Number</label>
              <input type = "text" name="invoicenumber" id="invoicenumber" class="field" ng-model="proposal.invoice_number">
              <label>GST Number</label>
              <input type = "text" name="gstnumber" id="gstnumber" class="field" ng-model="proposal.gst_number">
              <label>Amount</label>
              <input type = "text" name="amount" id="amount" class="field" ng-model="proposal.amount">
              <label>Start Date:</label>
              <div class="relative">
                <input type="text" ng-model="campaign_start_date" class="field" uib-datepicker-popup="{{format}}" is-open="popup1" min-date="today" datepicker-options="dateOptions" close-text="Close" alt-input-formats="altInputFormats" ng-model-options="{timezone:'UTC'}">
                <button type="button" class="btn btn-default" ng-click="popup1 = true"><i class="glyphicon glyphicon-calendar"></i></button>
              </div>
              <label>End Date:</label>
              <div class="relative">
                <input type="text" ng-model="campaign_end_date" class="field" uib-datepicker-popup="{{format}}" is-open="popup2" min-date="key.start_date" datepicker-options="dateOptions" close-text="Close" ng-model-options="{timezone:'UTC'}" />
                <button type="button" class="smallBtn" ng-click="popup2 = true"><i class="glyphicon glyphicon-calendar"></i></button>
              </div>
              <button class="smallBtn calendar active notify" ng-click="saveInvoiceDetails()">Save</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<!--End: Code for Invoice Modal Window -->

