<link rel="stylesheet" href="modules/pages/login/login.tmpl.css" />
<link rel="stylesheet" href="modules/common/loadingicon/loading-spinner.tmpl.css" />
<script src='https://www.google.com/recaptcha/api.js' async defer></script>
<link href="css/smallscreen.css" rel="stylesheet" media="screen">

<div ng-init="getToc()">

  <!--Navigation bar-->
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand">
          <div class="logo-sec-mea">
            <img src="images/machadalo-logo.png" alt="" title=""><span> Education</span> Assistant
          </div>
        </a>

        <!--new nav bar-->
        <nav id='menu'>
          <input type='checkbox' />
          <label>&#8801;<span></span></label>
          <ul>
            <li ng-click="getTocNav()"><a class='prett'>Type of Customer</a>
              <ul class='menus'>
                <li ng-repeat="tnav in tocNavDataArray " value="{{tnav}}"><a>{{tnav}}</a></li>
              </ul>
            </li>

            <li ng-click="getCategoryNav()"><a class='prett'>Category</a>
              <ul class='menus'>
                <li ng-repeat="cnav in categoryNavDataArray " value="{{cnav}}"><a>{{cnav}}</a></li>
              </ul>
            </li>

          </ul>
      </div>
  </nav>

  <!--End new nav bar-->

</div>
</nav>


<!--end navigation -->
<div ng-if="!selectedTocHeader">

  <div class="container">
    <div class="container_mea">
      <div class="page-inner">
        <div class="top-select-option">
          <div class="second dropdown">
            <div class="row">
              <div class="col-xs-6">
                <div class="form-group">
                  <!--category dropdown-->
                  <select class="form-control" ng-change="getCategory(selectedToc)" name="Type_of_Customer" id="toc_mea"
                    ng-model="selectedToc">
                    <option value="" disabled>
                      Type of Customer
                    </option>
                    <option ng-repeat="toc in typeofCustomer track by $index" value="{{toc.type_of_customer}}"
                      style="text-transform: capitalize;">
                      {{toc.type_of_customer}}
                    </option>
                  </select>
                </div>
              </div>

              <div class="col-xs-6">
                <div class="form-group">
                  <!--category dropdown-->
                  <select class="form-control" ng-change="getSubCategory(selectedcategory)" name="Category"
                    id="category_mea" ng-model="selectedcategory">
                    <option value="" disabled>
                      Category
                    </option>
                    <option ng-repeat="category in categoryArray track by $index" value="{{category.category_name}}"
                      style="text-transform: capitalize;">
                      {{category.category_name}}
                    </option>
                  </select>
                </div>
              </div>

              <!-- <div class="col-xs-4">
                  <div class="form-group">
                 
                    <select class="form-control" ng-change="getSubSubCategory(selectedsubcategory)" name="SubCategory"
                      id="subcategory_mea" ng-model="selectedsubcategory">
                      <option value="" disabled>
                        Sub category
                      </option>
                      <option ng-repeat="subcategory in subcategoryArray track by $index"
                        value="{{subcategory.subcategory_name}}" style="text-transform: capitalize;">
                        {{subcategory.subcategory_name}}
                      </option>
                    </select>
                  </div>
                </div> -->
            </div>
          </div>
        </div>
      </div>
      <!--new thumbnail-->
      <!--videoes-->
      <div>
        <div>
          <h4 style=" color: #172d86">
            <center><b>Total {{item.length}} Videos for {{key}}</b></center>
          </h4>
        </div>

        <div class="container-mea">
          <div class="row">

            <!--vdo1.1-->
            <div class="col-md-6 col-xs-6">
              <div class="card-block">
                <div class="embed-responsive embed-responsive-16by9">
                  <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/v64KOxKVLVg" allowfullscreen>
                  </iframe>
                </div>
              </div>
              <div>
                <h6 class="text-center font-up font-bold indigo-text py-2 mb-3"><strong>YouTube Iframe</strong></h6>
              </div>
            </div>
            <!--vdo1.2-->
            <div class="col-md-6 col-xs-6">
              <div class="card-block">
                <div class="embed-responsive embed-responsive-16by9">
                  <iframe class="embed-responsive-item" src="https://player.vimeo.com/video/137857207"
                    allowfullscreen></iframe>
                </div>
              </div>
              <div>
                <h6 class="text-center font-up font-bold indigo-text py-2 mb-3"><strong>Vimeo Iframe</strong></h6>
              </div>
            </div>

          </div>
          <!--end of first line vdo-->

          <hr class="my-4">

          <div class="row">

            <!--vdo2.1-->
            <div class="col-md-6 col-xs-6">
              <div class="card-block">
                <div class="embed-responsive embed-responsive-16by9">
                  <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/v64KOxKVLVg" allowfullscreen>
                  </iframe>
                </div>
              </div>
              <div>
                <h6 class="text-center font-up font-bold indigo-text py-2 mb-3"><strong>YouTube Iframe</strong></h6>
              </div>
            </div>
            <!--vdo2.2-->
            <div class="col-md-6 col-xs-6">
              <div class="card-block">
                <div class="embed-responsive embed-responsive-16by9">
                  <iframe class="embed-responsive-item" src="https://player.vimeo.com/video/137857207"
                    allowfullscreen></iframe>
                </div>
              </div>
              <div>
                <h6 class="text-center font-up font-bold indigo-text py-2 mb-3"><strong>Vimeo Iframe</strong></h6>
              </div>
            </div>

          </div>
          <!--end of second line vdo-->

        </div>
      </div>
      <!--End videoes-->
      <!-- ======= Advertisement Section ======= -->

      <!-- <section id="supporters" class="section-with-bg">
          <div class="container" data-aos="fade-up">
            <div class="section-header">
              <h2>Sponsors</h2>
            </div>

            <div class="row no-gutters supporters-wrap clearfix" data-aos="zoom-in" data-aos-delay="100">

              <div class="col-lg-3 col-md-4 col-xs-12">
                <div class="supporter-logo">
                </div>
              </div>

              <div class="col-lg-3 col-md-4 col-xs-12">
                <div class="supporter-logo">
                </div>
              </div>

              <div class="col-lg-3 col-md-4 col-xs-12">
                <div class="supporter-logo">
                </div>
              </div>

              <div class="col-lg-3 col-md-4 col-xs-12">
                <div class="supporter-logo">
                </div>
              </div>
            </div>

          </div>

        </section>End Sponsors Section -->
    </div>
    <div class="container">
      <div class="container_mea">
        <div class="page-inner">
          <div ng-if="selectedTocHeader">
            <h3>{{selectedTocHeader}}</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>