<link rel="stylesheet" href="modules/pages/login/login.tmpl.css" />
<link rel="stylesheet" href="modules/common/loadingicon/loading-spinner.tmpl.css" />
<script src='https://www.google.com/recaptcha/api.js' async defer></script>
<link href="css/smallscreen.css" rel="stylesheet" media="screen">

<div ng-init="getToc()">

  <!--Navigation bar-->
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand">
          <div class="logo-sec-mea">
            <img src="images/machadalo-logo.png" alt="" title=""><span> Education</span> Assistant
          </div>
        </a>
      </div>
      <!--new nav bar-->
      <nav id='menu'>
        <input type='checkbox' />
        <label>&#8801;<span></span></label>
        <ul>
          <li><a class='prett'>Type of Customer</a>
            <ul class='menus'>
              <li><a href='#'>Drop Menu 1</a></li>
              <li><a href='#'>Drop Menu 2</a></li>
              <li><a href='#'>Drop Menu 3</a></li>
            </ul>
          </li>

          <li><a class='prett'>Category</a>
            <ul class='menus'>
              <li><a href='#'>Drop Menu 1</a></li>
              <li><a href='#'>Drop Menu 2</a></li>
              <li><a href='#'>Drop Menu 3</a></li>
            </ul>
          </li>

        </ul>
      </nav>

      <!--End new nav bar-->

    </div>
  </nav>

  <!--end navigation -->
  <div ng-if="!selectedTocHeader">

    <div class="container">
      <div class="container_mea">
        <div class="page-inner">
          <div class="top-select-option">
            <div class="second dropdown">
              <div class="row">
                <div class="col-xs-6">
                  <div class="form-group">
                    <!--category dropdown-->
                    <select class="form-control" ng-change="getCategory(selectedToc)" name="Type_of_Customer"
                      id="toc_mea" ng-model="selectedToc">
                      <option value="" disabled>
                        Type of Customer
                      </option>
                      <option ng-repeat="toc in typeofCustomer track by $index" value="{{toc.type_of_customer}}"
                        style="text-transform: capitalize;">
                        {{toc.type_of_customer}}
                      </option>
                    </select>
                  </div>
                </div>

                <div class="col-xs-6">
                  <div class="form-group">
                    <!--category dropdown-->
                    <select class="form-control" ng-change="getSubCategory(selectedcategory)" name="Category"
                      id="category_mea" ng-model="selectedcategory">
                      <option value="" disabled>
                        Category
                      </option>
                      <option ng-repeat="category in categoryArray track by $index" value="{{category.category_name}}"
                        style="text-transform: capitalize;">
                        {{category.category_name}}
                      </option>
                    </select>
                  </div>
                </div>

                <!-- <div class="col-xs-4">
                  <div class="form-group">
                 
                    <select class="form-control" ng-change="getSubSubCategory(selectedsubcategory)" name="SubCategory"
                      id="subcategory_mea" ng-model="selectedsubcategory">
                      <option value="" disabled>
                        Sub category
                      </option>
                      <option ng-repeat="subcategory in subcategoryArray track by $index"
                        value="{{subcategory.subcategory_name}}" style="text-transform: capitalize;">
                        {{subcategory.subcategory_name}}
                      </option>
                    </select>
                  </div>
                </div> -->
              </div>
            </div>
          </div>
        </div>

        <div class="carousal" ng-repeat="(key,item) in contentArray track by $index">
          <div class="section-header">
            <div>
              <h4 style=" color: #172d86"><b>Total {{item.length}} Videos for {{key}}</b></h4>
            </div>
            <p>{{key}}</p>
          </div>
          <!--1st carousal-->
          <div class="product-slider">
            <div id="carousel" class="carousel slide" data-ride="carousel">
              <div class="carousel-inner">
                <div class="item active"> <img src="http://placehold.it/1600x700?text=Product+01">
                  <!--ratings-->


                  <div class="rating">
                    <input type="radio" id="star5" name="rating" value="5" />
                    <label class="star" for="star5" title="Awesome" aria-hidden="true"></label>
                    <input type="radio" id="star4" name="rating" value="4" />
                    <label class="star" for="star4" title="Great" aria-hidden="true"></label>
                    <input type="radio" id="star3" name="rating" value="3" />
                    <label class="star" for="star3" title="Very good" aria-hidden="true"></label>
                    <input type="radio" id="star2" name="rating" value="2" />
                    <label class="star" for="star2" title="Good" aria-hidden="true"></label>
                    <input type="radio" id="star1" name="rating" value="1" />
                    <label class="star" for="star1" title="Bad" aria-hidden="true"></label>
                  </div>
                </div>
                <div class="item"> <img src="http://placehold.it/1600x700?text=Product+02">
                  <!--ratings-->


                  <div class="rating">
                    <input type="radio" id="star5" name="rating" value="5" />
                    <label class="star" for="star5" title="Awesome" aria-hidden="true"></label>
                    <input type="radio" id="star4" name="rating" value="4" />
                    <label class="star" for="star4" title="Great" aria-hidden="true"></label>
                    <input type="radio" id="star3" name="rating" value="3" />
                    <label class="star" for="star3" title="Very good" aria-hidden="true"></label>
                    <input type="radio" id="star2" name="rating" value="2" />
                    <label class="star" for="star2" title="Good" aria-hidden="true"></label>
                    <input type="radio" id="star1" name="rating" value="1" />
                    <label class="star" for="star1" title="Bad" aria-hidden="true"></label>
                  </div>
                </div>
                <div class="item"> <img src="http://placehold.it/1600x700?text=Product+03">
                  <!--ratings-->


                  <div class="rating">
                    <input type="radio" id="star5" name="rating" value="5" />
                    <label class="star" for="star5" title="Awesome" aria-hidden="true"></label>
                    <input type="radio" id="star4" name="rating" value="4" />
                    <label class="star" for="star4" title="Great" aria-hidden="true"></label>
                    <input type="radio" id="star3" name="rating" value="3" />
                    <label class="star" for="star3" title="Very good" aria-hidden="true"></label>
                    <input type="radio" id="star2" name="rating" value="2" />
                    <label class="star" for="star2" title="Good" aria-hidden="true"></label>
                    <input type="radio" id="star1" name="rating" value="1" />
                    <label class="star" for="star1" title="Bad" aria-hidden="true"></label>
                  </div>
                </div>
                <div class="item"> <img src="http://placehold.it/1600x700?text=Product+04">
                  <!--ratings-->


                  <div class="rating">
                    <input type="radio" id="star5" name="rating" value="5" />
                    <label class="star" for="star5" title="Awesome" aria-hidden="true"></label>
                    <input type="radio" id="star4" name="rating" value="4" />
                    <label class="star" for="star4" title="Great" aria-hidden="true"></label>
                    <input type="radio" id="star3" name="rating" value="3" />
                    <label class="star" for="star3" title="Very good" aria-hidden="true"></label>
                    <input type="radio" id="star2" name="rating" value="2" />
                    <label class="star" for="star2" title="Good" aria-hidden="true"></label>
                    <input type="radio" id="star1" name="rating" value="1" />
                    <label class="star" for="star1" title="Bad" aria-hidden="true"></label>
                  </div>
                </div>
                <div class="item"> <img src="http://placehold.it/1600x700?text=Product+05">
                  <!--ratings-->


                  <div class="rating">
                    <input type="radio" id="star5" name="rating" value="5" />
                    <label class="star" for="star5" title="Awesome" aria-hidden="true"></label>
                    <input type="radio" id="star4" name="rating" value="4" />
                    <label class="star" for="star4" title="Great" aria-hidden="true"></label>
                    <input type="radio" id="star3" name="rating" value="3" />
                    <label class="star" for="star3" title="Very good" aria-hidden="true"></label>
                    <input type="radio" id="star2" name="rating" value="2" />
                    <label class="star" for="star2" title="Good" aria-hidden="true"></label>
                    <input type="radio" id="star1" name="rating" value="1" />
                    <label class="star" for="star1" title="Bad" aria-hidden="true"></label>
                  </div>
                </div>
                <div class="item"> <img src="http://placehold.it/1600x700?text=Product+06">
                  <!--ratings-->


                  <div class="rating">
                    <input type="radio" id="star5" name="rating" value="5" />
                    <label class="star" for="star5" title="Awesome" aria-hidden="true"></label>
                    <input type="radio" id="star4" name="rating" value="4" />
                    <label class="star" for="star4" title="Great" aria-hidden="true"></label>
                    <input type="radio" id="star3" name="rating" value="3" />
                    <label class="star" for="star3" title="Very good" aria-hidden="true"></label>
                    <input type="radio" id="star2" name="rating" value="2" />
                    <label class="star" for="star2" title="Good" aria-hidden="true"></label>
                    <input type="radio" id="star1" name="rating" value="1" />
                    <label class="star" for="star1" title="Bad" aria-hidden="true"></label>
                  </div>
                </div>
                <div class="item"> <img src="http://placehold.it/1600x700?text=Product+07">
                  <!--ratings-->


                  <div class="rating">
                    <input type="radio" id="star5" name="rating" value="5" />
                    <label class="star" for="star5" title="Awesome" aria-hidden="true"></label>
                    <input type="radio" id="star4" name="rating" value="4" />
                    <label class="star" for="star4" title="Great" aria-hidden="true"></label>
                    <input type="radio" id="star3" name="rating" value="3" />
                    <label class="star" for="star3" title="Very good" aria-hidden="true"></label>
                    <input type="radio" id="star2" name="rating" value="2" />
                    <label class="star" for="star2" title="Good" aria-hidden="true"></label>
                    <input type="radio" id="star1" name="rating" value="1" />
                    <label class="star" for="star1" title="Bad" aria-hidden="true"></label>
                  </div>
                </div>
                <div class="item"> <img src="http://placehold.it/1600x700?text=Product+08">
                  <!--ratings-->


                  <div class="rating">
                    <input type="radio" id="star5" name="rating" value="5" />
                    <label class="star" for="star5" title="Awesome" aria-hidden="true"></label>
                    <input type="radio" id="star4" name="rating" value="4" />
                    <label class="star" for="star4" title="Great" aria-hidden="true"></label>
                    <input type="radio" id="star3" name="rating" value="3" />
                    <label class="star" for="star3" title="Very good" aria-hidden="true"></label>
                    <input type="radio" id="star2" name="rating" value="2" />
                    <label class="star" for="star2" title="Good" aria-hidden="true"></label>
                    <input type="radio" id="star1" name="rating" value="1" />
                    <label class="star" for="star1" title="Bad" aria-hidden="true"></label>
                  </div>
                </div>
              </div>
            </div>


            <div class="clearfix">
              <div id="thumbcarousel" class="carousel slide" data-interval="false">
                <div class="carousel-inner">
                  <div class="item active">

                    <div data-target="#carousel" data-slide-to="{{$index+1}}" class="thumb" ng-repeat="videos in item">
                      <img src="http://placehold.it/100x80?text=Thumb+01">
                      <div class="desc"><b>{{videos.Comment}}</b><br> Very Imp | Medium &nbsp;
                        <i class="fa fa-info-circle"></i>
                      </div>
                    </div>

                    <!-- <div data-target="#carousel" data-slide-to="1" class="thumb"><img
                        src="http://placehold.it/100x80?text=Thumb+02">
                      <div class="desc"><b>Blockchain in just 7 minutes</b><br> Very Imp | Medium &nbsp;
                        <i class="fa fa-info-circle"></i>
                      </div>
                    </div>
                    <div data-target="#carousel" data-slide-to="2" class="thumb"><img
                        src="http://placehold.it/100x80?text=Thumb+03">
                      <div class="desc"><b>Blockchain in just 7 minutes</b><br> Very Imp | Medium &nbsp;
                        <i class="fa fa-info-circle"></i>
                      </div>
                    </div>
                    <div data-target="#carousel" data-slide-to="3" class="thumb"><img
                        src="http://placehold.it/100x80?text=Thumb+04">
                      <div class="desc"><b>Blockchain in just 7 minutes</b><br> Very Imp | Medium &nbsp;
                        <i class="fa fa-info-circle"></i>
                      </div>
                    </div> -->
                  </div>
                  <!-- <div class="item">
                    <div data-target="#carousel" data-slide-to="4" class="thumb"><img
                        src="http://placehold.it/100x80?text=Thumb+05">
                      <div class="desc"><b>Blockchain in just 7 minutes</b><br> Very Imp | Medium &nbsp;
                        <i class="fa fa-info-circle"></i>
                      </div>
                    </div>
                    <div data-target="#carousel" data-slide-to="5" class="thumb"><img
                        src="http://placehold.it/100x80?text=Thumb+06">
                      <div class="desc"><b>Blockchain in just 7 minutes</b><br> Very Imp | Medium &nbsp;
                        <i class="fa fa-info-circle"></i>
                      </div>
                    </div>
                    <div data-target="#carousel" data-slide-to="6" class="thumb"><img
                        src="http://placehold.it/100x80?text=Thumb+07">
                      <div class="desc"><b>Blockchain in just 7 minutes</b><br> Very Imp | Medium &nbsp;
                        <i class="fa fa-info-circle"></i>
                      </div>
                    </div>
                    <div data-target="#carousel" data-slide-to="7" class="thumb"><img
                        src="http://placehold.it/100x80?text=Thumb+08">
                      <div class="desc"><b>Blockchain in just 7 minutes</b><br> Very Imp | Medium &nbsp;
                        <i class="fa fa-info-circle"></i>
                      </div>
                    </div>
                  </div> -->
                </div>
                <!-- /carousel-inner -->
                <a class="left carousel-control" href="#thumbcarousel" role="button" data-slide="prev"> <i
                    class="fa fa-angle-left" aria-hidden="true"></i> </a> <a class="right carousel-control"
                  href="#thumbcarousel" role="button" data-slide="next"><i class="fa fa-angle-right"
                    aria-hidden="true"></i>
                </a>
              </div>
              <!-- /thumbcarousel -->

            </div>
          </div>
          <!--1st Carousal end -->

          <!--view more button-->
          <div class="moreview">
            <button type="button" class="btn btn-light"><b>View More</b></button>
          </div>
          <!--end of button-->

          <!--goggle add-->
          <div class="row no-gutters supporters-wrap clearfix">
            <div class="col-xs-12">
              <div class="google-add">
              </div>
            </div>
          </div>
          <!--end of add-->
        </div>
      </div>

    </div>
    <!-- ======= Advertisement Section ======= -->

    <section id="supporters" class="section-with-bg">
      <div class="container" data-aos="fade-up">
        <div class="section-header">
          <h2>Sponsors</h2>
        </div>

        <div class="row no-gutters supporters-wrap clearfix" data-aos="zoom-in" data-aos-delay="100">

          <div class="col-lg-3 col-md-4 col-xs-12">
            <div class="supporter-logo">
            </div>
          </div>

          <div class="col-lg-3 col-md-4 col-xs-12">
            <div class="supporter-logo">
            </div>
          </div>

          <div class="col-lg-3 col-md-4 col-xs-12">
            <div class="supporter-logo">
            </div>
          </div>

          <div class="col-lg-3 col-md-4 col-xs-12">
            <div class="supporter-logo">
            </div>
          </div>
        </div>

      </div>

    </section><!-- End Sponsors Section -->
  </div>
  <div class="container">
    <div class="container_mea">
      <div class="page-inner">
        <div ng-if="selectedTocHeader">
          <h3>{{selectedTocHeader}}</h3>
        </div>
      </div>
    </div>
  </div>
</div>