<link rel="stylesheet" href="modules/pages/login/login.tmpl.css" />
<link rel="stylesheet" href="modules/common/loadingicon/loading-spinner.tmpl.css" />
<script src='https://www.google.com/recaptcha/api.js' async defer></script>
<link href="css/smallscreen.css" rel="stylesheet" media="screen">
<style>
  .icon-back {
    top: 100px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #0000;
    padding: 7px;
    position: relative;
    overflow: hidden;
    transition: background-color 200ms ease-in-out;
    float: left;
    margin-right: 7px;
  }

  .icon-back:hover {
    background-color: #ffffff47;
  }

  .icon-back:active {
    background-color: #ffffff94;
  }

  .dropdown ul {
    height: 300px;
    overflow-y: scroll;

  }
</style>

<script>
  $('.navbar-collapse .dropdown-menu li').click(function () {
    $(".navbar-collapse").collapse('hide');
  });
</script>
<style>
  .navbar-collapse.collapse {
  display: none!important;
}

.navbar-collapse.collapse.in{
  display:block !important;
  position: absolute;
    z-index: 100;
    background: #EDEDED;
    width: 100%;
}
</style>


<div ng-init="getToc()">


  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle " ng-click="vm.isCollapsed" data-toggle="collapse"
          data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand">
          <div class="logo-sec-mea">
            <img src="images/machadalo-logo.png" alt="" title=""><span> Education</span> Assistant
          </div>
        </a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div collapse="isCollapsed" class="navbar-collapse collapse" id="bs-example-navbar-collapse-1">

        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown" uib-dropdown>
            <a class="dropdown-toggle" uib-dropdown-toggle data-toggle="dropdown" role="button" 
              aria-expanded="false">Type of Customer <span class="caret"></span></a>
            <ul class="dropdown-menu" uib-dropdown-menu>
              <li ng-repeat="tnav in tocNavDataArray " value="{{tnav}}" ng-click="getTocNav(tnav)"><a>{{tnav}}

                </a></li>
            </ul>
          </li>
          <li class="dropdown" uib-dropdown>
            <a href="#" class="dropdown-toggle" uib-dropdown-toggle data-toggle="dropdown" role="button"
              aria-haspopup="true" aria-expanded="false">Category <span class="caret"></span></a>
            <ul class="dropdown-menu" uib-dropdown-menu>
              <li ng-repeat="cnav in categoryNavDataArray " value="{{cnav}}" ng-click="getCategoryNav(cnav)">
                <a>{{cnav}}</a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
      <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
  </nav>
  <div class="container" ng-if="categoryNavSelected">
    <div class="icon-back">
      <svg viewBox="0 0 57.653 64.11" width="25" height="25" xmlns="http://www.w3.org/2000/svg" ng-click="getToc()">

        <path fill="#000"
          d="M 31.75 0 L 0 31.956 L 30.961 63.124 L 36.412 57.26 L 15.768 36.41 L 56.313 35.997 L 56.107 28.366 L 15.484 28.572 L 37.35 6.086 L 31.75 0 Z" />
      </svg>


    </div>
    <div class="container_mea">

      <div class="page-inner">
        <div class="top-select-option">
          <h3>Category Section</h3>
        </div>
      </div>
    </div>
  </div>
  <div class="container" ng-if="tocNavSelected">
    <div class="icon-back">
      <svg viewBox="0 0 57.653 64.11" width="25" height="25" xmlns="http://www.w3.org/2000/svg" ng-click="getToc() ">

        <path fill="#000"
          d="M 31.75 0 L 0 31.956 L 30.961 63.124 L 36.412 57.26 L 15.768 36.41 L 56.313 35.997 L 56.107 28.366 L 15.484 28.572 L 37.35 6.086 L 31.75 0 Z" />
      </svg>


    </div>
    <div class="container_mea">
      <div class="page-inner">
        <div class="top-select-option">
          <h3>Type of Customer Section</h3>
        </div>
      </div>
    </div>
  </div>

  <!--end navigation -->
  <div ng-if="!selectedTocHeader && !categoryNavSelected && !tocNavSelected">

    <div class="container">
      <div class="container_mea">
        <div class="page-inner">
          <div class="top-select-option">
            <div class="second dropdown">
              <div class="row">
                <div class="col-xs-6">
                  <div class="form-group">
                    <!--category dropdown-->
                    <select class="form-control" ng-change="getCategory(selectedToc)" name="Type_of_Customer"
                      id="toc_mea" ng-model="selectedToc">
                      <option value="" disabled>
                        Type of Customer
                      </option>
                      <option ng-repeat="toc in typeofCustomer track by $index" value="{{toc.type_of_customer}}"
                        style="text-transform: capitalize;">
                        {{toc.type_of_customer}}
                      </option>
                    </select>
                  </div>
                </div>

                <div class="col-xs-6">
                  <div class="form-group">
                    <!--category dropdown-->
                    <select class="form-control" ng-change="getSubCategory(selectedcategory)" name="Category"
                      id="category_mea" ng-model="selectedcategory">
                      <option value="" disabled>
                        Category
                      </option>
                      <option ng-repeat="category in categoryArray track by $index" value="{{category.category_name}}"
                        style="text-transform: capitalize;">
                        {{category.category_name}}
                      </option>
                    </select>
                  </div>
                </div>

                <!-- <div class="col-xs-4">
                  <div class="form-group">
                 
                    <select class="form-control" ng-change="getSubSubCategory(selectedsubcategory)" name="SubCategory"
                      id="subcategory_mea" ng-model="selectedsubcategory">
                      <option value="" disabled>
                        Sub category
                      </option>
                      <option ng-repeat="subcategory in subcategoryArray track by $index"
                        value="{{subcategory.subcategory_name}}" style="text-transform: capitalize;">
                        {{subcategory.subcategory_name}}
                      </option>
                    </select>
                  </div>
                </div> -->
              </div>
            </div>
          </div>
        </div>
        <!--new thumbnail-->
        <!--videoes-->
        <div>
          <div>
            <h4 style=" color: #172d86">
              <center><b>Total {{contentArray.length}} Contents for {{selectedToc}} {{selectedcategory}}</b></center>
            </h4>
          </div>

          <div class="container-mea">
            <div class="row">
              <!--vdo1.1-->
              <div class="col-md-6 col-xs-6" ng-repeat="content in contentArray ">
                <div class="card-block">
                  <div class="embed-responsive embed-responsive-16by9" ng-show="content.contenttype =='youtubelink'">
                    <iframe ng-src={{content.youtubeurl}} allowfullscreen>
                    </iframe>
                  </div>
                  <div class="embed-responsive embed-responsive-16by9 logo-sec-mea-article"
                    ng-show="content.contenttype =='article'">
                    <a href={{content.embededurl}} target="_blank"><img src="images/machadalo-logo.png"></a>
                  </div>
                </div>
                <div>
                  <h6 class="text-center font-up font-bold indigo-text py-2 mb-3">
                    <strong ng-if="content.phrase_theme != ''">Theme: {{content.phrase_theme}}</strong>
                    <strong ng-if="content.phrase_theme == ''">Theme: {{content.video_theme}}</strong>
                    <br>
                    <strong ng-if="content.Start_Time != '' && content.End_Time !=''"> ST: {{content.Start_Time}} ET:
                      {{content.End_Time}}</strong>
                  </h6>

                  <center>
                    <div class="star-rating">
                      <input type="radio" id="5-stars" name="rating" value="5" />
                      <label for="5-stars" class="star">&#9733;</label>
                      <input type="radio" id="4-stars" name="rating" value="4" />
                      <label for="4-stars" class="star">&#9733;</label>
                      <input type="radio" id="3-stars" name="rating" value="3" />
                      <label for="3-stars" class="star">&#9733;</label>
                      <input type="radio" id="2-stars" name="rating" value="2" />
                      <label for="2-stars" class="star">&#9733;</label>
                      <input type="radio" id="1-star" name="rating" value="1" />
                      <label for="1-star" class="star">&#9733;</label>
                    </div>
                  </center>
                </div>

              </div>
              <!--vdo1.2-->
              <!-- <div class="col-md-6 col-xs-6">
              <div class="card-block">
                <div class="embed-responsive embed-responsive-16by9">
                  <iframe class="embed-responsive-item" src="https://player.vimeo.com/video/137857207"
                    allowfullscreen></iframe>
                </div>
              </div>
              <div>
                <h6 class="text-center font-up font-bold indigo-text py-2 mb-3"><strong>Vimeo Iframe</strong></h6>
              </div>
            </div> -->

            </div>
            <!--end of first line vdo-->

            <hr class="my-4">

            <!-- <div class="row">

           
            <div class="col-md-6 col-xs-6">
              <div class="card-block">
                <div class="embed-responsive embed-responsive-16by9">
                  <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/v64KOxKVLVg" allowfullscreen>
                  </iframe>
                </div>
              </div>
              <div>
                <h6 class="text-center font-up font-bold indigo-text py-2 mb-3"><strong>YouTube Iframe</strong></h6>
              </div>
            </div>
          
            <div class="col-md-6 col-xs-6">
              <div class="card-block">
                <div class="embed-responsive embed-responsive-16by9">
                  <iframe class="embed-responsive-item" src="https://player.vimeo.com/video/137857207"
                    allowfullscreen></iframe>
                </div>
              </div>
              <div>
                <h6 class="text-center font-up font-bold indigo-text py-2 mb-3"><strong>Vimeo Iframe</strong></h6>
              </div>
            </div>

          </div> -->
            <!--end of second line vdo-->

          </div>
        </div>
        <!--End videoes-->
        <!-- ======= Advertisement Section ======= -->

        <!-- <section id="supporters" class="section-with-bg">
          <div class="container" data-aos="fade-up">
            <div class="section-header">
              <h2>Sponsors</h2>
            </div>

            <div class="row no-gutters supporters-wrap clearfix" data-aos="zoom-in" data-aos-delay="100">

              <div class="col-lg-3 col-md-4 col-xs-12">
                <div class="supporter-logo">
                </div>
              </div>

              <div class="col-lg-3 col-md-4 col-xs-12">
                <div class="supporter-logo">
                </div>
              </div>

              <div class="col-lg-3 col-md-4 col-xs-12">
                <div class="supporter-logo">
                </div>
              </div>

              <div class="col-lg-3 col-md-4 col-xs-12">
                <div class="supporter-logo">
                </div>
              </div>
            </div>

          </div>

        </section>End Sponsors Section -->
      </div>
      <div class="container">
        <div class="container_mea">
          <div class="page-inner">
            <div ng-if="selectedTocHeader">
              <h3>{{selectedTocHeader}}</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>