.dateFilter h4 {
    font-size: 14px;
    font-weight: 400;
}

.dateFilter {
    font-size: 14px
}
.time-btn{
    margin-left: 10px;
}
.active-btn p {
    background-color: #2B2B2B;
    color: #fff;
    border-radius: 20px;
}
.time-btn p:hover {
    background-color: #2B2B2B;
    border-radius: 20px;
    color: #fff;
    text-align: center;
}
.main-content .timing .time-btn p {
    padding: 5px 12px;
    font-size: 12px;
    min-width: 0px;
    display: inline;
}


.date-content {
    margin: 8px;
    padding: 8px 17px;
    border-radius: 10px;
    background-color: #e0e0e0;
    font-size: 12px;
    text-align: center;
    flex-direction: column;
    display: flex;
    justify-content: center;
    min-width: 61px;
    border: 2px solid transparent;
}
.active-border{
    border: 2px solid black;
}

.date-content-btn button {
    font-size: 12px;
    width: 40px;
    border-radius: 8px;
    padding: 4px 1px;
    border: none !important;
    display: block; 
}
.date-content-btn{
    margin-top:8px;
}
.innner-calender {
    width: calc(100% - 50px);
    overflow: hidden;
    justify-content: flex-start;
    white-space: nowrap;
    overflow: hidden;
}
.date-btn-right span p{
    padding: 5px 12px;
    font-size: 12px;
    min-width: 0px;
    display: inline;
}
.date-btn-right .active-btn p {
    background-color: #3e59e3;
    color: #fff;
    border-radius: 20px;
}
.date-btn-right {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}