.dateFilter h4 {
    font-size: 14px;
    font-weight: 400;
}

.dateFilter {
    font-size: 14px
}

.active-btn {
    background-color: #2B2B2B;
    color: #fff;
    border-radius: 20px;
    margin-top: 3px;
}