.dateFilter h4 {
    font-size: 14px;
    font-weight: 400;
}

.dateFilter {
    font-size: 14px
}

.active-btn {
    background-color: #2B2B2B;
    color: #fff;
    border-radius: 20px;
    margin-top: 3px;
}

.date-content {
    // border: 1px solid black;
    margin: 8px;
    padding: 20px;
    border-radius: 10px;
    background-color: #F1F1F1;
}

.date-content-btn button {
    font-size: 15px;
    width: 50px;
    border-radius: 10px;
    padding: 8px;
    border: none !important;
    margin-right: 30px !important;
}

.innner-calender {
    width: calc(100% - 50px);
    overflow: hidden;

}