.campaignLeadSection .formBoxRepeat .closeBtn {
	font-size: 20px;
	color: #e84478;
	border: 0;
	background: none;
	position: absolute;
	right: 10px;
	top: 10px;
	z-index: 1;
}
.campaignLeadSection table .smallfield {
	margin-bottom: 0;
}
.smallBtn.top {
	float: right;
	margin-bottom: 20px;
}
.campaignFormBox .fieldBoxFull {
	width: 100%;
	display: block;
}
.campaignFormBox label {
	display: block;
	font-weight: 400;
}
.campaignFormBox label span {
	color: #ff2620;
}
.campaignFormBox .formBox {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
}
.campaignFormBox .formBoxRepeat {
	padding: 20px;
	border: 1px solid #ccc;
	position: relative;
}
.campaignFormBox .formBoxBottom {
	display: block;
	clear: both;
}
.campaignFormBox .formBoxBottom .fieldBox .field {
	width: calc(100% - 60px);
	display: inline-block;
	vertical-align: top;
}
.campaignFormBox .formBoxBottom .fbbBox .smallBtn {
	margin: 0;
	width: 48px;
	height: 48px;
	float: right;
}
.campaignFormBox .formBoxRepeat .formBoxBottom .option {
	position: relative;
	display: inline-block;
	vertical-align: top;
	margin-right: 20px;
	margin-bottom: 20px;
}
.campaignFormBox .formBoxRepeat .formBoxBottom .option span {
	position: absolute;
	top: -10px;
	right: -10px;
	z-index: 1;
}
.campaignFormBox .formBoxRepeat .formBoxBottom .option .smallBtn {
	width: auto;
	height: auto;
	margin: 0;
	float: none;
}
.campaignFormBox .bottomButtonSection {
	display: block;
	padding: 20px 0;
}
.campaignFormBox .bottomButtonSection .smallBtn {
	float: left;
	margin: 0 20px 0 0;
}

.campaignFormBox .action .field {
	margin-top: 20px;
	margin-bottom: 0;
}
.campaignBox table.leadTable {
	margin-bottom: 20px;
}
.campaignBox .leadForm {
	display: grid;
	grid-template-columns: 3fr 3fr 3fr 3fr;
	grid-column-gap: 20px;
    grid-row-gap: 20px;
    border: 1px solid #ccc;
    padding: 40px;
}
.campaignBox .leadForm .item:last-child {
	grid-column-start: 1; 
  	grid-column-end: 5;
}
.campaignBox .leadForm label {
	display: block;
}
.campaignBox .leadForm .radioBox {
	display: inline-block;
	vertical-align: top;
}
.campaignBox .importLeadOuterBox {
	max-width: 600px;
	margin: 100px auto 0 auto;
	display: block;
	box-shadow: 0px 3px 10px 0 rgba(0,0,0,0.20);
	text-align: center;
	padding: 60px;
	border-radius: 6px;
}
.campaignBox .importLeadOuterBox label {
	display: block;
	font-size: 18px;
	font-weight: 300;
	margin-bottom: 15px;
}
.campaignBox .importLeadOuterBox .upload {
    width: 100%;
    height: 60px;
    display: block;
    margin: 0 auto 20px auto;
    text-align: center;
    padding: 18px;
    position: relative;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.campaignBox .importLeadOuterBox .upload span {
	font-size: 14px;
	color: #333;
	display: block;
}
.campaignBox .importLeadOuterBox .upload input[type="file"] {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 1;
	opacity: 0;
	cursor: pointer;
}
.campaignBox .importLeadOuterBox .attachedFileName {
	width: 100%;
	display: block;
	font-size: 14px;
	padding: 0 0 10px 0;
}
.campaignBox .importLeadOuterBox .importBottom {
	padding-top: 20px;
	display: grid;
	grid-template-columns: 1fr 1fr;
    grid-gap: 15px;
	justify-content: space-between;
}
.modal .modalBodyBox .formBoxRepeat {
	margin-bottom: 30px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 60px;
}
.modal .modalBodyBox .formBoxRepeat .action + .smallBtn {
	float: right;
}

@media (max-width: 991px) {
	.campaignBox .leadForm {
		display: block;
	}
}