
<body>
  <div class="container">
    <a class="navbar-brand aligntop"><img src="images/logo.png" alt="Machadalo" class="logo" /></a>
  </div>
  <div ng-loading="!loadingSpinner">
  </div>
  <div class="container1" style="background-image:url(img/background.png);height:550px;width:100%;overflow:hidden">
    <!-- <div class="col-sm-6 text-right">
      <p class="font-r, quote">"Every great achievement was first considered impossible "</h1><br></p>
    </div> -->
   
    <div class="row">
      <div class="" id="passwordModal" style="width:600px;margin-left:400px;margin-bottom:30px;margin-top:63px;">
        <div class="row">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3>Reset Password <span class="extra-title muted"></span></h3>
              <span>Note : Minimum 8 characters, at least one uppercase letter, one lowercase letter, one number and one
                special character:</span>
            </div>
            <form name="passwordForm" id="form">
              <div class="panel-body form-horizontal">

                <div class="form-group">
                  <label for="password" class="cols-sm-2 control-label">New Password</label></br>
                  <span></span>
                  <div class="cols-sm-10">
                    <div class="input-group">
                      <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                      <input type="password" id="pwd1"  class="form-control" placeholder="Enter your Password" ng-change="validatePassword()" required
                        ng-model="model.password" />
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label for="confirm" class="cols-sm-2 control-label">Confirm Password</label>
                  <div class="cols-sm-10">
                    <div class="input-group">
                      <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                      <input type="password" class="form-control" name="confirm" placeholder="Confirm your Password"
                        ng-change="validatePassword()" required ng-model="model.confirm_password" />
                    </div>
                    <span ng-show="!isValid">{{passwordError}}</span>

                  </div>
                </div>
              </div>
            </form>
            <div class="footer">

              <button class="btn btn-primary" id="password_modal_save" ng-click="resetPassword()"
                ng-disabled="!isValid">Save changes</button>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>
</body>