html{
  background-color: #ffffff;
  overflow-x: visible !important;
  color: #000000 !important;
}


th{
  	background: #8e1921;
    text-align: center;
  	color: #fff;
}
.input_td_req{
    text-align: center;
}
.position.input_date_cls input.form-control {
  width: 90%;
  display: inline-block;
}
.position.input_date_cls div {
  display: inline-block;
}
button.calendar.btn_cls_date_picker {
  display: inline-block;
}
.mb_20{
  margin-bottom: 20px;
}
.btn_box_lead_survey button{
  width: 100%;
}
td.btn_box_lead_survey {
  width: 210px !important;
  text-align: center !important;
}  
th.btn_box_lead_survey_th{
  width: 210px !important;
}
td.btn_box_lead_survey button{
  margin-bottom: 10px; 
}
input#requirementCheckId {
    width: 20px;
    height: 20px;
}
div#RequirementModel th, div#RequirementModel td {
    min-width: 140px;
}
div#RequirementModel th:nth-child(1), div#RequirementModel td:nth-child(1) {
    max-width: 31px !important;
    min-width: auto;
}
div#RequirementModel th:nth-child(2), div#RequirementModel td:nth-child(2) {
    max-width: 77px !important;
    min-width: auto;
    overflow-wrap: break-word;
}
div#RequirementModel a.option span.ng-binding {
  clear: both;
  display: inline-block;
  margin-left: 5px;
}
div#RequirementModel span.ng-binding {
    clear: both;
    display: block;
}
input#browsedCheckId {
    width: 18px;
    height: 18px;
}


body{
	background-color: #ffffff !important;
  overflow-x: visible !important;
	color: #000000 !important;
}

.breadcrumb{
	background-color: transparent;
  margin-left: auto;
  margin-right: auto;
  font-size : x-large;
}

.pageTitle{
  margin: 2%;
  margin-top: -15px;
  text-align: center;
  background-color: #d9534f !important;
	color: white !important;
  padding: 10px 15px;
  border-bottom: 1px solid transparent;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.managementPageTitle{
  margin: 2%;
  margin-top: -25px;
  margin-left: -40px;
  text-align: center;
  background-color: #d9534f !important;
  color: white !important;
  padding: 10px 15px;
  border-bottom: 1px solid transparent;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  width: 700px;
}


.createNewUserTitle{
margin-left: -40px;
margin-top: -10px;
  text-align: center;
  background-color: #d9534f !important;
  color: white !important;
  padding: 10px 15px;
  border-bottom: 1px solid transparent;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  width: 400px;
}
.panel-body{
  margin-left:50px;
  margin-right:50px;
  margin-top: -15px;
	overflow-x: visible !important;
	padding: 15px 0px 0px 0px;
}
/*
.panel-bodyUser{
	overflow-x: visible !important;
} */


div#RequirementModel .modal-header button.close ~ h4.modal-title {
  text-align: center;
}
div#RequirementModel form.ng-pristine .glyphicon-plus:before {
  content: "\e252";
}
div#RequirementModel form.ng-pristine .glyphicon-minus:before {
  content:"\e253";
}
.panel-bodyDashboard{

	overflow: auto ;

}
div#RequirementModel span.glyphicon.glyphicon-plus:before {
  content: "\e252";
}
div#RequirementModel span.glyphicon.glyphicon-minus:before {
  content:"\e253";
}    
tr, td {
  color: #000000 !important;
}
.campaigndetailtable table.table {
  width: 100%;
}


h3 {
  text-align: center;
}

.panel-heading{
  text-align: center;
  background-color: #d9534f;
  color: white;
}

.radio-button label{
  color: #000000 !important;
  font-family: Roboto, "Helvetica Neue", sans-serif !important;


}
input[type="radio"]{
  margin: 0 10px 0 10px;
}

.radio-button:after {
   display:none;
    border-color: #e91e63;
    background-color: #e91e63;
}

.labels{
	margin-left: 55px;
}

.cumulativeChart{
  overflow: auto
}

.cumulativeGraphTable{
  width: fit-content;
}