html{
  background-color: #ffffff;
  overflow-x: visible !important;
  color: #000000 !important;
}
.submitted_lead_table tbody {
    display: block;
}
.submitted_lead_table thead {
    display: block;
    background: grey;
}
 .submitted_lead_table {
    overflow-x: auto !important;
    overflow: hidden;
}
.submitted_lead_table .modal-body.table-responsive {
  overflow-x: auto !important;
  overflow: hidden;
}                 
.submitted_lead_table .modal-body.col-md-4.table-responsive {
  overflow-y: hidden;
}
.submitted_lead_table tbody {
  overflow: auto;
  overflow-x: hidden;
  max-height: 350px;
/*
  max-width: 2300px;
  min-width: 2300px;
*/
}
.modal-dialog {
    color: #333;
}
body .modal .modal-body {
    background-color: #fff;
    padding: 0px 15px;
    border-radius: 5px;
}
.modal-dialog button.smallBtn {
    margin-top: 20px;
    padding: 12px 25px;
    font-size: 16px;
    font-weight: 600;
}
.modal-content .col-md-8 input {
    width: 100% !important;
}
ul.licence_detail_bx li {
    color: #fff;
    display: inline-block;
    width: 49%;
    background: #cb3328;
    padding: 15px;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
}
ul.licence_detail_bx li:hover {
    background: #c70202;
}
ul.licence_detail_bx li.active_detail {
    background: #c70202;
}
ul.licence_detail_bx li:nth-child(1) {
    width: 47%;
    margin-right: 3%;
}
ul.licence_detail_bx li:nth-last-child(1) {
    margin-left: -5px;
    width: 50%;
}
div.box_detail {
    text-align: left;
    padding: 15px !important;
    margin-bottom: 20px;
    background: #fff;
    color: #333;
    border: 1px solid #ccc;
}
.panel-title.box_detail h4 {
    margin-bottom: 20px;
}
div.box_detail p {
    margin-bottom: 15px !important;
}
.panel-title.box_detail button {
    background: #cb3328;
    outline: none;
    padding: 10px 45px;
    font-weight: 600;
    border-radius: 5px;
    color: #ffffff;
    border: 1px solid #c54632;
    font-weight: 500;
}
.panel-title.box_detail button:hover {
    background: transparent;
    color: #c54632;
    border: 1px solid #c54632;
}
.panel-title.box_detail p {
    color: #333 !important;
    font-weight: 500;
}
ul.licence_detail_bx {
    margin-bottom: 20px;
}
div#RequirementModel .browsed_leads_main th, div#RequirementModel .browsed_leads_main td {
    min-width: 170px;
}
.bd_requirement_detail thead th:nth-child(1), .bd_requirement_detail tbody td:nth-child(1) {
    min-width: 40px;
}
.bd_requirement_detail th, .bd_requirement_detail td {
    min-width: 120px;
}
.modal-body.table-responsive.browsed_leads_main{
    overflow-y: hidden;
}
th{
  	background: #8e1921;
    text-align: center;
  	color: #fff;
}
.input_td_req{
    text-align: center;
}
.position.input_date_cls input.form-control {
  width: 90%;
  display: inline-block;
}
.position.input_date_cls div {
  display: inline-block;
}
button.calendar.btn_cls_date_picker {
  display: inline-block;
}
.mb_20{
  margin-bottom: 20px;
}
.btn_box_lead_survey button{
  width: 100%;
}
td.btn_box_lead_survey {
  width: 210px !important;
  text-align: center !important;
}  
th.btn_box_lead_survey_th{
  width: 210px !important;
}
td.btn_box_lead_survey button{
  margin-bottom: 10px; 
}
input#requirementCheckId {
    width: 20px;
    height: 20px;
}
div#RequirementModel th, div#RequirementModel td {
    min-width: 170px;
    width: 170px;
    max-width: 170px;
}
div#RequirementModel th:nth-child(1), div#RequirementModel td:nth-child(1) {
    max-width: 31px !important;
    min-width: 31px;
    width: 31px;
}
td.alignment button {
    display: block;
        margin: 0 auto;
}
div#RequirementModel th:nth-child(2), div#RequirementModel td:nth-child(2) {
    max-width: 77px !important;
    min-width: 77px;
    overflow-wrap: break-word;
    width: 77px;
}
.bd_requirement_detail th, .bd_requirement_detail td {
    min-width: 170px;
    width: 170px;
    max-width: 170px;
}
.bd_requirement_detail th:nth-child(1), .bd_requirement_detail td:nth-child(1) {
    max-width: 31px !important;
    min-width: 31px;
    width: 31px;
}
td.alignment button {
    display: block;
        margin: 0 auto;
}
.bd_requirement_detail th:nth-child(2), .bd_requirement_detail td:nth-child(2) {
    max-width: 77px !important;
    min-width: 77px;
    overflow-wrap: break-word;
    width: 77px;
}
div#RequirementModel a.option span.ng-binding {
  clear: both;
  display: inline-block;
  margin-left: 5px;
}
div#RequirementModel span.ng-binding {
    clear: both;
    display: block;
}
input#browsedCheckId {
    width: 18px;
    height: 18px;
}


body{
	background-color: #ffffff !important;
  overflow-x: visible !important;
	color: #000000 !important;
}

.breadcrumb{
	background-color: transparent;
  margin-left: auto;
  margin-right: auto;
  font-size : x-large;
}

.pageTitle{
  margin: 2%;
  margin-top: -15px;
  text-align: center;
  background-color: #d9534f !important;
	color: white !important;
  padding: 10px 15px;
  border-bottom: 1px solid transparent;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.managementPageTitle{
  margin: 2%;
  margin-top: -25px;
  margin-left: -40px;
  text-align: center;
  background-color: #d9534f !important;
  color: white !important;
  padding: 10px 15px;
  border-bottom: 1px solid transparent;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  width: 700px;
}


.createNewUserTitle{
margin-left: -40px;
margin-top: -10px;
  text-align: center;
  background-color: #d9534f !important;
  color: white !important;
  padding: 10px 15px;
  border-bottom: 1px solid transparent;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  width: 400px;
}
.panel-body{
  margin-left:50px;
  margin-right:50px;
  margin-top: -15px;
	overflow-x: visible !important;
	padding: 15px 0px 0px 0px;
}
/*
.panel-bodyUser{
	overflow-x: visible !important;
} */


div#RequirementModel .modal-header button.close ~ h4.modal-title {
  text-align: center;
}
div#RequirementModel form.ng-pristine .glyphicon-plus:before {
  content: "\e252";
}
div#RequirementModel form.ng-pristine .glyphicon-minus:before {
  content:"\e253";
}
.panel-bodyDashboard{

	overflow: auto ;

}
div#RequirementModel span.glyphicon.glyphicon-plus:before {
  content: "\e252";
}
div#RequirementModel span.glyphicon.glyphicon-minus:before {
  content:"\e253";
}    
tr, td {
  color: #000000 !important;
}
.campaigndetailtable table.table {
  width: 100%;
}


h3 {
  text-align: center;
}

.panel-heading{
  text-align: center;
  background-color: #d9534f;
  color: white;
}

.radio-button label{
  color: #000000 !important;
  font-family: Roboto, "Helvetica Neue", sans-serif !important;


}
input[type="radio"]{
  margin: 0 10px 0 10px;
}

.radio-button:after {
   display:none;
    border-color: #e91e63;
    background-color: #e91e63;
}

.labels{
	margin-left: 55px;
}

.cumulativeChart{
  overflow: auto
}

.cumulativeGraphTable{
  width: fit-content;
}