<link rel="stylesheet" href="modules/pages/login/login.tmpl.css" />
<link rel="stylesheet" href="modules/common/loadingicon/loading-spinner.tmpl.css" />
<script src='https://www.google.com/recaptcha/api.js' async defer></script>
<link href="css/smallscreen.css" rel="stylesheet" media="screen">

<div class="covid-hospital" ng-init="getStateCity();">
  <div class="page-wrapper">
    <div class="logo-sec">
      <img src="images/machadalo-logo.png" alt="logo">
      <h1><span class="img_hospital"><img src="images/plus_icon.png" alt="logo"></span> COVID19 HELPDESK, AVAILABLE BEDS</h1>
    </div>

    <div class="container">
      <div class="page-inner">
        <div class="top-select-option">
          <!-- <div class="form-group">
            <select class="form-control" name="category" id="Category_id" ng-model="selectedCategory">
              <option ng-repeat="cat in categorys track by $index" value="{{cat}}" style="text-transform: capitalize;">
                {{cat}}
              </option>
            </select>
          </div> -->
          <p style="text-align: center;">
            <h4 style="text-align: center;"> Data currently available for {{stateData.length}} States/UT and 410 Districts as per all
              available Online Government and Volunteer Sources</h4>
          </p>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <select class="form-control" ng-change="getCity()" name="state" id="state_id" ng-model="state_code">
                  <option value="" disabled>
                    Select State/UT
                  </option>
                  <option ng-repeat="state in stateData track by $index" value="{{state.state_code}}"
                    style="text-transform: capitalize;">
                    {{state.name}}
                  </option>
                </select>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <select class="form-control" name="city" ng-change="getBeds()" id="city_id" ng-model="district_code">
                  <option value="" disabled>
                    Select District/City
                  </option>
                  <option ng-repeat="city in cityList track by $index" value="{{city.district_code}}" style="text-transform: capitalize;">
                   <p style="text-transform: capitalize;"> {{city.district_name}} </p>
                  </option>
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div><!-- machadalo-login -->