<link rel="stylesheet" href="modules/pages/login/login.tmpl.css" />
<link rel="stylesheet" href="modules/common/loadingicon/loading-spinner.tmpl.css" />
<script src='https://www.google.com/recaptcha/api.js' async defer></script>
<link href="css/smallscreen.css" rel="stylesheet" media="screen">

<div class="covid-hospital" ng-init="getStateCity();">
  <div class="page-wrapper">
    <div class="logo-sec">
      <img src="images/machadalo-logo.png" alt="logo">
      <h1><span class="img_hospital"><img src="images/plus_icon.png" alt="logo"></span> COVID19 HELPDESK, AVAILABLE CYLINDER</h1>
    </div>

    <div class="container">
      <div class="page-inner">
        <div class="top-select-option">
          <div class="form-group">
            <select class="form-control" name="category" id="Category_id" ng-change="changeWeb()" ng-model="selectedCategory">
              <option ng-repeat="cat in categorys track by $index" value="{{cat}}" style="text-transform: capitalize;">
                {{cat}}
              </option>
            </select>
          </div>
          <p style="text-align: center;">
            <!-- <h4 style="text-align: center;"> Data currently available for {{stateData.length}} States/UT and 410 Districts as per all
              available Online Government and Volunteer Sources</h4> -->
          </p>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <select class="form-control" ng-change="getCity()" name="state" id="state_id" ng-model="state_code">
                  <option value="" disabled>
                    Select State/UT
                  </option>
                  <option ng-repeat="state in stateData track by $index" value="{{state.state_code}}"
                    style="text-transform: capitalize;">
                    {{state.name}}
                  </option>
                </select>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <select class="form-control" name="city" ng-change="getCylinderList()" id="city_id" ng-model="district_code">
                  <option value="" disabled>
                    Select District/City
                  </option>
                  <option ng-repeat="city in cityList track by $index" value="{{city.district_code}}" style="text-transform: capitalize !important">
                   <p style="text-transform: capitalize !important"> {{city.district_name}} </p>
                  </option>
                </select>
              </div>
            </div>
          </div>
        </div>
        <div ng-if="!loading" ng-loadings="loading"></div>
        <div class="row info-table-row" ng-if="loading">
          <div class="info-table-heading" ng-if="cylinderDetailData.length > 0"><h2 style="text-align: center;">Covid Info List ({{cylinderDetailData.length}})</h2></div>
          <div class="col-md-6" ng-if="cylinderDetailData.length > 0" ng-repeat="cylinder in cylinderDetailData">
            <div class="info-table-wrap">
              <div class="info-row">
                <label class="infolable"><strong>Contact Name: </strong></label>
                {{cylinder.MDContactName}}
              </div>
              <div class="info-row">
                <label class="infolable"><strong> Address: </strong></label>
                {{cylinder.MDAddress}} 
              </div>
              <div class="info-row">
                <label class="infolable"><strong>Quantity Available: </strong></label>
                {{cylinder.MDQty}}
              </div>
              <div class="info-row">
                <label class="infolable"><strong>Last Updated Time: </strong></label>
                {{cylinder.MDLastUpdatedTime | date:'medium'}} 
              </div>
              <div class="info-row">
                <label class="infolable"><strong>Refill Available:
                </strong></label>
                {{cylinder.MDRefillAvailable}} 
              </div>
              <div class="info-row">
                <label class="infolable"><strong>Contact Number: </strong></label>
                <a href="tel:cylinder.MDContactNumber"> {{cylinder.MDContactNumber}}</a>
              </div>
            
             
              <div class="info-row">
                <label class="infolable"><strong>Volunteer Name: </strong></label>
                ABC
              </div>
              <!-- <div class="info-row volanteer">
                <label class="infolable">Volunteer Name: &nbsp;
                </label>
                   ABC
              </div> -->
              <div class="info-row volanteer-btn">
                  <img src="images/whatsapp-icon.png">
                   <span>Chat with Volunteer</span> 
              </div>



              
             
              <div class="info-row info-feedback">
                <label class="infolable"><strong>Provide Feedback</strong></label>
                <button type="button" name="button" class="btn btn-success">Resources Available</button>
                  <button type="button" name="button" class="btn btn-warning">Not Available</button>
                    <button type="button" name="button" class="btn btn-danger">Wrong Number</button>
              </div>
            </div>
          </div>
          <!-- <h4 style="color:red;text-align: center" ng-if="cylinderDetailData.length == 0 || !cylinderDetailData.length">No
            Hospital Found.</h4> -->
        </div>
      </div>
    </div>
  </div>

</div><!-- machadalo-login -->