// .lead-first-container{
//     max-width: 95% !important;
//     width: 95% !important;
// }
.db-image-icon svg, .db-image-icon img{
    width: 70px;
    height: 70px;
    object-fit: contain;
    border: 1px solid #bacde9;
    padding: 10px;
    border-radius: 5px;
}
.h2-heading{
    font-size: 35px;
    font-weight: 700;
    text-align: left;
}
.span-heading-text{
    font-size: 15px;
    text-align: left;
    color: #868ba1;
}
.bg-white{
    background-color: #fff;
}
.main-ul-tab{
    padding: 20px 0px 20px 0px;
    border: 1px solid #cbcbcb;
    padding:20px 0 20px 0;
}
.show-leads-box .lead-box-first.active  {
    background-color: #9d87c2;
    color: #fff !important;
}
.show-leads-box .lead-box-first.active .span-heading-text{
    color: #fff !important;
}
.show-leads-box .lead-box-first.active .icon-box {
    background-color: #fff;
}
.show-leads-box .lead-box-first.active .h2-heading{
    color: #fff;
}

.db-image-icon{
  color:   #9c81cc;
}
.top-main-tab li button{
    color: #000;
    border-radius: 0px 0px 0px 0px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    padding: 20px 0;
}
.top-main-tab.nav-tabs .nav-link.active{
    background-color: #f2f2f2;
}
.top-main-tab.nav-tabs .nav-link{
    background-color: #ffffff;
    border: 1px solid #e3e3e3;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 13px;
    padding: 16px 0;
}
.top-main-tab.nav-tabs li{
   margin: 0 10px ;
}
.lead-tab li{
    margin: 0px 10px;
    background-color: #ffffff;
box-shadow: 3px -3px 8px rgba(0 0 0/ 10%)
}
.bg-color{
    background-color: rgb(59 130 246 / 12%);
}
.icon-box {
    margin-right: 20px;
}
h4.lead-h4 {
    font-weight: 700;
    margin: 0;
    border-left: 3px solid #000;
    padding-left: 20px;
    line-height: 1;
}
.lead-box-first {
    border: 1px solid #dad9d9;
    padding: 20px;
    background-color: #ffffff;
    align-items: center;
}
table thead tr th {
    background-color: #f8f9fa !important;
    color: #000 !important;
    margin: 0 0;
    font-size: 16px;
    padding: 9px 10px !important;
    white-space: nowrap;
    font-weight: 500 !important;
    border: 1px solid #dae0e5 ;
    border-width: 1px 0px 1px 0px !important;
    text-transform: uppercase;
}
.graph-img canvas{
    max-width: 478px !important;
    max-height: 300px !important;
    margin: 0 auto;
    width: 478px !important;
    height: 300px !important;
}

table.dashboard-table thead tr th {
    background-color: #8E1921;
    color: #fff !important;
    margin: 0 0;
    font-size: 16px;
    padding: 9px 10px !important;
    white-space: nowrap;
}
table tbody tr td{
    text-align: left !important;
}
.btn-theme{
    background-color: #8E1921 !important;
    color: #fff;
    font-weight: 600;
}
table.dashboard-table {
 background-color: #fff;   
}
table.dashboard-table th, table.dashboard-table td{
    vertical-align: middle;
    height: 60px;
}
.graph-img {
  background-color: #fff;
 border: 1px solid #dad9d9;
 margin-bottom: 20px;
 padding: 25px !important
}
.graph-img img{
    max-width: 100% !important; 
}
.dropdown-btn button,.dropdown-btn button:hover,.dropdown-btn button:active{
    color:   rgb(255, 255, 255) !important;
    background-color: rgb(111 66 193) !important;
    font-size: 16px;
}
@media only screen and (max-width:1024px) {
    .h2-heading {
        font-size: 20px;
    }
    .db-image-icon svg, .db-image-icon img{
        width: 40px;
    }
    .span-heading-text {
        font-size: 12px;
    }
    .icon-box {
        margin-right: 8px;
    }
    
}
@media only screen and (max-width:767px) {
    .lead-box-first {
        margin: 20px;
    }
    .top-main-tab.nav-tabs .nav-link{        
    white-space: nowrap;
    padding: 10px 10px;
    }
    .top-main-tab.nav.nav-tabs{
        display: flex;
        flex-direction: row;
        overflow-x: scroll;
        max-width: 100%;
        padding: 5px 0;
        overflow-y: hidden;
        width: 100vw;
        justify-content: unset;
        align-items: center;
        flex-wrap: unset;
    }
    .top-main-tab.nav-tabs li {
        margin: 0 4px;
    }
    .text-dropdwn{
        display: block !important;
        text-align: center;
    }
    h4.lead-h4{
        margin-bottom: 10px;
    }
}