<link rel="stylesheet" href="modules/pages/login/login.tmpl.css" />
<link rel="stylesheet" href="modules/common/loadingicon/loading-spinner.tmpl.css" />
<script src='https://www.google.com/recaptcha/api.js' async defer></script>
<link href="css/smallscreen.css" rel="stylesheet" media="screen">

<body>
  <div class="container">
    <a class="navbar-brand aligntop"><img src="images/logo.png" alt="Machadalo" class="logo" /></a>
  </div>
  <div ng-loading="!loadingSpinner">
  </div>
  <div class="container1" style="background-image:url(img/background.png);height:550px;width:100%;overflow:hidden">
    <div class="col-sm-6 text-right">
      <p class="font-r, quote">"Every great achievement was first considered impossible "</h1><br></p>
    </div>
    <div class="panel panel-default pull-right" id="login-panel">
      <div class="row">
        <br />
        <strong>
          <div style="letter-spacing: 0.7px; margin-left: 17px;" class="login-panel-header-text font">
            <center>Forgot Password</center>
          </div>
        </strong>
      </div>
      <form class="form-horizontal" role="form" ng-submit="resetPassword()" style="margin:4%">
        <div class="errorMessages">
          <div ng-show="error" class="error">{{error}}</div>
        </div>
        <div class="successMessages">
          <div ng-show="success" class="success">{{success}}</div>
        </div>
        <div class="form-group">
          <div class="col-sm-12">
            <input type="text" name="email" id="email" class="form-control myClassNameOne" ng-model="userEmail" required
              placeholder="Email" />
          </div>
        </div>

        <div class="form-group" ng-model="disabled">
          <br />
          <div class="col-sm-12">
            <center><button style="text-align:center" ng-disabled="disabled" class="font, submit-btn" type="submit"
                class="btn  btn-sm">SUBMIT</button>
            </center>
          </div></br>
        </div>
        <hr>
        <div class="form-group">
          <div class="col-sm-offset-3 col-sm-9, extras pull-left">
            <div class="checkbox checkbox1">
              <label><a href="/#/login"><small><i class="fa fa-arrow-left" aria-hidden="true"></i></small></label></a>
            </div>
          </div>

        </div>
        <hr>
        </td>
        </tr>
      </form>
    </div>
    <!-- </div> -->
  </div>
  </div>
</body>
<!-- <nav-bar></nav-bar> -->