<link rel="stylesheet" href="modules/pages/login/login.tmpl.css" />
<link rel="stylesheet" href="modules/common/loadingicon/loading-spinner.tmpl.css" />
<script src='https://www.google.com/recaptcha/api.js' async defer></script>
<link href="css/smallscreen.css" rel="stylesheet" media="screen">

<div class="machadalo-login" style="background-image: url('img/bannerBG.jpg');">
  <div class="column leftBox">
    <div class="mclb">
      <h2><a href="/#/login"><i class="fa fa-arrow-left" aria-hidden="true"></i></a> Forgot <strong>Password</strong></h2>
      <div class="loginForm">
        <form role="form" ng-submit="resetPassword()">
          <div class="successMessages">
            <div ng-show="success" class="success">{{success}}</div>
          </div>
          <input type="email" name="email" id="email" class="field" ng-model="userEmail" required placeholder="Email" />
          <div ng-model="disabled">
            <button ng-disabled="disabled" class="submit-btn" type="submit">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="column rightBox">
    <img src="images/machadalo-logo.png" alt="Machadalo" class="logo"/>
    <div class="mcrb">
      <h1>Every great achievement was first  considered impossible</h1>
    </div>
  </div>

</div><!-- machadalo-login -->
