<main>
<div class="wrapperBox">
  <nav-bar></nav-bar>
  <div class="middle-section">
    <div class="breadcrumb" ncy-breadcrumb></div>
    <div class="changePasswordBox">
      <h1>Change Password</h1>
      <p><strong>Note:</strong> Minimum 8 characters, at least one uppercase letter, one lowercase letter, one number and one special character.</p>
      <form name="passwordForm" id="form">
        <label for="password">Old Password</label>
        <input type="password" class="field" name="oldPassword"  placeholder="Enter your Password" required ng-model="model.old_password"/>
        <label for="password">New Password</label>
        <input type="password" id="pwd1" class="field"   placeholder="Enter your Password"  required ng-model="model.password"/>
        <label for="confirm">Confirm Password</label>
        <input type="password" class="field" name="confirm"   placeholder="Confirm your Password" ng-change="validatePassword()"required ng-model="model.confirm_password"/>
        <span ng-show="!isValid">{{passwordError}}</span>
        <button class="submit-btn" id="password_modal_save" ng-click="changePassword()" ng-disabled="!isValid || !model.old_password">Save Changes</button>
      </form>
    </div>
  </div><!-- middle-section -->
  <div class="fixfooter"></div>
</div><!-- wrapperBox -->
<footer-bar></footer-bar>
</main>