.graph-chart canvas {
    max-width: 900px !important;
    height: 340px !important;
    max-height: 100%;
    display: block;
    width: 100% !important;
    margin: 0 auto;
}


.graph-chart-content-dropdown {
    padding: 5px;
}

.btn:hover {
    color: none;
    background-color: #fff;
    border-color: #EFEFEF;
}

.graph-dropdown-btn {
    margin-left: auto;
    max-width: fit-content;
    background-color: #fff;
    border: 1px solid #EFEFEF;
    border-radius: 20px;
    font-weight: 600 !important;
}