
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');

// 24/05/23
.container {
    max-width: 100% !important;
    padding: 0px 30px !important;
    width: 100% !important;
}
body{
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
}
.right-heder-content {
    text-align: right;
    margin-top: 10px;
    color: #5f76e8;

}

.header__links span i {
    font-size: 30px;
    color: #872727;
}

.right-heder-content ul li span {
    font-size: 20px !important;
}

.welcome-box {
    border: 1px solid #5f76e8;
    padding: 10px 15px;
    margin-left: 20px;
    border-radius: 20px;
    text-align: center;
    width: 210px;
    color: #5f76e8;
    margin-bottom: 13px;
    font-size: 12px;
    font-family: 'Poppins', sans-serif;
}

.welcome-box span {
    font-size: 20px !important;
    padding-right: 10px;
    margin: 0;
}

// header

.MachadaloHeader {
    font-family: sans-serif;
    text-align: center;
}

.header__links {
    width: 30px;
}

.header__links ul li span {
    width: 30px;
}
.h4-heading{
    font-size: 20px !important;font-family: 'Inter', sans-serif;
    font-weight: 400;
}

// headerr
// datefilter
@media (min-width: 1400px) {

    // .css-1oqqzyl-MuiContainer-root {
    //     max-width: 1400px !important;
    // }
}


.main-content .calander span {
    padding-left: 10px;
    padding-top: 10px;
}

.main-content {
    margin: 0px;
    border: 1px solid black;
    width: 100%;
    height: 40px;
    border-radius: 20px;
    // padding-top: 10px;
    // background-color: #F7F7F7;
    background-color: #e0e0e0;
    padding: 5px 15px;
}

.main-content .timing {
    width: 55%;
    text-align: center;
    margin-left: auto;
}

.dx {
    display: flex;
    margin-top: 97px;
    margin-bottom: 58px;
}
.nav-lead-tab{    
    // background-color: #3c1eb5;
    margin-top: 0px;
}
.nav-lead-tab li{
    width: 50%;
}
.nav-lead-tab button.nav-link.active{
    width: 100%;
    color: #fff;
    background: #3e59e3 !important;
}
.nav-lead-tab button{
    width: 100%;
    color: #fff;
    background-color: #5f76e8 !important;
    border: 0px solid !important;
    padding: 10px 10px;
    font-family: 'Poppins', sans-serif;
    border-radius: 0px !important;
    font-size: 14px;
}
.nav-lead-tab button:hover{
    color: #fff;
}
.dash-table tr th {
    background: rgb(43, 43, 43);
    background: linear-gradient(0deg, rgb(43, 43, 43) 35%, rgb(105, 102, 102) 100%);
    color: #ffffff !important;
    font-size: 13px;
    padding: 15px 19px !important;
    vertical-align: middle;
}

// table
.sn-table {
    width: 40px;
    padding: 11px 11px !important ;
}
.campaign-list-dropdown .dropdown button, .campaign-list-dropdown .dropdown button:hover{
    width: 200px;
    background-color: #3e59e3;
}
.campaign-list-dropdown {
    display: flex;
}
.campaign-list-dropdown .dropdown-toggle::after {
    right: 11px;
    position: absolute;
    top: 14px;
}

@media only screen and (max-width: 600px) and (min-width: 992px) {
    .dx {

        display: block;
    }

    .graph-chart canvas {
        width: 571px !important;
        height: 300px !important;
        display: block;

        padding: 30px;
    }

    .right-heder-content ul li {
        padding-left: 0px;
    }
}

.leads-table {
    border: 1px #D3D3D3 solid;
}

.lead-btn {
    font-weight: 600 !important;
}

.lead-btn:hover {
    background-color: #3e59e3 !important;
    color: #fff;
    border-color: #3e59e3 !important;
}
.action-icon svg{
    width: 13px;
    height: 13px;
}
.leads-table .leads-tbody tr th {
    // background: linear-gradient(to bottom, #696666 0%, #2b2b2b 100%);
    background: #5f76e8;
    background: -moz-linear-gradient(0deg,  #3e59e3  35%, #5f76e8 100%);
    background: -webkit-linear-gradient(0deg,  #3e59e3  35%, #5f76e8 100%);
    background: linear-gradient(0deg,  #3e59e3  35%, #5f76e8 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#2b2b2b", endColorstr="#696666", GradientType=1);
    color: #fff !important;
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
    padding: 11px 11px !important;
    white-space: break-spaces;
    align-items: start;
    vertical-align: unset;
    line-height: 1.3;
}

.nested-table {
    background-color: #FEEDDE;
}


.btn:hover {
    color: none;
    background-color: #ffffff;
    border-color: #ffffff;
}


.btn {
    font-family: Inter;
    font-size: 12px !important;
    font-weight: 600;
    line-height: 15px;
    text-align: left;

}

.nested-leads-table {
    border: 1px #D3D3D3 solid;
}

.action-icon span {
    border: 1px solid #3e59e3;
    border-radius: 16px;
    margin-left: 5px !important;
    display: inline-flex;
    width: 30px;
    height: 30px;
    align-items: center;
    justify-content: center;
}

.action-icon span:hover {
    background-color: black;
    color: #fff;
}

table tbody tr td,
table tbody tr th {
    padding: 5px 11px !important;
    vertical-align: middle;
    text-align: center !important;
}
table tr th{
    text-align: center !important;
}
thead,
tbody,
tfoot,
tr,
td,
th {
    border-color: inherit;
    border-style: none;
    border-width: 0;
    font-size: 13px;
    height: 40px;
}
table .btn{
    padding: 4px 10px;
}

.nested-leads-table .leads-tbody tr th {
    text-transform: capitalize !important;

}

.nested-leads-table-colspan {
    padding: 0px 0px 10px 0px !important;
}


/* Breadcrumb */


.title-definiton {
    width: 500px;
    margin-bottom: 30px;
}

.breadcrumb {
    list-style-type: none;
    padding: 0;
}

.breadcrumb li {
    display: inline-block;
    position: relative;
    margin: 10px 10px;

    // Last child
    &:last-child {
        a {
            cursor: default;
        }

        &::before,
        &::after {
            background: #3e59e3;
        }
    }

    // :Hover
    &:not(:last-child):hover {

        &::before,
        &::after {
            background: #3e59e3;
            color: #fff;
        }
    }

    &::before,
    &::after {
        content: '';
        position: absolute;
        left: 0;
        height: 58%;
        width: 100%;
        background: white;
        border-left: 2px solid #3e59e3;
        border-right: 2px solid #3e59e3;
        z-index: -2;
    }

    &::before {
        top: -2px;
        transform: skew(30deg);
        border-top: 2px solid #3e59e3;
    }

    &::after {
        bottom: -2px;
        transform: skew(-30deg);
        border-bottom: 2px solid #3e59e3;
    }
}

.breadcrumb a {
    display: inline-block;
    position: relative;
    line-height: 1.9;
    padding: 1px 20px;
    color: #3e59e3 !important;
    font-weight: 400;
    text-decoration: none;
    font-size: 16px;
}

.breadcrumb a:hover {
    color: #fff;
}

/* Breadcrumb */

// modal css


.wpModal .modal-header {
    background-color: #3e59e3;
  }
  
  .wpModal .modal-header .modal-title {
    background-color: #3e59e3;
  }
  
  .wpModal .wp-form label {
    margin-bottom: 15px !important;
  }
  
  .wpModal .modal-body button {
    margin-top: 20px;
    padding: 10px 22px;
    font-size: 14px !important;
    text-transform: uppercase;
    background-color: #3e59e3 !important;
  }
  
  .wpModal button.dropdown-toggle ,.wpModal button.dropdown-toggle:hover {
    width: 100%;
    background-color: #fff;
    color: #000000 !important;
    background-color: #3e59e300 !important;
    padding: 9px 10px;
    font-size: 14px !important;
    margin-top: 20px;
    position: relative;
    margin-bottom: 20px;
    border: 1px solid #ced4da;
    font-family: "Segoe UI", Roboto;
    font-weight: 400;
  }
  
  .email-dropdown .dropdown-menu.show {
    width: 100%;
  }
  
  .email-dropdown .dropdown-item {
    font-size: 14px !important;
  }
  
  .email-dropdown .dropdown-toggle:hover {
    border-color: #ced4da !important;
  }
  
  .btn:focus-visible {
    box-shadow: none !important;
    outline: none;
  }
  
  .email-dropdown .dropdown-toggle:first-child:active {
    background-color: inherit;
    color: #000000;
  }
  
  .email-modal .email-form-control label {
    padding-bottom: 10px;
  }
  
  .email-dropdown .dropdown-toggle::after {
    right: 13px;
    position: absolute;
    top: 12px;
  }
  
  .modal .btn:hover, .modal .submit-btn {  
    margin-top: 20px;
    padding: 10px 22px;
    font-size: 14px !important;
    text-transform: uppercase;
    background-color: #3e59e3 !important;
    color: #ffffff !important;
  
  }
  .email-btn-group{
    align-items: center;
    text-align: center;
  }
  .email-btn-group .btn{
    margin-top: 20px;
    padding: 10px 22px;
    font-size: 14px !important;
    text-transform: uppercase;
    background-color: #3e59e3 !important;
    white-space: normal;
    text-align: center;
  }
  .strip-div {
    background-color: #3e59e3;
    color: #fff;
    margin-top: 20px !important;
    padding: 5px 10px;
    height: 44px;
    font-size: 14px;
    line-height: 2.5;
  }
  .fullwidth{
    width: 100%;
  }
  .status-div textarea{
    border: 1px solid #ced4da;
  }
  html body .status-div .dropdown-toggle, html body .status-div .dropdown-toggle:hover{
    width: 100%;
    color: #000000 !important;
    background-color: #ffffff !important;
    padding: 2px 10px;
    font-size: 12px !important;
    margin: 0px !important;
    position: relative;
    margin-bottom: 20px;
    border: 1px solid #ced4da;
    font-family: "Segoe UI", Roboto;
    font-weight: 400;
    max-width: 200px;
    width: 100%;
    min-width: 150px;
    text-transform: capitalize !important;
  }
  .p-0{
    padding: 0px !important;
    margin: 0px ;
  }
  .comment-box-outer{
    height: 110px;
    overflow-y: scroll;
    margin-bottom: 10px;
  }
  .comment-box{
    border: 1px solid #ced4da;
    padding: 5px 10px;
    margin-bottom: 5px;
    margin-top: 5px;
    font-size: 12px;
  }
  .comment-box p{
    margin-bottom: 5px;
  }
//   modal css ends
.breadcrumb a:not([href]):not([class]):hover
{
    color: #ffffff;
}
.breadcrumb li:last-child a{
    color: #ffffff !important;
}
.wpModal .btn-close{
    color: #ffffff;
    background: none;
    transform: rotate(45deg);
    font-size: 30px;
}
.wpModal .btn-close:before{
    content: "+";
}
.table-dropdown-status .btn-success,.table-dropdown-status .btn-success:hover{
    background-color: #3e59e3;
    font-size: 12px;
}
.table-dropdown-status .dropdown-item{
    font-size: 12px !important;
}
.table-dropdown-status .dropdown-item.active{
    background-color: #3e59e3;
}


/* process Css */


.line_box {
	display: flex !important;
	margin: 10px 0px 0px 0px !important;
	padding-bottom: 65px !important;
	/* overflow-x: scroll !important; */
	white-space: nowrap !important;
    /* flex-wrap: unset !important; */
    width: 100% !important;
    /* overflow-y: hidden !important; */
    /* justify-content: unset !important; */
    /* flex-wrap: unset !important; */

}
.text_circle {
	flex: 1;
	text-align: center;
	position: relative;
	
}
.text_circle:after {
	background-color: grey;
	bottom: 1.25em;
	content: "";
	display: block;
	height: 3px;
	position: absolute;
	right: 0;
	width: 50%;
	z-index: 1;
}
.stav_projektu .text_circle:after,.stav_projektu .text_circle:before {background-color: grey;}
.line_box h4 {
	color: #000000;
	font-weight: bold;
}
.line_box h4,.line_box p {
	font-size: 12px;
	margin-bottom: 0;
	padding: 0 5px;
	text-align: center;
	white-space: break-spaces;
	line-height: 1.3;
}
.text_circle{
	position: relative;
	width: 120px;
	height: 60px;
}
.subline {
	position: absolute;
	left: 0;
	bottom: -100%;
    width: 100%;
    height: 60px;
}

.subline h6 {margin-bottom: 0;}
.timeline {margin: 40px 0;}
.text_circle.done:after,.text_circle.done + .text_circle:before,.stav_projektu .text_circle.done:after,.stav_projektu .text_circle.done + .text_circle:before {background-color: #3e59e3;}
.text_circle.sub:after {background-color: #3e59e3;}
.text_circle:not(:first-child):before {
	bottom: 1.25em;
	content: "";
	display: block;
	height: 3px;
	position: absolute;
	left: 0;
	width: 50%;
	z-index: 1;
	background-color: grey;
}
.stav_projektu .text_circle:not(:first-child):before {background-color: grey;}
.text_circle:last-child:after {width: 0;}
.circle {height: 100%;}
.tvar {
	height: 20px;
	width: 20px;
	border: 2px solid #3e59e3;
	display: flex;
	position: relative;
	border-radius: 100%;
	top: -30px;
	margin: 3px auto;
	background-color: #fff;
	z-index: 2;
}
.tvar span {
	margin: 25% auto;
	height: 8px;
	width: 8px;
	background-color: #3e59e3;
	border-radius: 100%;
	color: #fff;
}
.stav_projektu .tvar {border: 2px solid grey;}
.stav_projektu .done .tvar,.stav_projektu .sub .tvar {border: 2px solid #3e59e3; height: 20px;}
.subline h6 {color: #3e59e3;}
.timeline .card-header:hover {
	background-color: #ececec;
	cursor: pointer;
}
// process end
.dash-pagination .MuiPagination-ul li  .Mui-selected{
    background-color: #ffffff !important;
    color: #3e59e3 !important;
    border: 2px solid #3e59e3;
    // border-radius: 90%;
}
.dash-pagination .MuiPagination-ul li  button{
    // border-radius: 90%;
    background-color: #EAEAEA;
    border: 2px solid #EAEAEA;
}
.dash-pagination ul{
    justify-content: end;
}
.lead-modal .modal-dialog{
    max-width: 800px;
    width: 100%;
}
.fade.wpModal.lead-modal.modal p {
    font-size: 13px;
}
  
.breadcrumb  a:not([href]):not([class]):hover{
    color: #fff !important;
}

// .breadcrumb a:not([href]):not([class]){
//     color: #ffffff !important;
// }
.searchbox{
    max-width: 250px;
}
.searchbox .input-group-text{
    background-color: #3e59e3;
    color: #ffffff;
    border: 1px solid #3e59e3;
}
.form-control:focus{
    box-shadow: none;
}