
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');

// 24/05/23
.container {
    max-width: 100% !important;
    padding: 0px 30px !important;
    width: 100% !important;
}
body{
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
}
.right-heder-content {
    text-align: right;
    margin-top: 10px;
    color: #273F87;

}

.header__links span i {
    font-size: 30px;
    color: #872727;
}

.right-heder-content ul li span {
    font-size: 20px !important;
}

.welcome-box {
    border: 1px solid #273F87;
    padding: 10px 15px;
    margin-left: 20px;
    border-radius: 20px;
    text-align: center;
    width: 210px;
    color: #273F87;
    margin-bottom: 13px;
    font-size: 12px;
    font-family: 'Poppins', sans-serif;
}

.welcome-box span {
    font-size: 20px !important;
    padding-right: 10px;
    margin: 0;
}

// header

.MachadaloHeader {
    font-family: sans-serif;
    text-align: center;
}

.header__links {
    width: 30px;
}

.header__links ul li span {
    width: 30px;
}
.h4-heading{
    font-size: 20px !important;font-family: 'Inter', sans-serif;
    font-weight: 400;
}

// headerr
// datefilter
@media (min-width: 1400px) {

    // .css-1oqqzyl-MuiContainer-root {
    //     max-width: 1400px !important;
    // }
}


.main-content .calander span {
    padding-left: 10px;
    padding-top: 10px;
}

.main-content {
    margin: 0px;
    border: 1px solid black;
    width: 100%;
    height: 40px;
    border-radius: 20px;
    // padding-top: 10px;
    // background-color: #F7F7F7;
    background-color: #e0e0e0;
    padding: 5px 15px;
}

.main-content .timing {
    width: 55%;
    text-align: center;
    margin-left: auto;
}





.dx {
    display: flex;
    margin-top: 97px;
    margin-bottom: 58px;
}
.nav-lead-tab{    
    // background-color: #3c1eb5;
    margin-top: 30px;
}
.nav-lead-tab li{
    width: 50%;
}
.nav-lead-tab button.nav-link.active{
    width: 100%;
    color: #fff;
    background: #1a2b5b !important;
}
.nav-lead-tab button{
    width: 100%;
    color: #fff;
    background-color: #273f87 !important;
    border: 0px solid !important;
    padding: 20px 10px;
    font-family: 'Poppins', sans-serif;
    border-radius: 0px !important;
    font-size: 14px;
}
.nav-lead-tab button:hover{
    color: #fff;
}
.dash-table tr th {
    background: rgb(43, 43, 43);
    background: linear-gradient(0deg, rgb(43, 43, 43) 35%, rgb(105, 102, 102) 100%);
    color: #ffffff !important;
    font-size: 13px;
    padding: 15px 19px !important;
}

// table
.sn-table {
    width: 40px;
    padding: 11px 11px !important ;
}
@media only screen and (max-width: 600px) and (min-width: 992px) {
    .dx {

        display: block;
    }

    .graph-chart canvas {
        width: 571px !important;
        height: 300px !important;
        display: block;

        padding: 30px;
    }

    .right-heder-content ul li {
        padding-left: 0px;
    }
}

.leads-table {
    border: 1px #D3D3D3 solid;
}

.lead-btn {
    font-weight: 600 !important;
}

.lead-btn:hover {
    background-color: #1a2b5b !important;
    color: #fff;
    border-color: #1a2b5b !important;
}
.action-icon svg{
    width: 13px;
    height: 13px;
}
.leads-table .leads-tbody tr th {
    // background: linear-gradient(to bottom, #696666 0%, #2b2b2b 100%);
    background: rgb(39 63 135);
    background: -moz-linear-gradient(0deg, rgb(39 63 135) 35%, rgb(26 43 91) 100%);
    background: -webkit-linear-gradient(0deg, rgb(39 63 135) 35%, rgb(26 43 91) 100%);
    background: linear-gradient(0deg, rgb(39 63 135) 35%, rgb(26 43 91) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#2b2b2b", endColorstr="#696666", GradientType=1);
    color: #fff !important;
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
    padding: 11px 11px !important;
    white-space: break-spaces;
    align-items: start;
    vertical-align: unset;
    line-height: 1.3;
}

.nested-table {
    background-color: #FEEDDE;
}


.btn:hover {
    color: none;
    background-color: #ffffff;
    border-color: #ffffff;
}


.btn {
    font-family: Inter;
    font-size: 12px !important;
    font-weight: 600;
    line-height: 15px;
    text-align: left;

}

.nested-leads-table {
    border: 1px #D3D3D3 solid;
}

.action-icon span {
    border: 1px solid #1a2b5b;
    border-radius: 16px;
    margin-left: 5px !important;
    display: inline-flex;
    width: 30px;
    height: 30px;
    align-items: center;
    justify-content: center;
}

.action-icon span:hover {
    background-color: black;
    color: #fff;
}

table tbody tr td,
table tbody tr th {
    padding: 5px 11px !important;
    vertical-align: middle;
}

thead,
tbody,
tfoot,
tr,
td,
th {
    border-color: inherit;
    border-style: none;
    border-width: 0;
    font-size: 13px;
    height: 40px;
}
table .btn{
    padding: 4px 10px;
}

.nested-leads-table .leads-tbody tr th {
    text-transform: capitalize !important;

}

.nested-leads-table-colspan {
    padding: 0px 0px 10px 0px !important;
}


/* Breadcrumb */


.title-definiton {
    width: 500px;
    margin-bottom: 30px;
}

.breadcrumb {
    list-style-type: none;
    padding: 0;
}

.breadcrumb li {
    display: inline-block;
    position: relative;
    margin: 10px 10px;

    // Last child
    &:last-child {
        a {
            cursor: default;
        }

        &::before,
        &::after {
            background: #1a2b5b;
        }
    }

    // :Hover
    &:not(:last-child):hover {

        &::before,
        &::after {
            background: #1a2b5b;
            color: #fff;
        }
    }

    &::before,
    &::after {
        content: '';
        position: absolute;
        left: 0;
        height: 58%;
        width: 100%;
        background: white;
        border-left: 2px solid #1a2b5b;
        border-right: 2px solid #1a2b5b;
        z-index: -2;
    }

    &::before {
        top: -2px;
        transform: skew(30deg);
        border-top: 2px solid #1a2b5b;
    }

    &::after {
        bottom: -2px;
        transform: skew(-30deg);
        border-bottom: 2px solid #1a2b5b;
    }
}

.breadcrumb a {
    display: inline-block;
    position: relative;
    line-height: 1.9;
    padding: 1px 20px;
    color: #0e0000;
    font-weight: 400;
    text-decoration: none;
    font-size: 16px;
}

.breadcrumb a:hover {
    color: #fff;
}




/* Breadcrumb */

// modal css


.wpModal .modal-header {
    background-color: #1a2b5b;
  }
  
  .wpModal .modal-header .modal-title {
    background-color: #1a2b5b;
  }
  
  .wpModal .wp-form label {
    margin-bottom: 15px !important;
  }
  
  .wpModal .modal-body button {
    margin-top: 20px;
    padding: 10px 22px;
    font-size: 14px !important;
    text-transform: uppercase;
    background-color: #1a2b5b !important;
  }
  
  .wpModal button.dropdown-toggle ,.wpModal button.dropdown-toggle:hover {
    width: 100%;
    background-color: #fff;
    color: #000000 !important;
    background-color: #1a2b5b00 !important;
    padding: 9px 10px;
    font-size: 14px !important;
    margin-top: 20px;
    position: relative;
    margin-bottom: 20px;
    border: 1px solid #ced4da;
    font-family: "Segoe UI", Roboto;
    font-weight: 400;
  }
  
  .email-dropdown .dropdown-menu.show {
    width: 100%;
  }
  
  .email-dropdown .dropdown-item {
    font-size: 14px !important;
  }
  
  .email-dropdown .dropdown-toggle:hover {
    border-color: #ced4da !important;
  }
  
  .btn:focus-visible {
    box-shadow: none !important;
    outline: none;
  }
  
  .email-dropdown .dropdown-toggle:first-child:active {
    background-color: inherit;
    color: #000000;
  }
  
  .email-modal .email-form-control label {
    padding-bottom: 10px;
  }
  
  .email-dropdown .dropdown-toggle::after {
    right: 13px;
    position: absolute;
    top: 16px;
  }
  
  .modal .btn:hover, .modal .submit-btn {  
    margin-top: 20px;
    padding: 10px 22px;
    font-size: 14px !important;
    text-transform: uppercase;
    background-color: #1a2b5b !important;
    color: #ffffff !important;
  
  }
  .email-btn-group{
    align-items: center;
    text-align: center;
  }
  .email-btn-group .btn{
    margin-top: 20px;
    padding: 10px 22px;
    font-size: 14px !important;
    text-transform: uppercase;
    background-color: #1a2b5b !important;
    white-space: normal;
    text-align: center;
  }
  .strip-div {
    background-color: #1a2b5b;
    color: #fff;
    margin-top: 20px !important;
    padding: 5px 10px;
  }
  .fullwidth{
    width: 100%;
  }
  .status-div textarea{
    border: 1px solid #ced4da;
  }
  html body .status-div .dropdown-toggle, html body .status-div .dropdown-toggle:hover{
    width: 100%;
    color: #000000 !important;
    background-color: #ffffff !important;
    padding: 9px 10px;
    font-size: 14px !important;
    margin: 5px 3px !important;
    position: relative;
    margin-bottom: 20px;
    border: 1px solid #ced4da;
    font-family: "Segoe UI", Roboto;
    font-weight: 400;
    max-width: 200px;
    width: 100%;
    min-width: 150px;
    text-transform: capitalize !important;
  }
  .p-0{
    padding: 0px !important;
    margin: 0px ;
  }
//   modal css ends
.breadcrumb a:not([href]):not([class]):hover
{
    color: #ffffff;
}
.breadcrumb li:last-child a{
    color: #ffffff;
}
.wpModal .btn-close{
    color: #ffffff;
    background: none;
    transform: rotate(45deg);
    font-size: 30px;
}
.wpModal .btn-close:before{
    content: "+";
}
.table-dropdown-status .btn-success,.table-dropdown-status .btn-success:hover{
    background-color: #1a2b5b;
    font-size: 12px;
}
.table-dropdown-status .dropdown-item{
    font-size: 12px !important;
}
.table-dropdown-status .dropdown-item.active{
    background-color: #1a2b5b;
}