<link rel="stylesheet" href="modules/pages/releaseCampaignPlan/releaseCampaign.tmpl.css" />
<link rel="stylesheet" href="modules/common/loadingicon/loading-spinner.tmpl.css" />
<!-- <div ng-loading="loading"></div> -->
<div style="margin-top: 10px">
  <nav-bar></nav-bar>
</div>
</br></br></br>
<main class="suspense-lead-sheet-page" ng-class="{ 'menu-collapsed': $baSidebarService.isMenuCollapsed() }">

  <div class="" permission="[]">
    <!-- <div class="breadcrumb" ncy-breadcrumb></div> -->
  </div>
  <div class="middle-section">
  <div class="suspense-lead-sheet">
    <h3>Suspense Lead</h3>
  </div>
  <div class="wrapperBox" ng-init="getAllSuspenseLeads(); initialData() ">
    <!-- <div class="middle-section"> -->
    <div class="al-main">
      <div class="al-content">
        <uib-tabset class="dashboard-tab styled-tabs" active="selectTabIndex.value">
          <uib-tab id="uib-tabs-width" ng-click="getCampaignsList()" index="0">
            <uib-tab-heading>
              <h5>All</h5>
            </uib-tab-heading>
            <div class="panel-body table-style">
              <div class="table-wrapper" style="overflow-x: auto;">
                <table class="table table-striped table-bordered table-suppliers release_plan_table"
                  data-ng-init="initTable()">
                  <thead>
                    <tr>
                      <th class="alignment">Sr No</th>
                      <th class="alignment">Phone Number</th>
                      <th class="alignment">Sector</th>
                      <th class="alignment">Sub Sector</th>
                      <th class="alignment">Current Partner</th>
                      <th class="alignment">Current Partner Feedback</th>
                      <th class="alignment">Reason</th>
                      <th class="alignment">Preferred Partner</th>
                      <th class="alignment">Implementation TimeLine</th>
                      <th class="alignment">Meeting TimeLine</th>
                      <th class="alignment">L1 Answers</th>
                      <th class="alignment">L2 Answers</th>
                      <th class="alignment">Lead Status</th>
                      <th class="alignment">Callback Preference</th>
                      <th class="alignment">Comment</th>
                      <th class="alignment">Time Stamp</th>
                      <th class="alignment">Chat</th>
                      <th class="alignment">Action 1</th>
                      <th class="alignment">Action 2</th>
                    </tr>
                  </thead>
                  <!-- <tbody>
                    <tr>
                      <td class="alignment">1</td>
                      <td class="alignment">Machadalo</td>
                      <td class="alignment">Indore</td>
                      <td class="alignment">action</td>
                    </tr>
                    <tr>
                      <td class="alignment">1</td>
                      <td class="alignment">Machadalo</td>
                      <td class="alignment">Indore</td>
                      <td class="alignment">action</td>
                    </tr>
                  </tbody> -->
                </table>
              </div>
            </div>
          </uib-tab>

          <uib-tab id="uib-tabs-width" active="activeTab" ng-click="getLeadsTabSuspenseLeads();setCurrentPage('lead')" index="1">
            <uib-tab-heading>
              <h5>Leads</h5>
            </uib-tab-heading>
            <div class="panel-body table-style">
              <div class="table-wrapper scroll-tbody" style="overflow-x: auto;">
                <table class="table table-striped table-bordered table-suppliers release_plan_table"
                  data-ng-init="initTable()">
                  <thead>
                    <!-- <button class="btn btn-danger" ng-click="showHideRow()">{{newRowShowHide?'Remove':'Add New'}}</button> -->
                    <tr>
                      <th>Sr No</th>
                      <th class="alignment">Phone Number</th>
                      <th class="alignment">Sector</th>
                      <th class="alignment">Sub Sector</th>
                      <th class="alignment">Current Partner</th>
                      <th class="alignment">Current Partner Feedback</th>
                      <th class="alignment">Reason</th>
                      <th class="alignment">Preferred Partner</th>
                      <th class="alignment">Implementation TimeLine</th>
                      <th class="alignment">Meeting TimeLine</th>
                      <th class="alignment">L1 Answers</th>
                      <th class="alignment">L2 Answers</th>
                      <th class="alignment">L3 Answers</th>
                      <th class="alignment">Lead Status</th>
                      <th class="alignment">Callback Preference</th>
                      <th class="alignment">Comment</th>
                      <th class="alignment">Time Stamp</th>
                      <th class="alignment">Calling State</th>
                      <th class="alignment">Internal Comment</th>
                      <th class="alignment">Chat</th>
                      <th class="alignment">Action 1</th>
                      <th class="alignment">Action 2</th>
                    </tr>
                  </thead>
                  <tbody ng-if="loading">
                    <tr style="background-color:rgb(146 25 35 / 16%);">
                    <td>New Row</td>                   
                    <td class="alignment">
                      <input type="text" ng-model="newRowData.phone_number" name="Phone Number"
                      class="form-control" placeholder="Phone Number">
                    </td>
                    <td class="alignment">
                      <select class="form-control"
                        ng-model="newRowData.sector"
                        ng-change='suspenseLeadFilterData(newRowData.sector)'
                        ng-options="sector.id as sector.business_type for sector in sectorList | orderBy: 'business_type'">
                        <option value="">Select Sector</option>
                      </select>
                    </td>
                    <td class="alignment">
                      <select class="form-control"
                        ng-model="newRowData.subSector"
                        ng-options="subSector.id as subSector.business_sub_type for subSector in newRowSub_sectorList | orderBy: 'business_type'">
                        <option value="">Select Sub Sector</option>
                      </select>
                    </td>
                    <td class="alignment">
                      <select class="form-control" name="current_patner_{{$index}}" id="current_patner_id_{{$index}}"
                        ng-model="newRowData.current_patner">
                        <option value="" disabled>Select Current Partner</option>
                        <option ng-repeat="cpartner in newRowPreferred_partnerList track by $index"
                          value="{{cpartner.organisation_id}}">
                          {{cpartner.name}}
                        </option>
                      </select>
                      <input style="margin-top:10px" type="text" class="form-control"
                        placeholder="Other Current Company"
                        name="currentCompanyOther" id="currentCompanyOtherId_{{$index}}"
                        ng-model="newRowData.current_patner_other">
                    </td>
                    <td class="alignment">
                        <select class="form-control" name="current_patner_feedback" id="current_patner_feedback_id_{{$index}}"
                        ng-model="newRowData.current_patner_feedback" >
                        <option value="" disabled>Select Current Partner Feedback</option>
                        <option ng-repeat="cpartnerfeedback in current_patner_feedback track by $index"
                          value="{{cpartnerfeedback}}">
                          {{cpartnerfeedback}}
                        </option>
                      </select>
                    </td>
                    <td class="alignment">
                      <input type="text" ng-model="newRowData.current_patner_feedback_reason"
                        name="current_patner_feedback_reason" class="form-control"
                        placeholder="Current Patner Feedback Reason"
                        id="current_patner_feedback_reason_id_{{$index}}">
                    </td>

                    <td class="alignment">
                      <span style="width:150px;" class="multiselectDropdown"
                        style="color:red;width:100%;margin-left:20px;" ng-dropdown-multiselect=""
                        options="newRowPreferred_partnerList" extra-settings="dropdownSettings"
                        selected-model="newSelected_preferred_patner" ng-click="leadPreferredMulticheck($index)"
                        translation-texts="selected_business_type" events="events"></span>
                      <span ng-repeat="selectedName in newSelected_preferred_patner" class="custom-dropdown"
                        style="text-align: left; display: inline-block">
                        {{selectedName.name}}
                        <span ng-if="!$last">,</span>
                      </span>
                      <input style="margin-top:10px" type="text" class="form-control"
                        placeholder="Other Preferred Company"
                        name="other_preferred_company" id="other_preferred_company_{{$index}}"
                        ng-model="newRowData.prefered_patner_other">
                    </td>

                    <td class="alignment">
                      <select class="form-control" name="implementation_{{$index}}" id="implementation_id_{{$index}}"
                        ng-model="newRowData.implementation_timeline">
                        <option value="" disabled>Select Implementation Time</option>
                        <option ng-repeat="(key,value) in implementationTime track by $index" value="{{key}}">
                          {{value}}
                        </option>
                      </select>
                    </td>

                    <td class="alignment" class="form-group">
                      <select class="form-control" name="meating_time_{{$index}}" id="meating_time_id_{{$index}}"
                        ng-model="newRowData.meating_timeline">
                        <option value="" disabled>Select Meeting Time</option>
                        <option ng-repeat="(key,value) in meetingTime track by $index" value="{{key}}">
                          {{value}}
                        </option>
                      </select>
                    </td>

                    <td class="alignment">
                      <select class="form-control" ng-model="newRowData.L4">
                        <option value="" disabled>Select</option>
                        <option ng-repeat="lead_L4 in filterLeadData[sector_id].L4" value="{{lead_L4}}">
                          {{lead_L4}}
                        </option>
                      </select>
                    </td>
                    <td class="alignment">
                      <select class="form-control" ng-model="newRowData.L5">
                        <option value="" disabled>Select</option>
                        <option ng-repeat="lead_L5 in filterLeadData[sector_id].L5" value="{{lead_L5}}">
                          {{lead_L5}}
                        </option>
                      </select>
                    </td>
                    <td class="alignment">
                      <select class="form-control" ng-model="newRowData.L6">
                        <option value="" disabled>Select</option>
                        <option ng-repeat="lead_L6 in filterLeadData[sector_id].L6" value="{{lead_L6}}">
                          {{lead_L6}}
                        </option>
                      </select>
                    </td>
                    <td class="alignment">
                      {{leadData.lead_status}}
                    </td>
                    <td class="alignment">
                      <select class="form-control"
                        name="call_back_time_{{$index}}" id="call_back_time_id_{{$index}}"
                        ng-model="newRowData.call_back_preference"
                        style="width:150px;">
                        <option value="" disabled>Select Call Back Time</option>
                        <option ng-repeat="(key,value) in call_back_time track by $index"
                          value="{{key}}">
                          {{value}}
                        </option>
                      </select>
                    </td>
                    
                    <td class="alignment">
                      <textarea placeholder="Comment" class="form-control" ng-model="newRowData.comment" rows="4"
                        cols="50">
                      </textarea>
                    </td>
                    <td class="alignment">
                      <p> Submitted: {{leadData.created_at | date:'medium' }} </p>
                    </td>
                    <td class="alignment">
                      <p> {{leadData.calling_state }} 

                        {{leadData.calling_state_time }} 
                      </p>
                    </td>
                    <td class="alignment">
                      <textarea placeholder="Internal Comment" class="form-control" ng-model="newRowData.internal_comment" rows="4"
                        cols="50">
                      </textarea>
                    </td>
                   
                    <td class="alignment">
                      <!-- <button style="margin-bottom:2px" type="button" name="button" class="btn btn-info" ng-click="SaveNewRowData(newRowData)">Save</button> -->
                    </td>

                    <td class="alignment">
                      <button style="margin-bottom:2px" type="button" name="button" class="btn btn-info" ng-click="SaveNewRowData(newRowData)">Save</button>
                      <!-- <button style="margin-bottom:2px" type="button" name="button" class="btn btn-success btn-small"
                        data-target="#companyDetailModal" ng-click="supplierForAddUpdate($index)" data-toggle="modal">Add/Update Supplier</button> -->
                    </td>

                    <td class="alignment">
                      <!-- <button style="margin-bottom:2px"  type="button" name="button" ng-click="opsVerify(leadData._id)" class="btn btn-success" ng-disabled="leadData.is_updated == 'False'">Ops
                        Verify</button>-->
                    </td>
                  </tr>
                    
                      <tr ng-if="leadTabData.length > 0 && loading"
                        dir-paginate="leadData in leadTabData | itemsPerPage:itemsPerPage"
                        total-items="totalCount" current-page="pagination.current" track by "$index">
                      <td>{{$index+serial}}</td>                     
                      <td class="alignment">{{leadData.phone_number}}</td>
                      <td class="alignment">
                        <select class="form-control" name="city" id="city_id" 
                          ng-model="leadData.sector_id"
                          ng-change='suspenseLeadFilterData(leadData.sector_id,$index)'
                          ng-options="sector.id as sector.business_type for sector in sectorList | orderBy: 'business_type'">
                          <option value="">Select Sector</option>
                        </select>
                      </td>
                      <td class="alignment">{{leadData.sub_sector_name}}</td>
                      <!-- <td class="alignment">
                        <select class="form-control"
                          ng-model="leadData.sub_sector_name"
                          ng-options="subSector.business_sub_type as subSector.business_sub_type for subSector in suspenseSub_sectorList | orderBy: 'business_type'">
                          <option value="">Select Sub Sector</option>
                        </select>
                      </td> -->
                      <td class="alignment">
                        <select class="form-control" name="current_patner_{{$index}}" id="current_patner_id_{{$index}}"
                          ng-model="leadData.current_patner">
                          <option value="" disabled>Select Current Partner</option>
                          <option
                            ng-if="leadData.sector_id==cpartner.business_type[0]" 
                            ng-repeat="cpartner in companiesData track by $index"
                            value="{{cpartner.organisation_id}}">
                            {{cpartner.name}}
                          </option>
                        </select>
                        <input style="margin-top:10px" type="text" class="form-control"
                          placeholder="Other Current Company" ng-if="leadData.current_patner == ''"
                          name="currentCompanyOther" id="currentCompanyOtherId_{{$index}}"
                          ng-model="leadData.current_patner_other">
                      </td>
                      <td class="alignment">
                        <!-- <input type="text" ng-model="leadData.current_patner_feedback" name="current_patner_feedback"
                          class="form-control" placeholder="Current Patner Feedback"
                          id="current_patner_feedback_id_{{$index}}"> -->

                          <select class="form-control" name="current_patner_feedback" id="current_patner_feedback_id_{{$index}}"
                          ng-model="leadData.current_patner_feedback" >
                          <option value="" disabled>Select Current Partner Feedback</option>
                          <option ng-repeat="cpartnerfeedback in current_patner_feedback track by $index"
                            value="{{cpartnerfeedback}}">
                            {{cpartnerfeedback}}
                          </option>
                        </select>
                      </td>
                      <td class="alignment">
                        <input type="text" ng-model="leadData.current_patner_feedback_reason"
                          name="current_patner_feedback_reason" class="form-control"
                          placeholder="Current Patner Feedback Reason"
                          id="current_patner_feedback_reason_id_{{$index}}">
                      </td>

                      <td class="alignment">
                        {{suspenseLeadsPreferredPartner(leadData.sector_id)}}
                        <span style="width:150px;" class="multiselectDropdown"
                          style="color:red;width:100%;margin-left:20px;" ng-dropdown-multiselect=""
                          options="companiessuspenseLeads" extra-settings="dropdownSettings"
                          selected-model="leadData.selected_preferred_patner" ng-click="leadPreferredMulticheck($index)"
                          translation-texts="selected_business_type" events="events"></span>
                        <span ng-repeat="selectedName in leadData.selected_preferred_patner" class="custom-dropdown"
                          style="text-align: left; display: inline-block">
                          {{selectedName.name}}
                          <span ng-if="!$last">,</span>
                        </span>
                        <input style="margin-top:10px" type="text" class="form-control"
                          placeholder="Other Preferred Company" ng-if="leadData.otherPreferredPatner"
                          name="other_preferred_company" id="other_preferred_company_{{$index}}"
                          ng-model="leadData.prefered_patner_other">
                      </td>

                      <td class="alignment">
                        <select class="form-control" name="implementation_{{$index}}" id="implementation_id_{{$index}}"
                          ng-model="leadData.implementation_timeline">
                          <option value="" disabled>Select Implementation Time</option>
                          <option ng-repeat="(key,value) in implementationTime track by $index" value="{{key}}">
                            {{value}}
                          </option>
                        </select>
                      </td>

                      <td class="alignment" class="form-group">
                        <select class="form-control" name="meating_time_{{$index}}" id="meating_time_id_{{$index}}"
                          ng-model="leadData.meating_timeline">
                          <option value="" disabled>Select Meeting Time</option>
                          <option ng-repeat="(key,value) in meetingTime track by $index" value="{{key}}">
                            {{value}}
                          </option>
                        </select>
                      </td>

                      <!-- <td class="alignment">
                        <span>{{leadData.l1_answers}}
                          <p>{{leadData.l1_answer_2}}</p>
                        </span>
                      </td>
                      <td class="alignment">
                        <span>{{leadData.l2_answers}}
                          <p>{{leadData.l2_answer_2}}</p>
                        </span>
                      </td>
                        <td class="alignment">
                          <textarea placeholder="L3 Answer" class="form-control" ng-model="leadData.l3_answer_1" rows="4"
                            cols="50">
                          </textarea>
                          <span>
                            <p>{{leadData.l3_answer_2}}</p>
                          </span>
                        </td> -->
                        <td class="alignment">
                          <select class="form-control" ng-model="leadData.l1_answers">
                            <option value="" disabled>Select</option>
                            <option ng-repeat="lead_L4 in filterLeadData[leadData.sector_id].L4" value="{{lead_L4}}">
                              {{lead_L4}}
                            </option>
                          </select>
                        </td>
                        <td class="alignment">
                          <select class="form-control" ng-model="leadData.l1_answer_2">
                            <option value="" disabled>Select</option>
                            <option ng-repeat="lead_L5 in filterLeadData[leadData.sector_id].L5" value="{{lead_L5}}">
                              {{lead_L5}}
                            </option>
                          </select>
                        </td>
                        <td class="alignment">
                          <select class="form-control" ng-model="leadData.l2_answers">
                            <option value="" disabled>Select</option>
                            <option ng-repeat="lead_L6 in filterLeadData[leadData.sector_id].L6" value="{{lead_L6}}">
                              {{lead_L6}}
                            </option>
                          </select>
                        </td>
                        
                    
                      <td class="alignment">
                        {{leadData.lead_status}}
                      </td>
                      <!-- <td class="alignment">
                        <input type="text" ng-model="leadData.call_back_preference" name="call_back_preference"
                          class="form-control" placeholder="Call Back Preference"
                          id="call_back_preference_id_{{$index}}">
                      </td> -->

                      <td class="alignment">
                        <select class="form-control"
                          name="call_back_time_{{$index}}" id="call_back_time_id_{{$index}}"
                          ng-model="leadData.call_back_preference"
                          style="width:150px;">
                          <option value="" disabled>Select Call Back Time</option>
                          <option ng-repeat="(key,value) in call_back_time track by $index"
                            value="{{key}}">
                            {{value}}
                          </option>
                        </select>
                      </td>
                      
                      <td class="alignment">
                        <textarea placeholder="Comment" class="form-control" ng-model="leadData.comment" rows="4"
                          cols="50">
                        </textarea>
                      </td>
                      <td class="alignment">
                        <p> Submitted: {{leadData.created_at | date:'medium' }} </p>
                      </td>
                      <td class="alignment">
                        <p> {{leadData.calling_state }} 

                          {{leadData.calling_state_time }} 
                        </p>
                      </td>
                      <td class="alignment">
                        <textarea placeholder="Internal Comment" class="form-control" ng-model="leadData.internal_comment" rows="4"
                          cols="50">
                        </textarea>
                      </td>
                     
                      <td class="alignment">
                        <button style="margin-bottom:2px" type="button" name="button" class="btn btn-info">View &
                          Intervene</button>
                      </td>

                      <td class="alignment">
                        <button style="margin-bottom:2px" type="button" name="button" class="btn btn-success btn-small"
                          data-target="#companyDetailModal" ng-click="supplierForAddUpdate($index)" data-toggle="modal">Add/Update Supplier</button>
                        <button style="margin-bottom:2px" type="button" name="button"
                          class="btn btn-success btn-small"  data-target="#pocModal"  ng-click="openAddPoc(leadData._id,leadData.supplier_type)" ng-disabled="leadData.is_updated == 'False'" data-toggle="modal">Add POC</button>
                        <button style="margin-bottom:2px" type="button" ng-disabled="leadData.is_updated == 'False'" name="button"
                          class="btn btn-success btn-small">Add RE</button>
                      </td>

                      <td class="alignment">
                        <button style="margin-bottom:2px"  type="button" name="button" ng-click="opsVerify(leadData._id)" class="btn btn-success" ng-disabled="leadData.is_updated == 'False'">Ops
                          Verify</button>
                        <button style="margin-bottom:2px" type="button" name="button" class="btn btn-success"
                          ng-click="updateLeadTab($index)">Update</button>
                        <button style="margin-bottom:2px" type="button" name="button" class="btn btn-danger"
                          ng-click="removeSuspenseLead(leadData._id,$index)">Remove</button>
                      </td>
                    </tr>
                  </tbody>
                </table>
                <div ng-if="!loading" ng-loadings="loading"></div>
                <div ng-if="leadTabData.length == 0 && loading" style="text-align: center;color: red;">
                  <h4>Record Not Found.</h4>
                </div>
                <dir-pagination-controls ng-if="leadTabData.length > 0 && selectedTab == 'lead'" max-size="10" on-page-change="pageChanged(newPageNumber)" direction-links="true"
                  boundary-links="true">
                </dir-pagination-controls>
              </div>
            </div>
          </uib-tab>

          <uib-tab id="uib-tabs-width" ng-click="getBrowsedTabSuspenseLeads();setCurrentPage('browsed')" index="2">
            <uib-tab-heading>
              <h5>Browsed Lead</h5>
            </uib-tab-heading>
            <div class="panel-body table-style">
              <div class="table-wrapper scroll-tbody" style="overflow-x: auto;">
                <table class="table table-striped table-bordered table-suppliers release_plan_table">
                  <thead>
                    <tr>
                      <th>Sr No</th>
                      <th class="alignment">Phone Number</th>
                      <th class="alignment">Sector</th>
                      <th class="alignment">Sub Sector</th>
                      <th class="alignment">Current Partner</th>
                      <th class="alignment">Current Partner Feedback</th>
                      <th class="alignment">Reason</th>
                      <th class="alignment">Preferred Partner</th>
                      <th class="alignment">Implementation TimeLine</th>
                      <th class="alignment">Meeting TimeLine</th>
                      <th class="alignment">L1 Answers</th>
                      <th class="alignment">L2 Answers</th>
                      <th class="alignment">L3 Answers</th>
                      <th class="alignment">Lead Status</th>
                      <th class="alignment">Callback Preference</th>
                      <th class="alignment">Comment</th>
                      <th class="alignment">Time Stamp</th>
                      <th class="alignment">Calling State</th>
                      <th class="alignment">Internal Comment</th>
                      <th class="alignment">Chat</th>
                      <th class="alignment">Action 1</th>
                      <th class="alignment">Action 2</th>
                    </tr>
                  </thead>
                  <tbody ng-if="loading">
                    <!-- <div ng-loading="loading"></div> -->
                      <tr ng-if="leadTabData.length > 0"
                        dir-paginate="browseData in leadTabData | itemsPerPage:itemsPerPage"
                        total-items="totalCount" current-page="pagination.current" track by "$index">
                      <td>{{$index+serial}}</td>
                      <td class="alignment">{{browseData.phone_number}}</td>
                      <td class="alignment">{{browseData.sector_name}}</td>
                      <td class="alignment">{{browseData.sub_sector_name}}</td>
                      <td class="alignment">
                        <select class="form-control" name="current_patner_{{$index}}" id="browes_current_patner_id_{{$index}}"
                          ng-model="browseData.current_patner">
                          <option value="" disabled>Select Current Partner</option>
                          <option ng-repeat="cpartner in companiesData track by $index"
                            value="{{cpartner.organisation_id}}">
                            {{cpartner.name}}
                          </option>
                        </select>
                        <input style="margin-top:10px" type="text" class="form-control"
                          placeholder="Other Current Company" ng-if="browseData.current_patner == ''"
                          name="currentCompanyOther" id="browesCurrentCompanyOtherId_{{$index}}"
                          ng-model="browseData.current_patner_other">
                      </td>
                      <td class="alignment">
                          <select class="form-control" name="current_patner_feedback" id="browes_current_patner_feedback_id_{{$index}}"
                          ng-model="browseData.current_patner_feedback" >
                          <option value="" disabled>Select Current Partner Feedback</option>
                          <option ng-repeat="cpartnerfeedback in current_patner_feedback track by $index"
                            value="{{cpartnerfeedback}}">
                            {{cpartnerfeedback}}
                          </option>
                        </select>
                      </td>
                      <td class="alignment">
                        <input type="text" ng-model="browseData.current_patner_feedback_reason"
                          name="current_patner_feedback_reason" class="form-control"
                          placeholder="Current Patner Feedback Reason"
                          id="browes_current_patner_feedback_reason_id_{{$index}}">
                      </td>
                      <td class="alignment">
                        <span style="width:150px;" class="multiselectDropdown"
                          style="color:red;width:100%;margin-left:20px;" ng-dropdown-multiselect=""
                          options="companiesData" extra-settings="dropdownSettings"
                          selected-model="browseData.selected_preferred_patner" ng-click="leadPreferredMulticheck($index)"
                          translation-texts="selected_business_type" events="events"></span>
                        <span ng-repeat="selectedName in browseData.selected_preferred_patner" class="custom-dropdown"
                          style="text-align: left; display: inline-block">
                          {{selectedName.name}}
                          <span ng-if="!$last">,</span>
                        </span>
                        <input style="margin-top:10px" type="text" class="form-control"
                          placeholder="Other Preferred Company" ng-if="browseData.otherPreferredPatner"
                          name="other_preferred_company" id="browes_other_preferred_company_{{$index}}"
                          ng-model="browseData.prefered_patner_other">
                      </td>
                      <td class="alignment">
                        <select class="form-control" name="implementation_{{$index}}" id="browes_implementation_id_{{$index}}"
                          ng-model="browseData.implementation_timeline">
                          <option value="" disabled>Select Implementation Time</option>
                          <option ng-repeat="(key,value) in implementationTime track by $index" value="{{key}}">
                            {{value}}
                          </option>
                        </select>
                      </td>
                      <td class="alignment" class="form-group">
                        <select class="form-control" name="meating_time_{{$index}}" id="browes_meating_time_id_{{$index}}"
                          ng-model="browseData.meating_timeline">
                          <option value="" disabled>Select Meeting Time</option>
                          <option ng-repeat="(key,value) in meetingTime track by $index" value="{{key}}">
                            {{value}}
                          </option>
                        </select>
                      </td>
                      <td class="alignment">
                        <span>{{browseData.l1_answers}}
                          <p>{{browseData.l1_answer_2}}</p>
                        </span>
                      </td>
                      <td class="alignment">
                        <span>{{browseData.l2_answers}}
                          <p>{{browseData.l2_answer_2}}</p>
                        </span>
                      </td>
                    
                        <td class="alignment">
                          <textarea placeholder="L3 Answer" class="form-control" ng-model="browseData.l3_answer_1" rows="4"
                            cols="50">
                          </textarea>
                          <span>
                            <p>{{browseData.l3_answer_2}}</p>
                          </span>
                        </td>
                       
                      
                      <td class="alignment">
                        {{browseData.lead_status}}
                      </td>
                      <td class="alignment">
                        <select class="form-control"
                          name="call_back_time_{{$index}}" id="browes_call_back_time_id_{{$index}}"
                          ng-model="browseData.call_back_preference"
                          style="width:150px;">
                          <option value="" disabled>Select Call Back Time</option>
                          <option ng-repeat="(key,value) in call_back_time track by $index"
                            value="{{key}}">
                            {{value}}
                          </option>
                        </select>
                      </td>
                      <td class="alignment">
                        <textarea placeholder="Comment" class="form-control" ng-model="browseData.comment" rows="4"
                          cols="50">
                        </textarea>
                      </td>
                      <td class="alignment">
                        <p> Submitted: {{browseData.created_at | date:'medium' }} </p>
                      </td>
                      <td class="alignment">
                        <p> {{browseData.calling_state }} 
          
                          {{browseData.calling_state_time }} 
                        </p>
                      </td>
                      <td class="alignment">
                        <textarea placeholder="Internal Comment" class="form-control" ng-model="browseData.internal_comment" rows="4"
                          cols="50">
                        </textarea>
                      </td>
                      <td class="alignment">
                        <button style="margin-bottom:2px" type="button" name="button" class="btn btn-info">View &
                          Intervene</button>
                      </td>
                      <td class="alignment">
                        <button style="margin-bottom:2px" type="button" name="button" class="btn btn-success btn-small"
                          data-target="#companyDetailModal" ng-click="supplierForAddUpdate($index)" data-toggle="modal">Add/Update Supplier</button>
                        <button style="margin-bottom:2px" type="button" name="button"
                          class="btn btn-success btn-small"  data-target="#pocModal"  ng-click="openAddPoc(browseData._id)" ng-disabled="browseData.is_updated == 'False'" data-toggle="modal">Add POC</button>
                        <button style="margin-bottom:2px" type="button" ng-disabled="browseData.is_updated == 'False'" name="button"
                          class="btn btn-success btn-small">Add RE</button>
                      </td>
                      <td class="alignment">
                        <button style="margin-bottom:2px"  type="button" name="button" ng-click="opsVerify(browseData._id)" class="btn btn-success" ng-disabled="browseData.is_updated == 'False'">Transfer</button>
                        <button style="margin-bottom:2px" type="button" name="button" class="btn btn-success"
                          ng-click="updateLeadTab($index)">Update</button>
                        <button style="margin-bottom:2px" type="button" name="button" class="btn btn-danger"
                          ng-click="removeSuspenseLead(browseData._id,$index)">Remove</button>
                      </td>
                    </tr>
                  </tbody>
                </table>
                <div ng-if="!loading" ng-loadings="loading"></div>
                <div ng-if="leadTabData.length == 0 && loading" style="text-align: center;color: red;">
                  <h4>Record Not Found.</h4>
                </div>
                <dir-pagination-controls ng-if="leadTabData.length > 0 && selectedTab == 'browsed'" max-size="10" on-page-change="pageChangedBrowesd(newPageNumber,'browsed')" direction-links="true"
                  boundary-links="true">
                </dir-pagination-controls>
              </div>
            </div>
          </uib-tab>
          <uib-tab id="uib-tabs-width" ng-click="getCampaignsList()" index="0">
            <uib-tab-heading>
              <h5>TAB 4</h5>
            </uib-tab-heading>

          </uib-tab>
          <uib-tab id="uib-tabs-width" ng-click="getCampaignsList()" index="0">
            <uib-tab-heading>
              <h5>TAB 5</h5>
            </uib-tab-heading>
          </uib-tab>
      </div>
    </div>
  </div>
</div>

  <div id="companyDetailModal" class="modal fade style-modal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <div class="pageTitle smallBtn full-width-header">
            <h4>Add/Update Supplier</h4>
          </div>
          <!-- <h4 class="modal-title">Company Details:</h4>
          <hr /> -->
          <div class="modal-body">
            <form role="form" class="form-inline" ng-submit="addUpdateSupplier()" name="myForm">
              <div class="row">
                <div class="col-md-4" style="margin-top: 10px">
                  <label> Phone Number *: </label>
                </div>
                <div class="col-md-8" style="margin-top: 10px">
                  <input type="text" ng-pattern="/^[0-9]{10,10}$/" maxlength="10" placeholder="Phone Number"
                    class="form-control" name="phone_number" disabled id="phone_number_id"
                    ng-model="supplierForAddUpdateData.phone_number">
                  <div ng-show="myForm.phone_number.$error.pattern" class="error" style="font-size:12px; color: red;">
                    Phone number Invalid</div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-4" style="margin-top: 10px">
                  <label> Supplier Type *: </label>
                </div>
                <div class="col-md-8" style="margin-top: 10px">
                  <select class="form-control" name="supplier_type" id="supplier_type_id"
                    ng-model="supplierForAddUpdateData.supplier_type" ng-change= 'changeSupplier(supplierForAddUpdateData.supplier_type)'>
                    <option value="" disabled>Select Supplier Type</option>
                    <option ng-repeat="suppliertype in supplierTypes track by $index" value="{{suppliertype.supplier_type_code}}">
                      {{suppliertype.supplier_type_name}}
                    </option>
                  </select>
                </div>
              </div>

              <div class="row">
                <div class="col-md-4" style="margin-top: 10px">
                  <label> City *: </label>
                </div>
                <div class="col-md-8" style="margin-top: 10px">
                  <select name="city" class="form-control" ng-change="getArea()" value="supplierForAddUpdateData.city_id"  ng-model="supplierForAddUpdateData.city_id" ng-required="true">
                    <option value="" disabled>Select City</option>
                    <option ng-repeat="city in Cities | orderBy: 'city_name'"  ng-selected="supplierForAddUpdateData.city_id == city.id"  value="{{city.id}}" required>
                      {{city.city_name}}</option>
                  </select>
                  <span ng-show="myForm.city.$dirty && myForm.city.$invalid" class="error">Select a City</span>
                  </select>
                </div>
              </div>

              <div class="row">
                <div class="col-md-4" style="margin-top: 10px">
                  <label>Select Area & Edit : </label>
                </div>
                <div class="col-md-4" style="margin-top: 10px">
                    <span disabled="Areas.length == 0 || supplierForAddUpdateData.isNewArea"  class="multiselectDropdown"
                   ng-dropdown-multiselect=""
                    options="Areas"  search-filter ="" ng-click="selectArea()" extra-settings="areaSettings"
                    selected-model="selectedArea"
                    ></span>
                  </span>
                  </div>
                  <div class="col-md-4">
                    <md-switch ng-model="supplierForAddUpdateData.isNewArea" ng-change="changeArea()" aria-label="Switch 1">
                      <label>Add New Area</label>
                    </md-switch>
                  </div>
              </div>

              <div class="row" ng-if="!supplierForAddUpdateData.isNewArea && supplierForAddUpdateData.area_id">
                <div class="col-md-4" style="margin-top: 10px">
                  <label>Edit Area: </label>
                </div>
                <div class="col-md-8" style="margin-top: 10px">
                  <input type="text" placeholder="Edit Area " class="form-control" name="edit_area" id="edit_area_id"
                    ng-model="supplierForAddUpdateData.area">
                </div>
              </div>

              <div class="row" ng-if="supplierForAddUpdateData.isNewArea">
                <div class="col-md-4" style="margin-top: 10px">
                  <label>Add New Area: </label>
                </div>
                <div class="col-md-8" style="margin-top: 10px">
                  <input type="text" placeholder="Add New Area " class="form-control" name="new_area" id="new_area_id"
                    ng-model="supplierForAddUpdateData.area">
                </div>
              </div>

              <div class="row">
                <div class="col-md-4" style="margin-top: 10px">
                  <label>Select Supplier & Edit : </label>
                </div>
               
                  <div class="col-md-4" style="margin-top: 10px">
                    <span disabled="suppliersName == 0 || supplierForAddUpdateData.isNewSupplier"  class="multiselectDropdown" ng-dropdown-multiselect=""
                    options="suppliersName"  search-filter ="" ng-click="selectSupplierName()"  extra-settings="supplierSettings"
                    selected-model="selectedSupplierName"
                    ></span>
                    <span ng-if="suppliersName == 0" class="error">No supplier found</span>
                </div>
               
                <div class="col-md-4">
                  <md-switch ng-model="supplierForAddUpdateData.isNewSupplier" ng-change="addNewSupplier()" aria-label="Switch 1">
                    <label>Add New Supplier</label>
                  </md-switch>
                </div>
              </div>

              <div class="row" ng-if="!supplierForAddUpdateData.isNewSupplier && supplierForAddUpdateData.supplier_id">
                <div class="col-md-4" style="margin-top: 10px">
                  <label>Edit Supplier: </label>
                </div>
                <div class="col-md-8" style="margin-top: 10px">
                  <input type="text" placeholder="Add New Supplier " class="form-control" name="edit_supplier"
                    id="edit_supplier_id" ng-model="supplierForAddUpdateData.supplier_name">
                </div>
              </div>

              <div class="row" ng-if="supplierForAddUpdateData.isNewSupplier">
                <div class="col-md-4" style="margin-top: 10px">
                  <label>Add New Supplier: </label>
                </div>
                <div class="col-md-8" style="margin-top: 10px">
                  <input type="text" placeholder="Add New Supplier " class="form-control" name="new_supplier"
                    id="new_supplier_id" ng-model="supplierForAddUpdateData.supplier_name">
                </div>
              </div>

              <div class="row">
                <div class="col-md-4" style="margin-top: 10px">
                  <label> Add POC *: </label>
                </div>
                <div class="col-md-8" style="margin-top: 10px">
                  <input type="text" placeholder="POC" class="form-control" name="poc"
                  id="poc_id" ng-model="supplierForAddUpdateData.poc_name">
                </div>
              </div>

              <div class="row">
                <div class="col-md-4" style="margin-top: 10px">
                  <label>Designation *: </label>
                </div>
                <div class="col-md-8" style="margin-top: 10px">
        
                    <select name="designation" class="form-control" value="supplierForAddUpdateData.designation"    ng-model="supplierForAddUpdateData.designation" ng-required="true">
                      <option value="" disabled>Select Designation</option>
                      <option ng-repeat="desig in designation" ng-selected="desig == supplierForAddUpdateData.designation"  value="{{desig}}" required>
                        {{desig}}</option>
                    </select>
                    <span ng-show="myForm.designation.$dirty && myForm.designation.$invalid" class="error">Designation is required.</span>
                    </select>
                </div>
              </div>

              <!-- <div class="row" ng-if="supplierForAddUpdateData.designation == 'Other'">
                <div class="col-md-4" style="margin-top: 10px">
                  <label>Other Designation *: </label>
                </div>
                <div class="col-md-8" style="margin-top: 10px">
                  <input type="text" placeholder="Other Designation" class="form-control" name="other_designation"
                    id="other_designation_id" ng-model="supplierForAddUpdateData.other_designation">
                   
                    <span ng-show="myForm.other_designation.$dirty && myForm.other_designation.$invalid" class="error">Other Designation is required.</span>
                    </select>
                </div>
              </div> -->

              <div class="row">
                <div class="col-md-4" style="margin-top: 10px">
                  <label>Address: </label>
                </div>
                <div class="col-md-8" style="margin-top: 10px">
                  <input type="text" placeholder="Address" class="form-control" name="address" id="address_id"
                    ng-model="supplierForAddUpdateData.address1">
                </div>
              </div>

              <div class="row">
                <div class="col-md-4" style="margin-top: 10px">
                  <label> Pin Code: </label>
                </div>
                <div class="col-md-8" style="margin-top: 10px">
                  <input type="text" ng-pattern="/^[0-9_ ]{0,9}$/" placeholder="Pin Code" class="form-control"
                    name="pin_code" id="pin_code_id" ng-model="supplierForAddUpdateData.pin_code">
                  <div ng-show="myForm.pin_code.$error.pattern" class="error" style="font-size:12px; color: red;">
                    Pin Code Invalid</div>
                </div>
              </div>


              <!-- <div class="row">
                <div class="col-md-4" style="margin-top: 10px">
                  <label> Company Name : </label>
                </div>
                <div class="col-md-8" style="margin-top: 10px">
                  <input type="text" placeholder="Name" class="form-control" name="company_name" id="name_id"
                    ng-model="viewLicenceDetailData.companydetail.company">
                </div>
              </div> -->

              <!-- <div>
                <button class="btn btn-danger" ng-disabled="!myForm.$valid"
                  ng-click="updateCompanyDetails()">Save</button>
              </div> -->
              <button type="submit" class="smallBtn" ng-disabled="myForm.$invalid">Add/Update Supplier</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div id="pocModal" class="modal fade style-modal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <div class="pageTitle smallBtn full-width-header">
            <h4>Add POC</h4>
          </div>
          <div class="modal-body">
            
            <form role="form" class="form-inline" ng-submit="addPoc()" name="pocForm">
              <div ng-repeat="pocdata in pocModel track by $index">
              <div class="row">
                <div class="col-md-4" style="margin-top: 10px">
                  <label> Phone Number *: </label>
                </div>
                <div class="col-md-6" style="margin-top: 10px">
                  <input type="text" ng-pattern="/^[0-9]{10,10}$/" maxlength="10" placeholder="Phone Number"
                    class="form-control" name="phone_number_{{$index}}" id="phone_number_{{$index}}"
                    ng-model="pocdata.mobile" required>
                  <div ng-show="pocForm.phone_number_{{$index}}.$error.pattern" class="error" style="font-size:12px; color: red;">
                    Phone number Invalid</div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-4" style="margin-top: 10px">
                  <label> POC Name *: </label>
                </div>
                <div class="col-md-6" style="margin-top: 10px">
                  <input type="text" placeholder="POC Name" class="form-control" name="poc"
                  id="poc_poc_{{$index}}" ng-model="pocdata.name" required>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4" style="margin-top: 10px">
                  <label>Designation *: </label>
                </div>
                <div class="col-md-6" style="margin-top: 10px">
                  <!-- <input type="text" placeholder="Designation" class="form-control" name="designation"
                    id="poc_designation_{{$index}}" ng-model="pocdata.contact_type" required> -->

                    <select name="designation" class="form-control" value="pocdata.contact_type"  ng-model="pocdata.contact_type" ng-required="true">
                      <option value="" disabled>Select Designation</option>
                      <option ng-repeat="desig in poc_designation" ng-selected="desig == pocdata.contact_type"  value="{{desig}}" required>
                        {{desig}}</option>
                    </select>
                    <span ng-show="myForm.designation.$dirty && myForm.designation.$invalid" class="error">Designation is required.</span>
                    </select>
                </div>
              </div>
              <div class="text-right">
                <button type="button" ng-click="removePocField($index)" id="remove_poc_{{$index}}" class="smallBtn pocBtn">-</button>
              </div>
              <hr>
            </div>
            
              <div class="row">
                <div class="col-md-6">
                  <button type="submit"  class="smallBtn" ng-disabled="pocForm.$invalid || pocModel.length == 0">Save Detail</button>
                </div>
                <div class="col-md-6">
              <div class="text-right">
                <button type="button" ng-click="addPocField()" class="smallBtn pocBtn">+ Add Poc</button>
              </div>
              </div>
            </div>
            </form>
           
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- </div> -->
</main>