@import './../../assets/scss/partials/variables';
@import './../../assets/scss/partials/checkbox';

.createform__title {
    text-align: center;
    background-color: #d9534f;
    color: white;
    padding: 10px 15px;
    border-radius: 3px;
    margin-bottom: 50px; }