<link rel="stylesheet" href="modules/pages/DashBoard/OperationsDashBoard/opsdashboard.tmpl.css"/>
<link rel="stylesheet" href="modules/common/loadingicon/loading-spinner.tmpl.css"/>

<div ng-loading="loading"></div> <!--For displaying loading icon-->
<main ng-show="!isEmpty" ng-class="{ 'menu-collapsed': $baSidebarService.isMenuCollapsed() }" ng-if="loading">
  <div class="wrapperBox">
    <div ng-show="isEmpty" style="text-align:center;"><h2>{{msg}}</h2></div>
    <nav-bar></nav-bar>
    <div class="middle-section">
      <div class="backBtn">
        <button class="smallBtn active" ng-click="goToCampaignList()">List Campaigns</button>
      </div>
      <div class="breadcrumb" ncy-breadcrumb></div>
      <h2 class="heading" ng-hide="hideData || isEmpty">Campaign Decision Board</h2>

      <div class="" ng-hide="hideData || isEmpty">
        <div st-table="proposals" st-safe-src="Data">
          <div class="searchBox">
            <input st-search="" placeholder="Search ..." class="field"  type="search">
            <button><i class="fas fa-search"></i></button>
          </div>
          <table class="table-data">
            <tr>
              <th>Sr No</th>
              <th>Proposal Id</th>
              <th>Proposal Name</th>
              <th>Proposal For</th>
              <th>Proposal Created By</th>
              <th>Invoice Number</th>
              <th st-sort="proposal.tentative_start_date" st-skip-natural="true">Start Date</th>
              <th st-sort="proposal.tentative_end_date" st-skip-natural="true">End Date</th>
              <th>Create Campaign</th>
              <th>Assigned To</th>
              <th>Type of End Customer</th>
              <th>Edit Details</th>
              <th>Comments</th>
            </tr>
             <tr st-select-row='proposal' dir-paginate="proposal in proposals | filter:f | filter:searchQuery | itemsPerPage:10"
                  total-items="totalrecord" current-page="currentPage" track by "$index">
            <!-- <tr ng-repeat="proposal in proposals"> -->
              <td>{{$index+1}}</td>
              <td ng-click="showProposalDetails(proposal.proposal.proposal_id)">
                <a class="linkBtn">{{proposal.proposal.proposal_id}}</a>
              </td>
              <td>{{proposal.proposal.name}}</td>
              <td>{{proposal.proposal.account}}</td>
              <td>{{proposal.proposal.created_by}}</td>
              <td>{{proposal.proposal.invoice_number}}</td>
              <td>{{proposal.proposal.tentative_start_date| date: 'dd-MM-yyyy'|limitTo:10}}</td>
              <td>{{proposal.proposal.tentative_end_date|  date: 'dd-MM-yyyy' | limitTo:10}}</td>
              <td>
                <div class="radio-button">
                  <label><input type="radio" ng-model="proposal.proposal.campaign_state" value="PTC" ng-click="convertProposalToCampaign(proposal,proposal.assignment_detail,$index)" data-toggle="modal" ng-loading="loadSpinner" permission = "[permissions.acceptProposal]">Accept</label>
                </div>
                <div class="radio-button">
                  <label><input type="radio" ng-model="proposal.proposal.campaign_state" value="PNC" ng-click="convertCampaignToProposal(proposal)" data-toggle="modal" permission = "[permissions.declineProposal]">Decline</label>
                </div>
                <div class="radio-button">
                  <label><input type="radio" ng-model="proposal.proposal.campaign_state" value="POH" ng-click="updateCampaign(proposal)" data-target="#onHoldModal" data-toggle="modal" permission = "[permissions.onHoldPrposal]">OnHold</label>
                </div>
              </td>
              <td ng-if="proposal.proposal.campaign_state == 'PTC'">
                  <span ng-if="proposal.assignment_detail.assigned_to !='Nobody'">
                     <div  ng-repeat="assign in proposal.assignment_detail">
                        <span>{{assign.assigned_to.assigned_to_name}}</span><br>
                     </div>
                </span>
                <span ng-if="proposal.assignment_detail.length ==0">
                    NA
                    </span>
              </td>
              <td ng-if="proposal.proposal.campaign_state != 'PTC'">
                NA
              </td>
              <td ng-if="proposal.proposal && proposal.proposal.type_of_end_customer_name">
                {{proposal.proposal.type_of_end_customer_name}}
                </td>
                <td ng-if="proposal.proposal && !proposal.proposal.type_of_end_customer_name">
                    NA
                    </td>
              <td>
                <a class="linkBtn" ng-click="goToEditProposalDetails(proposal.proposal.proposal_id)">Edit Details</a>
              </td>
              <td rowspan="{{key.length}}">
                <!-- <div class="comment" ng-if="comments[supplier.id]">
                    <b>{{comments[supplier.id].external.username}} </b> <span> <br><small> {{comments[supplier.id].external.created_on | date}}</small></span><br>
                    <p>{{comments[supplier.id].external.comment.slice(0,20)}}</p>
                </div> -->
                <div class="comment">
                  <p>{{proposal.latest_comment.slice(0,20)}}</p>
                </div>
                <button type="button" class="linkBtn" ng-click="viewComments(proposal, 'CAMPAIGN',$index)">View/Add</button>
              </td>
            </tr>
          </table>
          <dir-pagination-controls max-size="5" direction-links="true" boundary-links="true"
          on-page-change="pageChanged(newPageNumber)" >
          </dir-pagination-controls>
          <!-- <div st-pagination="" st-items-by-page="itemsByPage" st-displayed-pages=""></div> -->
        </div>
      </div>

    </div><!-- middle-section -->
    <div class="fixfooter"></div>
  </div><!-- wrapperBox -->
  <footer-bar></footer-bar>
</main>


<!-- Start: Code for reason specifying modal-->
  <div id="declineModal" class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          <div class="modalBodyBox">
            <h3>Specify Reason</h3>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <label>Please enter the reason in below box why this proposal can't be converted to campaign</label>
            <textarea name="reason" id="onDeclineReason" class="field" ng-model="reason"></textarea>
            <button class="smallBtn active notify" ng-click="sendNotification()" ng-disabled="!reason.length > 0" ng-loading="loadSpinner">Notify</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="onHoldModal" class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          <div class="modalBodyBox">
            <h3>Specify Reason</h3>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <label>Please enter the reason in below box why this proposal is on hold</label>
            <textarea name="reason" id="onHoldReason" class="field" ng-model="reason"></textarea>
            <button class="smallBtn active notify" ng-click="sendNotification()" ng-disabled="!reason.length > 0" ng-loading="loadSpinner">Notify</button>
          </div>
        </div>
      </div>
    </div>
  </div>
<!-- End: Code for reason specifying modal-->

<!-- Start: Code for assgining campaign -->
  <div id="assignModal" class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          <div class="modalBodyBox">
            <h3>Assign Campaign to Operations Manager</h3>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <label>Select Organisation:</label>
            
            <select class="field" ng-model= "orgId" ng-change="getUsersList(orgId)">
              <option ng-repeat = "org in organisationList | orderBy: 'name'" value = "{{org.organisation_id}}">{{org.name}}</option>
            </select>
            <label>Assign to:</label>
           <!-- <div ng-dropdown-multiselect="" options="userList" extra-settings="assignementSettings"
            selected-model="assignedUsers" translation-texts="selected_baselines_customTexts" events="onItemSelect"></div> -->

            <div  ng-dropdown-multiselect="" search-filter ="" options="userList" selected-model="assignedUsers"  extra-settings="settings" ></div>
            <label>Assigned User</label>
            <div ng-repeat="userDetail in assignment_detail">
        
                <span ng-if="assignment_detail.length > 0">{{userDetail.assigned_to.assigned_to_name}}&nbsp;({{userDetail.assigned_to.organisation_name}})</span>,
            </div>
            <button class="smallBtn active notify" ng-click="saveAssignment()">Assign</button>
          </div>
        </div>
      </div>
    </div>
  </div>
<!-- End: Code for assgining campaign -->

<!-- Start: Code for Comment  View campaign -->
  <div id="viewComments" class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          <div class="modalBodyBox">
            <h3>View Comments For {{prposalDataForComment.proposal.name}}</h3>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <table class="table-data">
              <tr ng-repeat="item in commentsData.general">
                <td class="col-md-8">
                  <div>
                    <img ng-src="{{userIcon}}">
                    <b>{{item.user_name}} :</b> <span> <small> {{item.timestamp|date:'medium'}}</small></span><br/>
                  </div>
                  <div>
                    <p>{{item.comment}}</p>
                  </div>
                </td>
              </tr>
            </table>
            <textarea class="field" rows="8" cols="200" ng-model="commentModal.comment" placeholder="Write here.."></textarea>
            <button class="smallBtn" type="button" ng-click="addComment(commentType)">Add Comment</button>
          </div>
        </div>
      </div>
    </div>
  </div>


