<div>
  <nav-bar></nav-bar>
</div>


<br /><br />
<div class="panel panel-default" style="margin-top:60px">
  <div class="row">
    <div class="pageTitle">
      <h3>Edit Proposal</h3>
    </div>

    <form name="leadForm" style="margin:5%;" ng-if="!viewLeads">
      <div class="row form-group" style="padding-bottom:0;padding-top:0;">
        <div class="col-sm-3">
          Proposal Name
        </div>
        <div class="col-sm-4">
          <input type="text" placeholder="Proposal Name" class="form-control" ng-model="proposalData.name">
        </div>
      </div>
      <div class="row form-group" style="padding-bottom:0;padding-top:0;">
        <div class="col-sm-3">
          Invoice Number
        </div>
        <div class="col-sm-4">
          <input type="text" placeholder="Invoice Number" class="form-control" ng-model="proposalData.invoice_number">
        </div>
      </div>
      <div class="row form-group" style="padding-bottom:0;padding-top:0;"
        ng-class="{ 'has-error' : leadForm.email.$invalid && !leadForm.email.$pristine }">
        <div class="col-sm-3">
          Start Date
        </div>
        <!-- <div class="col-sm-4">
          <input type="date" placeholder="Start Date" class="form-control" ng-model="proposalData.tentative_start_date">
        </div> -->

        <div class="col-sm-4">
          <div class="input-group" >
            <input type="text" class="form-control" uib-datepicker-popup="dd/MM/yyyy" placeholder="dd/mm/yyyy" ng-change="changeStartDate()" ng-model="proposalData.startDate" is-open="isDatepickerOpen" datepicker-options="datepickerOptions" ng-required="true" close-text="Close"  alt-input-formats="altInputFormats"/>
            <span class="input-group-btn">
              <button type="button" class="btn btn-default" ng-click="isDatepickerOpen = !isDatepickerOpen">
                <i class="glyphicon glyphicon-calendar"></i>
              </button>
            </span>
          </div>
        </div>
      </div>
      <div class="row form-group" style="padding-bottom:0;padding-top:0;">
        <div class="col-sm-3">
          End Date
        </div>
        <!-- <div class="col-sm-4">
          <input type="date" placeholder="End Date" class="form-control" ng-model="proposalData.tentative_end_date">
        </div> -->
        <div class="col-sm-4">
          <div class="input-group" >
            <input type="text" class="form-control" uib-datepicker-popup="dd/MM/yyyy" placeholder="dd/mm/yyyy"  ng-change="changeEndDate()"  ng-model="proposalData.tentative_end_date" is-open="isEndDateOpen" datepicker-options="options" ng-required="true" close-text="Close"  alt-input-formats="altInputFormats"/>
            <span class="input-group-btn">
              <button type="button" class="btn btn-default" ng-click="isEndDateOpen = !isEndDateOpen">
                <i class="glyphicon glyphicon-calendar"></i>
              </button>
            </span>
          </div>
        </div>
      </div>

      <div class="row form-group" style="padding-bottom:0;padding-top:0;">
        <div class="col-sm-3">
          Principal Vendor
        </div>
        <div class="col-sm-4">
          <select class="form-control" name="" placeholder="Principal Vendor" ng-model="proposalData.principal_vendor">
            <option value="" disabled>Select Principal Vendor</option>
            <option value="{{org.organisation_id}}" ng-repeat="org in organisationList">{{org.name}}</option>
          </select>

        </div>
      </div>

      <div class="row form-group">
        <button class="btn btn-danger" ng-disabled = "updateDisable" ng-click="updateProposalDetails()">Update</button>

      </div>
    </form>
  </div>
</div>