<main>
  <div class="wrapperBox">
    <nav-bar></nav-bar>
    <div class="middle-section">
      <div class="breadcrumb" ncy-breadcrumb></div>
      <h2 class="heading">Edit Proposal</h2>
      <form name="leadForm" ng-if="!viewLeads">
        <div class="gridTwoColumnSection">
          <div class="item">
            <label>Proposal Name</label>
            <input type="text" placeholder="Proposal Name" class="field" ng-model="proposalData.name">
          </div>
          <div class="item">
            <label>Invoice Number</label>
            <input type="text" placeholder="Invoice Number" class="field" ng-model="proposalData.invoice_number">
          </div>
          <div class="item" ng-class="{ 'has-error' : leadForm.email.$invalid && !leadForm.email.$pristine }">
            <label>Start Date</label>
            <div class="position">
              <input type="text" class="field" uib-datepicker-popup="dd/MM/yyyy" placeholder="dd/mm/yyyy" ng-change="changeStartDate()" ng-model="proposalData.startDate" is-open="isDatepickerOpen" datepicker-options="datepickerOptions" ng-required="true" close-text="Close"  alt-input-formats="altInputFormats">
              <button type="button" class="smallBtn calendar" ng-click="isDatepickerOpen = !isDatepickerOpen">
                <i class="glyphicon glyphicon-calendar"></i>
              </button>
            </div>
          </div>
          <div class="item">
            <label>End Date</label>
            <div class="position">
              <input type="text" class="field" uib-datepicker-popup="dd/MM/yyyy" placeholder="dd/mm/yyyy"  ng-change="changeEndDate()"  ng-model="proposalData.tentative_end_date" is-open="isEndDateOpen" datepicker-options="options" ng-required="true" close-text="Close"  alt-input-formats="altInputFormats">
              <button type="button" class="smallBtn calendar" ng-click="isEndDateOpen = !isEndDateOpen">
                <i class="glyphicon glyphicon-calendar"></i>
              </button>
            </div>
          </div>
          <div class="item">
            <label>Principal Vendor</label>
            <select class="field" name="" placeholder="Principal Vendor" ng-model="proposalData.principal_vendor">
              <option value="" disabled>Select Principal Vendor</option>
              <option value="{{org.organisation_id}}" ng-repeat="org in organisationList">{{org.name}}</option>
            </select>
          </div>

          <div class="item">
            <label>Type of End Customer</label>
            <select class="field" name="" placeholder="Select End Customer" ng-model="proposalData.type_of_end_customer" ng-required="true">
              <option value="" ng-disabled="true">Select End Customer</option>
              <option value="{{customer.id}}" ng-repeat="customer in endCustomerList">{{customer.name}}</option>
            </select>
            <p class="red" ng-if="proposalData.type_of_end_customer=='null'">End Customer Required</p>
          </div>
        </div>
        <button class="smallBtn" ng-disabled="updateDisable || proposalData.type_of_end_customer=='null'" ng-click="updateProposalDetails()">Update</button>
      </form>
    </div><!-- middle-section -->
    <div class="fixfooter"></div>
  </div><!-- wrapperBox -->
  <footer-bar></footer-bar>
</main>



