.tree-modal{
    box-shadow: none !important;
}

.tree-icon{
    margin-bottom: -7px;
}

.permission-icon{
    margin-left: 10px !important;
    height: min-content !important;
    width: min-content !important;
    color: black !important;
    border: 2px solid black !important;
}

.permission-selected{
    background-color: #d9534f !important;
    color: white !important;
    border: 2px solid #d9534f !important;
}

.permission-button{
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.permission-active-button{
    background-color: #4CAF50;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.modal-title{
    text-align: center;
    background-color: #d9534f;
    color: white;
    padding: 1px 0px;
    border-radius: 3px;
    margin-bottom: 15px;
}

.modal-select{
    width: 40%;
    padding-top: 8px;
}