.tree-modal{
    box-shadow: none !important;
}

.tree-icon{
    margin-bottom: -7px;
}

.MuiTreeLeaf-button-87{
    margin-left: 0px !important;
}

.permission-button{
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.permission-active-button{
    background-color: #4CAF50;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.modal-title{
    text-align: center;
    background-color: #d9534f;
    color: white;
    padding: 1px 0px;
    border-radius: 3px;
    margin-bottom: 10px;
}