.machadalo-select-box{
    .css-19rmclj-control {
            min-height: 32px;
            padding: 0;
            background-color: #3e59e3;
            border-radius: 4px;
            color: #fff;
            font-size: 12px;
            transition: none;
    
            &:focus {
                border: none;
                outline: none;
                box-shadow: none;
    
                .css-1dimb5e-singleValue {
                    color: #fff;
                }
            }
    
            .css-1dimb5e-singleValue {
                color: #fff;
            }
    
            .css-1xc3v61-indicatorContainer {
                padding: 6px;
    
                svg {
                    width: 14px;
                }
            }
    
            .css-1jqq78o-placeholder {
                color: #fff;
            }
        }
    
        .css-17h6eql-control {
            min-height: 32px;
            padding: 0;
            background-color: #3e59e3;
            border-radius: 4px;
            color: #fff;
            font-size: 12px;
            transition: none;
            box-shadow: none;
    
            &:hover {
                // border: none;
            }
    
            .css-1dimb5e-singleValue {
                color: #fff;
            }
    
            .css-15lsz6c-indicatorContainer {
                color: #fff;
                padding: 6px;
    
                svg {
                    width: 14px;
                }
            }
    
            .css-1jqq78o-placeholder {
                color: #fff;
            }
    
        }
    
        .css-lkh0o5-menu {
            font-size: 12px;
            margin-top: 0;
        }
    }
#react-select-3-listbox, #react-select-2-listbox{
   width: 150px;
}
.css-1kh0o5-menu{
    width: 150px;
}