.new-pagination {
  text-align: right;
    padding-top: 30px;
    ul li.active a {
        background-color: #0d6efd;
    }

    ul li a:hover {
        background: #0d6efd !important;
        color: #ffffff !important;
    }
    ul {
      border-radius: 5px;
        border: 1px solid #ccc;
        padding: 0;
      display: inline-flex;
        justify-content: flex-end;
        margin-left: auto;
        margin-right: 0;
  
        li {
          border-right: 1px solid #ccc;
          min-width: 40px;
          font-size: 12px;
  
          &.active {
            color: #ffffff;
            background: #c9302c;
          }
          &:last-child {
            border-right: 0;
          }
  
          a {
            display: flex;
            padding: 4px 6px;
            
              text-decoration: none;
            justify-content: center;
            &:hover {
              color: #ffffff;
              cursor: pointer;
              background: #c9302c;
            }
          }
        }
      }
}