.searchbox{
    margin-bottom: 20px;
}


.campain-table{
    tr, th, td{
        white-space: nowrap;
    }

    a{
        cursor: pointer;
        color: #3e59e3 !important;
        font-weight: 700;
    }
}
