<link rel="stylesheet" href="modules/pages/operations/opsExecutionPlan/opsExecutionPlan.tmpl.css">
<link rel="stylesheet" href="modules/common/loadingicon/loading-spinner.tmpl.css">

<div ng-loading="loading"></div> <!--For displaying loading icon-->
<main>
  <div class="wrapperBox">
    <div ng-hide="!hideData" style="text-align:center"><label>No Results Found</label></div>
    <nav-bar></nav-bar>
    <div class="middle-section">
      <div ng-if="!backButton" permission="[campaign_manager]">
        <back-Button></back-Button>
      </div>
      <div permission = "[]">
        <div class="breadcrumb" ncy-breadcrumb></div>
      </div>
      <h2 class="heading" ng-hide="hideData">Operations Execution Plan</h2>
      <table class="table-data table-top">
        <tr>
          <th>Campaign Id</th>
          <th>Campaign Name</th>
          <th>BD Owner</th>
          <th>Campaign State</th>
        </tr>
        <tr>
          <td>{{campaignId}}</td>
          <td>{{campaignName}}</td>
          <td>{{bdOwner}}</td>
          <td>{{campaignState}}</td>
        </tr>
      </table>
      <div class="OperationsExecutionPlan" ng-hide="hideData">
        <div class="" st-table="campaignDataList" st-safe-src="paginationData" default-sort-reverse="true">
          <div class="searchBox">
            <input st-search="" placeholder="Search ..." class="field"  type="search">
            <button><i class="fas fa-search"></i></button>
          </div>
          <div class="dropdownFieldsBox">
            <div>
              <select class="field" ng-model="invCode">
                <option value="" disabled>FilterBy Inventory Type</option>
                <option value="{{paginationData.id}}">ALL </option>
                <!-- <option ng-repeat="inv in paginationData | orderBy : 'inv_type' | unique:'inv_type' | filter : {act_date: dateCode}" value="{{inv.inv_type}}">{{inv.inv_type}}</option> -->
                <option ng-repeat="inv in paginationData | orderBy : 'inv_type' | unique:'inv_type'" value="{{inv.inv_type}}">{{inv.inv_type}}</option>
              </select>
            </div>
            <div>
              <select class="field" ng-model="dateCode">
                <option value="" disabled>FilterBy Date</option>
                <option value="{{paginationData.id}}">ALL</option>
                <!-- <option ng-repeat="date in paginationData | orderBy : 'act_date' | unique:'act_date' | filter : {inv_type: invCode}" value="{{date.act_date}}">{{date.act_date}}</option> -->
                <option ng-repeat="date in paginationData | orderBy : 'act_date' | unique:'act_date'" value="{{date.act_date}}">{{date.act_date}}</option>
              </select>
            </div>
          </div>
          <table class="table-data">
            <tr>
              <th ng-repeat="header in headings">{{header.header}}</th>
            </tr>
            <tr st-select-row='inventory' ng-repeat="inventory in campaignDataList | filter:query | filter: dateCode | filter:invCode">
              <td>{{$index+1}}</td>
              <td>
                <a class="linkBtn" data-target="#supplierModal" data-toggle="modal" ng-click="getSupplierDetails(inventory)" permission = "[permissions.viewSupplierDetails]">{{inventory.supplier_name}}</a>
              </td>
              <td>{{inventory.inv_type}}</td>
              <td ng-if="inventory.images.length > 0">
                <a class="linkBtn" data-target="#imageModal" data-toggle="modal" ng-click="setImageUrl(inventory.images)" permission = "[permissions.viewImages]">View Image</a>
              </td>
              <td ng-if="inventory.images.length == 0">No Image</td>
              <td>{{inventory.act_name}}</td>
              <td>{{inventory.act_date|limitTo:10}}</td>
              <td>{{inventory.assigned_to}}</td>
              <td><input type="checkbox" ng-model="inventory.status" ng-value="true" ng-click="addActivity($index,inventory)"></td>
              <td>{{inventory.reAssign_date}}</td>
              <md-progress-linear md-mode="determinate" value="...">
                <td>
                  <button class="smallBtn active" ngf-select="uploadImage($file,inventory)" permission = "[permissions.uploadImages]">Upload Image</button>
                </td>
              </md-progress-linear>
            </tr>
           
          </table>
          <div st-pagination="" st-items-by-page="10" st-displayed-pages=""></div>
        </div>
        <div ng-if="campaignDataList.length == 0" style="text-align:center;color:red"><h4>Record not found</h4></div>
        <div>
          <button class="smallBtn active notify"  data-target = "#reAssignModal" data-toggle = "modal" ng-disabled="!reAssign" permission = "[permissions.reAssignDates]">ReAssign</button>
          <button class="smallBtn active notify" ng-click="getSummary()" permission = "[permissions.viewSummary]">Summary</button>
          <button class="smallBtn active notify" ng-click="downloadImages()" ng-disabled="buttonDisable" permission = "[permissions.downloadImages]">Download</button>
        </div>
        
      </div>
    </div><!-- middle-section -->
    <div class="fixfooter"></div>
  </div><!-- wrapperBox -->
  <footer-bar></footer-bar>
</main>

<!--Start: Code for supplier details Modal Window -->
  <div id="supplierModal" class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          <div class="modalBodyBox">
            <h3>Supplier Details</h3>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <table class="table-data">
              <tr>
                <th ng-repeat="header in supplier_headings">{{header.header}}</th>
              </tr>
              <tr>
                <td>{{supplierData.supplier_id}}</td>
                <td>{{supplierData.name}}</td>
                <td>{{supplierData.area}}</td>
                <td>{{supplierData.subarea}}</td>
                <td>{{supplierData.city}}</td>
                <td>{{supplierData.state}}</td>
                <td>{{supplierData.zipcode}}</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
<!--End: Code for supplier details Modal Window -->


<!--Start: Code for showing image Modal Window -->
  <div id="imageModal" class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          <div class="modalBodyBox">
            <h3>View Image</h3>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <div class="carousel" id="slider" >
              <div class="carousel-inner">
                <div class="item" ng-class="{active:!$index}" ng-repeat="image in imageUrlList">
                  <img ng-src="{{image.image_url}}" style="width:600px; height:400px;" class="img-responsive" alt="No Image Found"/>
                  Comment : {{image.comment}}
                </div>
              </div>
              <a class="left carousel-control"  data-toggle="carousel" data-target = "#slider" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
              </a>
              <a class="right carousel-control" data-toggle = "carousel" data-target = "#slider" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<!--End: Code for showing image Modal  Window -->


<!--Start: Code for showing summary Modal Window -->
  <div id="summaryModal" class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          <div class="modalBodyBox">
            <h3>Summary</h3>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <table class="table-data">
              <tr>
                <th ng-repeat="header in dates">{{header.header}}</th>
              </tr>
              <tr ng-repeat="header in summaryHeaders">
                <td>{{header.header}}</td>
                <td>{{summaryData.Total[header.key]}}</td>
                <td>{{summaryData.Actual[header.key]||0}}</td>
                <td>{{((summaryData.Actual[header.key]||0)/summaryData.Total[header.key])*100|limitTo:5}}%</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
<!--End: Code for showing summary Modal  Window -->


<div id="reAssignModal" class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          <div class="modalBodyBox">
            <h3>Reassign User</h3>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <div id="modalReAssign">
              <label>Activity Date </label>
              <input type="text" ng-model="activity_date" class="field" uib-datepicker-popup="{{format}}" is-open="popup1" min-date="today" datepicker-options="dateOptions" close-text="Close" alt-input-formats="altInputFormats" date-parser="{{format}}" readonly ng-model-options="{timezone:'UTC'}"/>
              <span class="input-group-btn">
                <button type="button" class="smallBtn" ng-click="popup1 = true"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
            </div>
            <div id="modalReAssign">
            <label>Assigned To</label>
            <select class="field" ng-model="userCode">
              <option ng-repeat="user in userList" value="{{user.id}}">{{user.username}}</option>
            </select>
            </div>
            <button class="smallBtn active notify" ng-click="saveReAssignedActivities()">Submit</button>
          </div>
        </div>
      </div>
    </div>
  </div>
