<link rel="stylesheet" href="modules/pages/DashBoard/CampaignList/campaignlist.tmpl.css"/>
<link rel="stylesheet" href="modules/common/loadingicon/loading-spinner.tmpl.css"/>


<div ng-loading="loading"></div> <!--For displaying loading icon-->
<main ng-show="!isEmpty" ng-class="{ 'menu-collapsed': $baSidebarService.isMenuCollapsed() }" ng-if="loading">
<div class="wrapperBox">
  <div ng-show="isEmpty" style="text-align:center;"><h2>{{msg}}</h2></div>
  <nav-bar></nav-bar>
  <div class="middle-section">
    <div class="breadcrumb" ncy-breadcrumb></div>
    <h2 class="heading">Campaign List</h2>
    <button class="btn btn-danger mb_20" ng-click="suspenseSection()">Suspense Leads</button>
    <form name="form" ng-if="suspenseView" style="margin-top: 4%">
      <!-- <div class="breadcrumb" ncy-breadcrumb></div> -->
      <div style="color:#000000;" class="panel panel-default date-panel">
        <h3 class="panel-heading">Suspense Leads</h3>
        <div class="table">
          <div class="form-group">
            <div class="row">
                <div class="col-md-6">
              <div class="item ">
                <label>From Date</label>
                <div class="position input_date_cls" >
                  <input type="text"  class="form-control" readonly uib-datepicker-popup="dd/MM/yyyy" placeholder="dd/mm/yyyy" ng-change="changeFromDate(fromDate)" ng-model="fromDate" is-open="isDatepickerOpen" datepicker-options="options" ng-required="true" close-text="Close"  alt-input-formats="altInputFormats">
                  <button type="button" class="smallBtn calendar btn_cls_date_picker" ng-click="isDatepickerOpen = !isDatepickerOpen">
                    <i class="glyphicon glyphicon-calendar"></i>
                  </button>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="item">
                <label>To Date</label>
                <div class="position input_date_cls">
                  <input type="text"  class="form-control" readonly  uib-datepicker-popup="dd/MM/yyyy" placeholder="dd/mm/yyyy"  ng-change="changeToDate(toDate)"  ng-model="toDate" is-open="isEndDateOpen" datepicker-options="options1" ng-required="true" close-text="Close"  alt-input-formats="altInputFormats">
                  <button type="button" class="smallBtn calendar btn_cls_date_picker" ng-click="isEndDateOpen = !isEndDateOpen">
                    <i class="glyphicon glyphicon-calendar"></i>
                  </button>
                </div>
              </div>
            </div>
            </div>
          </div>


          <button type="submit" class="btn btn-danger mb_20" ng-disabled="form.$invalid" ng-click="getSuspenseData()">Download</button>
          <button type="submit" class="btn btn-danger mb_20" ng-disabled="form.$invalid" ng-click="getSuspenseCount()">Count</button>
        </div>
      </div>
    </form>

    <div ng-show="!isEmpty"> 
      <div class="searchBox">
        <input type="text" class="field" ng-model="searchQuery" placeholder="search" type="search">
        <button><i class="fas fa-search"></i></button>
      </div>
    </div>
    <table class="table-data" st-table="campaignData" st-safe-src="Data" default-sort-reverse="true">
      <tr>
        <th>Sr No</th>
        <th>Organisation Name / Account</th>
        <th>Brand Type</th>
        <th>Campaign Name</th>
        <th>Assigned To</th>
        <th>Assigned By</th>
        <th st-sort="updated_at" st-skip-natural="true">Assigned Date</th>
        <th st-sort="campaign.tentative_start_date" st-skip-natural="true">Start Date</th>
        <th st-sort="campaign.tentative_end_date" st-skip-natural="true">End Date</th>
        <th>Campaign Status</th>
        <th>Comments</th>
        <th>Booking Plan</th>
        <th>Release Plan</th>
        <th>Executed Image</th>
        <th>Download Campaign</th>
        <th>Email</th>
      </tr>
      <tr st-select-row='proposal' dir-paginate="proposal in campaignData | filter:f | filter:searchQuery | itemsPerPage:10"
      total-items="totalrecord" current-page="currentPage" track by "$index">
        <td>{{$index + 1}}</td> 
        <td> {{proposal.campaign.accountOrganisationName}} <br>  ({{proposal.campaign.accountName}})  </td>
        <td> <span ng-if="proposal.campaign.brand == 'single_brand'"> Single Brand </span> <span ng-if="proposal.campaign.brand == 'multi_brand'"> Multi Brand </span></td>
        <td>{{proposal.campaign.name}}</td>
        <td>
          <div ng-repeat="assigned_data in proposal.assigned">{{assigned_data.assigned_to}}</div>
        </td>
        <td>
          <div ng-repeat="assigned_data in proposal.assigned">{{assigned_data.assigned_by}}</div>
        </td>
        <td>{{proposal.updated_at|limitTo:10 }}</td>
        <td>{{proposal.campaign.tentative_start_date|limitTo:10}}</td>
        <td>{{proposal.campaign.tentative_end_date|limitTo:10}}</td>
        <td class="campaignStatus" style="text-transform:lowercase;">{{proposal.campaign.campaign_state==="POH"?"On Hold":proposal.campaign.status}}</td>

        <td rowspan="{{key.length}}" >
          <!-- <div class="comment" ng-if="comments[supplier.id]">
            <b>{{comments[supplier.id].external.username}} </b> 
            <span><small> {{comments[supplier.id].external.created_on | date}}</small></span>
            <p>{{comments[supplier.id].external.comment.slice(0,20)}}</p>
          </div> -->
            <div class="comment">
          
            <p>{{proposal.comment.slice(0,20)}}</p>
          </div>
          <button type="button" class="linkBtn" ng-click="viewComments(proposal.campaign,proposal.id)">View/Add</button>
        </td>
        <td>
          <a class="linkBtn" ng-click="getDetails(proposal.campaign.proposal_id)">Details </a>
        </td>
        <td>
          <a class="linkBtn" ng-click="goToAssignDatesPage(proposal.campaign.proposal_id)">Assign Dates</a>
        </td>
        <td>
          <a class="linkBtn" ng-click="getExecutionDetails(proposal.campaign)">Image Details </a>
        </td>
        <td>
          <a class="linkBtn" ng-click="downloadSheet(proposal.campaign.proposal_id)">Download </a>
        </td>

        <td>
          <a class="linkBtn" data-toggle="modal" data-target="#sendEmailModal" ng-click="getProposalDetails(proposal.campaign)">Send Email</a>
          <!--Open email model    -->
          <div id="sendEmailModal" class="modal fade">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-body">
                  <div class="modalBodyBox">
                    <h3>Send Emails for {{ proposalDetail.name }}</h3>
                    <button type="button" class="close" ng-click="closeModel()" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">×</span>
                    </button>
                    <label>Select Email Type:</label>
                    <select class="field" name="" ng-model="emailModel.selected">
                      <option value="" disabled selected hidden>Email Type</option>
                      <option value="recce">Recce Email</option>
                      <option value="pipelineOfSupplier">Pipelined Societies Email</option>
                      <option value="listOfSupplier">Booking(Upcoming Society activation Email)</option>
                      <option value="activationOfSupplier">Activation Of Society,Branding and Permission Email</option>
                      <option value="prehype">Prehype Email</option>
                    </select>
                    <div class="sendEmail1">
                      <!-- <input type="email" class="field"  placeholder="Enter Email Id to test" ng-model="emailModel.email"> -->
                       <div layout="column" ng-cloak>
                        <md-content class="md-padding" layout="column">
                            <md-chips
                            md-type="email"
                            md-on-add="validateEmail($chip)"
                            ng-model="emailModel.email" input-aria-label="Emails"
                            md-separator-keys="customKeys" placeholder="Enter Multiple User's Email To Send Mail "
                            secondary-placeholder="Enter Email Id"
                            input-aria-describedby="customSeparatorKeyDescription">
                            </md-chips>
                        </md-content>
                       </div>

                      <div class="buttons">
                        <div>
                          <label>Note :- Use comma separation between emails to send multiple emails to users at the same time</label>
                        </div>
                        <div>
                          <button type="button" name="button" ng-Click="sendBookingEmails(proposalDetail.proposal_id)" class="smallBtn" ng-disabled="isEmailButton || emailBtnDisabled || !emailModel.selected">Sendt email for given user</button>
                        </div>
                        <div>
                          <span>OR</span>
                          <button type="button" name="button" class="smallBtn" ng-click="sendBookingEmails(proposalDetail.proposal_id, 'confirmed')" ng-disabled="emailBtnDisabled || !emailModel.selected">Send email to all (Default)</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div><!-- modal -->
        </td>
      </tr>
    </table>
    <dir-pagination-controls max-size="5" direction-links="true" boundary-links="true"
    on-page-change="pageChanged(newPageNumber)" >
  </dir-pagination-controls>
  </div><!-- middle-section -->
  <div class="fixfooter"></div>
</div><!-- wrapperBox -->
<footer-bar></footer-bar>
</main>


<!--START : view external comments modal  -->
<div id="viewComments" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <div class="modalBodyBox">
          <h3>View Comments For {{campaignDataForComment.name}}</h3>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
          <table class="table-data">
            <tr ng-repeat="item in commentsData.general">
              <td>
                <div>
                  <img ng-src="{{userIcon}}">
                  <b>{{item.user_name}}:</b> 
                  <span><small>{{item.timestamp|date:'medium'}}</small></span>
                </div>
                <div style="padding-left:30px">
                  <p style="word-break:break-word">{{item.comment}}</p>
                </div>
              </td>
            </tr>
          </table>
          <div>
            <textarea class="field"  rows="8" cols="200" ng-model="commentModal.comment" placeholder="Write here.."></textarea>
            <button class="smallBtn" type="button" ng-click="addComment()">Add Comment</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div><!-- modal -->


<div id="viewCommentsq" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <div class="modalBodyBox"> 
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
          <h3>Suspense Leads Count : <span style="color:red"> {{suspenseLeadsCount}} </span></h3>
          <div> 
          </div>
        </div>
      </div>
    </div>
  </div>
</div>