<link rel="stylesheet" href="modules/pages/DashBoard/CampaignList/campaignlist.tmpl.css"/>
<link rel="stylesheet" href="modules/common/loadingicon/loading-spinner.tmpl.css"/>


<div ng-loading="loading"></div> <!--For displaying loading icon-->
<main ng-show="!isEmpty" ng-class="{ 'menu-collapsed': $baSidebarService.isMenuCollapsed() }" ng-if="loading">
<div class="wrapperBox">
  <div ng-show="isEmpty" style="text-align:center;"><h2>{{msg}}</h2></div>
  <nav-bar></nav-bar>
  <div class="middle-section">
    <div class="breadcrumb" ncy-breadcrumb></div>
    <h2 class="heading">Campaign List</h2>
    <div ng-show="!isEmpty">
      <div class="searchBox">
        <input type="text" class="field" ng-model="searchQuery" placeholder="search" type="search">
        <button><i class="fas fa-search"></i></button>
      </div>
    </div>
    <table class="table-data" st-table="campaignData" st-safe-src="Data" default-sort-reverse="true">
      <tr>
        <th>Sr No</th>
        <th>Campaign Name</th>
        <th>Assigned To</th>
        <th>Assigned By</th>
        <th st-sort="updated_at" st-skip-natural="true">Assigned Date</th>
        <th st-sort="campaign.tentative_start_date" st-skip-natural="true">Start Date</th>
        <th st-sort="campaign.tentative_end_date" st-skip-natural="true">End Date</th>
        <th>Campaign Status</th>
        <th>Comments</th>
        <th>Booking Plan</th>
        <th>Release Plan</th>
        <th>Executed Image</th>
        <th>Download Campaign</th>
        <th>Email</th>
      </tr>
      <tr st-select-row='proposal' dir-paginate="proposal in campaignData|filter:f|filter:searchQuery|itemsPerPage:10">
        <td>{{$index + 1}}</td>
        <td>{{proposal.campaign.name}}</td>
        <td>
          <div ng-repeat="assigned_data in proposal.assigned">{{assigned_data.assigned_to}}</div>
        </td>
        <td>
          <div ng-repeat="assigned_data in proposal.assigned">{{assigned_data.assigned_by}}</div>
        </td>
        <td>{{proposal.updated_at|limitTo:10 }}</td>
        <td>{{proposal.campaign.tentative_start_date|limitTo:10}}</td>
        <td>{{proposal.campaign.tentative_end_date|limitTo:10}}</td>
        <td class="campaignStatus" style="text-transform:lowercase;">{{proposal.campaign.campaign_state==="POH"?"On Hold":proposal.campaign.status}}</td>

        <td rowspan="{{key.length}}" >
          <div class="comment" ng-if="comments[supplier.id]">
            <b>{{comments[supplier.id].external.username}} </b> 
            <span><small> {{comments[supplier.id].external.created_on | date}}</small></span>
            <p>{{comments[supplier.id].external.comment.slice(0,20)}}</p>
          </div>
          <button type="button" class="linkBtn" ng-click="viewComments(proposal.campaign)">View/Add</button>
        </td>
        <td>
          <a class="linkBtn" ng-click="getDetails(proposal.campaign.proposal_id)">Details </a>
        </td>
        <td>
          <a class="linkBtn" ng-click="goToAssignDatesPage(proposal.campaign.proposal_id)">Assign Dates</a>
        </td>
        <td>
          <a class="linkBtn" ng-click="getExecutionDetails(proposal.campaign)">Image Details </a>
        </td>
        <td>
          <a class="linkBtn" ng-click="downloadSheet(proposal.campaign.proposal_id)">Download </a>
        </td>

        <td>
          <a class="linkBtn" data-toggle="modal" data-target="#sendEmailModal" ng-click="getProposalDetails(proposal.campaign)">Send Email</a>
          <!--Open email model    -->
          <div id="sendEmailModal" class="modal fade">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-body">
                  <div class="modalBodyBox">
                    <h3>Send Emails for {{ proposalDetail.name }}</h3>
                    <button type="button" class="close" ng-click="closeModel()" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">×</span>
                    </button>
                    <label>Select Email Type:</label>
                    <select class="field" name="" ng-model="emailModel.selected">
                      <option value="" disabled selected hidden>Email Type</option>
                      <option value="recce">Recce Email</option>
                      <option value="pipelineOfSupplier">Pipelined Societies Email</option>
                      <option value="listOfSupplier">Booking(Upcoming Society activation Email)</option>
                      <option value="activationOfSupplier">Activation Of Society,Branding and Permission Email</option>
                      <option value="prehype">Prehype Email</option>
                    </select>
                    <div class="sendEmail1">
                      <input type="email" class="field"  placeholder="Enter Email Id to test" ng-model="emailModel.email">
                      <div class="buttons">
                        <div>
                          <button type="button" name="button" ng-Click="sendBookingEmails(proposalDetail.proposal_id)" class="smallBtn" ng-disabled="isEmailButton || emailBtnDisabled">Test email for given user</button>
                        </div>
                        <div>
                          <span>OR</span>
                          <button type="button" name="button" class="smallBtn" ng-click="sendBookingEmails(proposalDetail.proposal_id, 'confirmed')" ng-disabled="emailBtnDisabled">Send email to all (Default)</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div><!-- modal -->
        </td>
      </tr>
    </table>
    <dir-pagination-controls max-size="5" direction-links="true" boundary-links="true"></dir-pagination-controls>
  </div><!-- middle-section -->
  <div class="fixfooter"></div>
</div><!-- wrapperBox -->
<footer-bar></footer-bar>
</main>


<!--START : view external comments modal  -->
<div id="viewComments" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <div class="modalBodyBox">
          <h3>View Comments For {{campaignDataForComment.name}}</h3>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
          <table class="table-data">
            <tr ng-repeat="item in commentsData[selectedInvForView]">
              <td>
                <div>
                  <img ng-src="{{userIcon}}">
                  <b>{{item.user_name}}:</b> 
                  <span><small>{{item.timestamp|date:'medium'}}</small></span>
                </div>
                <div style="padding-left:30px">
                  <p style="word-break:break-word">{{item.comment}}</p>
                </div>
              </td>
            </tr>
          </table>
          <div>
            <textarea class="field"  rows="8" cols="200" ng-model="commentModal.comment" placeholder="Write here.."></textarea>
            <button class="smallBtn" type="button" ng-click="addComment()">Add Comment</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div><!-- modal -->