.campaignStatus::first-letter{
  text-transform: capitalize !important;
}
.modalBodyBox .sendEmail1 .buttons {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 20px;
}
.modalBodyBox .sendEmail1 .smallBtn {
  width: 100%;
  padding: 15px;
}