.main-b2b-tab.nav-tabs {
    width: 100%;
    background-color: #1C0606;
    padding: 5px 10px;
}

.main-b2b-tab.nav-tabs .nav-item.show .nav-link,
.main-b2b-tab.nav-tabs .nav-link.active {
    background-color: #1C0606;
    color: #ffffff;
    border: 0px;
}

.main-b2b-tab.nav-tabs .nav-item.show .nav-link,
.main-b2b-tab.nav-tabs .nav-link.active {
    border: 0;
}

.main-b2b-tab.nav-tabs .nav-link {
    background-color: #1C0606;
    color: #ffffff;
    border: 0px;
    text-transform: uppercase;
}

ul.inner-b2b-tab {
    justify-content: space-between;
    border: 0px;
}

.inner-b2b-tab li {
    width: 49%;
}

.inner-b2b-tab li button {
    width: 100%;
    background-color: #CB3328 !important;
    border: 2px solid #CB3328 !important;
    padding: 10px 5px;
    border-radius: 6px;
    color: #fff;
    margin: 0 auto;
    font-weight: 600;
}

.inner-b2b-tab .nav-link:focus,
.inner-b2b-tab .nav-link:hover {
    color: #fff;
}

.inner-b2b-tab.nav-tabs .nav-item.show .nav-link,
.inner-b2b-tab.nav-tabs .nav-link.active {
    color: #CB3328;
    background-color: transparent !important;
}

.tab-content .MuiSelect-select {
    width: 196px;
    border: 1px solid #1C0606;
    padding: 10px 20px;
    color: #3D0F0C;
}

.tab-content .MuiBox-root label#demo-simple-select-label {
    display: none;
}

.MuiBox-root.css-1nylpq2 {
    height: 42px;
    border: 1px solid #000;
    padding: 4px 10px;
    width: 250px;
    border-radius: 5px;
}

.data-b2b-table .MuiDataGrid-columnHeader {
    background-color: #8E1921;
    color: #fff;
}

.data-b2b-table .css-yrdy0g-MuiDataGrid-columnHeaderRow svg {
    display: none;
}

.data-b2b-table .super-app-theme--header button svg {
    display: block;
    visibility: visible;
    opacity: 1;
    color: #fff;

}

.theme-btn {
    background-color: #9A0000 !important;
}

.text-small {
    text-transform: capitalize !important;
    font-weight: 500 !important;
}

.header-b2b {
    background-color: #fff !important;
    color: #000;
}

.header-b2b button {
    color: #000;
}

.b2b-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.input-col {
    width: 196px;
    border: 1px solid #1C0606;
    padding: 0px 10px;
    color: #3D0F0C;
    border-radius: 5px;
    height: 42px;
}

.input-col-text .MuiInputBase-root {
    margin: 0px;
}

.input-col-text .MuiInputBase-root::before {
    border: 0px solid transparent;
}

.input-col-text .MuiFormLabel-root {
    top: -20px;
}

.input-col svg {
    top: -4px;
    position: relative;
}

.MuiDataGrid-footerContainer {
    display: none !important;
}

.data-b2b-table .MuiDataGrid-columnHeaderTitleContainer,
.data-b2b-table .MuiDataGrid-row:not(.MuiDataGrid-row--dynamicHeight)>.MuiDataGrid-cell {
    justify-content: center;
}

.select-b2b {
    padding: 10px;
}

.select-b2b option {
    line-height: 2;
}

.css-19xm0h7-MuiButtonBase-root-MuiPaginationItem-root.Mui-selected {
    background-color: #CB3328 !important;
    color: #fff !important;

}

.css-19xm0h7-MuiButtonBase-root-MuiPaginationItem-root {
    border: 1px solid #3D0F0C;
}
.MuiDataGrid-cell:last-child{
    display: none !important;
}