<!-- <link rel="stylesheet" href="modules/common/header/nav-bar.tmpl.css"/> -->
<link rel="stylesheet" href="modules/common/header/menu-bar-common.css"/>
<link href="css/smallscreen.css" rel="stylesheet" media="screen">

<header>
  <a href="/#/manageCampaign/create" class="logo">
    <img src="images/machadalo-logo.png" alt="Machadalo">
  </a>
  <div class="topRight">
    <ul class="top-menu">
      <li permission="[perm.menuHome]"><a ng-href="/#/manageCampaign/create"><i class="fas fa-home"></i>Home</a></li>
      <li>
        <a href="#"><i class="fas fa-cog"></i>Setting</a>
        <ul>
          <li><a>&nbsp;</a></li>
          <li permission="[perm.menuCampaignLeads]"><a ng-href="/#/loginLogs">View Logs</a></li>
          <li permission="[perm.menuChangePassword]"><a ng-href="/#/changePassword">Change Password</a></li>
          <li><a href="/#/logout">Logout</a></li>
          <li><a>&nbsp;</a></li>
        </ul>
      </li>
    </ul>
    <div class="user">
      <a href="/#/manageMent/aboutYou">
        <img src="images/user-avatar.jpg" alt="User"> 
      </a>
    </div>
    <ul>
      <li>{{globals.userInfo.first_name}} {{globals.userInfo.last_name}}</li>
      <li><a href="/#/logout" ng-click="closeModal()">Logout</a></li>
    </ul>
  </div>
</header>
<button style="z-index:100001;"  ng-class="{'is-visible':visible,'hide-menu':category=='BUSINESS'}" class="hamburger" ng-class="{'is-visible':visible}" ng-click="visible=!visible;" ng-hide="custom_user_hide">
  <span></span>
  <span></span>
  <span></span>
</button>

<aside style="z-index:100000;" ng-class="{'is-visible':visible}">
  <div class="sidemenu">
    <ul id="menu-content">
      <li class="parent arrow" ng-class="{active: isActive('/dashboard')}" permission="[perm.menuDashboard]">
        <a href="javascript:void(0);">DashBoard</a>
        <ul class="child">
          <li><a ng-href="/#/dashboard">Business</a></li>
          <li><a ng-href="/#/dashboard_Business">Business MCA</a></li>
          <li><a ng-href="/#/b2b/dashboard">B2B Client DashBoard</a></li>
          <li class="arrow">
            <a href="javascript:void(0);">Operational</a>
            <ul class="subchild">
              <li><a href="/r/operations-dashboard">Campaign Report</a></li>
              <li><a href="/r/operations-dashboard/entity">Entity Report</a></li>
              <li><a href="/r/operations-dashboard/user">User Performance</a></li>
            </ul>
          </li>
        </ul>
      </li><!-- li -->
      <li class="parent arrow" ng-class="{active: isActive('/CampaignList')}">
        <a href="javascript:void(0);">Campaign Planning </a>
        <ul class="child">
          <li class="arrow">
            <a href="javascript:void(0);" permission="[perm.menuCampaignList,perm.menuOpsDashBoard]">Static</a>
            <ul class="subchild">
              <li><a href="/#/campaignDecisionBoard" permission="[perm.menuOpsDashBoard]">Campaign Decision Board</a></li>
              <li><a href="/#/CampaignList" permission="[perm.menuCampaignList]">List of Campaign</a></li>
              <li><a href="/#/HDFHDF0789/releasePlan" permission="[perm.menuCampaignList]">Booking Plan</a></li>
              <li><a href="/#/SuspenseLeadSheet" permission="[perm.menuCampaignList]">Suspense Lead Sheet</a></li>
            </ul>
          </li>
          <li class="arrow">
            <a href="javascript:void(0);">Dynamic</a>
            <ul class="subchild">
              <li class="arrow">
                <a href="javascript:void(0);">Supplier</a>
                <ul class="subchildsub">
                  <li><a href="/r/supplier/base-type/list">Standard Templates</a></li>
                  <li><a href="/r/supplier/type/list">Manage Supplier Type</a></li>
                  <li><a href="/r/supplier/list">Manage Supplier</a></li>
                </ul>
              </li>
              <li class="arrow">
                <a href="javascript:void(0);">Inventory</a>
                <ul class="subchildsub">
                  <li><a href="/r/inventory/base/list">Standard Template</a></li>
                  <li><a href="/r/inventory/list">Manage Inventory</a></li>
                </ul>
              </li>
              
              <li class="arrow">
                <a href="javascript:void(0);">Booking Engine</a>
                <ul class="subchildsub">
                  <li><a href="/r/booking/base/list">Standard Templates</a></li>
                  <li><a href="/r/booking/template/list">Booking Templates</a></li>
                  <li><a href="/r/booking/campaigns">Manage Bookings</a></li>
                </ul>
              </li>
              <li class="arrow">
                <a href="javascript:void(0);">Campaign Release</a>
                <ul class="subchildsub">
                  <li><a href="/#/HDFHDF0789/auditReleasePlan">Release and Audit Plan </a></li>
                  <li><a href="#">Manage Phases</a></li>
                </ul>
              </li>

             
            </ul>
          </li>
        </ul>
      </li><!-- li -->
      <li class="parent arrow">
        <a href="javascript:void(0);">Campaign Execution</a>
        <ul class="child">
          <li permission="[perm.menuChecklist]">
            <a href="/r/checklist/campaigns">Campaign Checklist</a>
          </li>
          <li class="arrow">
            <a href="javascript:void(0);">Leads</a>
            <ul class="subchild">
              <li permission="[perm.menuCampaignLeads]"><a href="/#/campaignLeads">Capture Leads</a></li>
              <li><a href="/r/leads/settings">Assign Permission</a></li>
            </ul>
          </li>
        </ul>
      </li><!-- li -->
      <li class="parent arrow" permission="[perm.menuCampaignLeads]">
        <a href="javascript:void(0);">Static Form</a>
        <ul class="child">
          <li><a href="{{formSiteUrl}}#/dashboard">Manage Supplier</a></li>
        </ul>
      </li><!-- li -->
      <li class="parent arrow">
        <a href="javascript:void(0);">Management</a>
        <ul class="child">
          <li>
            <a href="/#/manageMent/aboutYou">My Profile</a>
          </li>
          <li class="arrow" permission="[perm.viewManagement]">
            <a >Organization</a>
            <ul class="subchild">
              <li><a href="/#/manageMent/organisationView">View</a></li>
              <li><a href="/#/manageMent/organisationOnBoard">On-Boarding</a></li>
              <li><a href="/#/manageMent/mapOrganisations">Organizations Mapping</a></li>
            </ul>
          </li>
          <li permission="[perm.viewManagement]">
            <a href="/#/manageMent/profileView">Manage Profile</a>
          </li>
          <!-- <li class="arrow">
            <a href="javascript:void(0);">Manage Profile</a>
            <ul class="subchild">
              <li><a href="/#/manageUser">Create Profile </a></li>
              <li><a href="/#/manageUser">Update</a></li>
            </ul>
          </li> -->
          <li class="arrow" permission="[perm.viewManagement]">
            <a href="javascript:void(0);">Roles</a>
            <ul class="subchild">
              <li><a href="/#/manageMent/createRoles">Create</a></li>
              <li><a href="/#/manageMent/assignRole">Assign</a></li>
              <li><a href="/#/manageMent/viewRole">View</a></li>
            </ul>
          </li>
          <li class="arrow" permission="[perm.viewManagement]">
            <a href="javascript:void(0);">Users</a>
            <ul class="subchild">
              <li><a href="/#/manageMent/createUser">Create User</a></li>
              <li><a href="/#/manageMent/viewUsers">Update</a></li>
            </ul>
          </li>
        </ul>


      </li><!-- li -->
      <li >
        <a href="/#/lead-data">Leads Data</a>
      </li>

      <li >
        <a href="/#/intervene" >Intervene MCA</a>
      </li>

      <li >
        <a href="/#/intervene/mea" >Intervene MEA</a>
      </li>
      <li >
        <a href="/#/templateDashboard" >Template Dashboard MCA</a>
      </li>
      <li >
        <a href="/#/templateDashboardMea" >Template Dashboard MEA</a>
      </li>

    </ul>
  </div> 
</aside>


  <div class="modal change_password" id="passwordModal" >
    <div class="modal-dialog">
      <div class="modal-content">
    <div class="modal-header">
        <h3>Change Password <span class="extra-title muted"></span></h3>
    </div>
    <form name="passwordForm">
    <div class="modal-body form-horizontal">
        <div class="form-group">
            <label for="new_password" class="col-md-4 control-label">New Password</label>
            <div class="col-md-5 controls">
                <input type="password" name="new_password" class="form-control" ng-model="userInfo.password">
            </div>
        </div>
        <div class="form-group">
            <label for="confirm_password" class="col-md-4 control-label">Confirm Password</label>
            <div class="col-md-5 controls">
                <input type="password" name="confirm_password" class="form-control" ng-model="userInfo.confirm_password" ng-change="checkPassword(userInfo.password,userInfo.confirm_password)">
                <span ng-if="!passwordValid && passwordForm.confirm_password.$dirty">{{passwordError}}</span>
            </div>
        </div>
    </div>
  </form>
    <div class="modal-footer">
        <button href="#" class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
        <button href="#" class="btn btn-primary"  id="password_modal_save" ng-click="changePassword()" ng-disabled="!passwordValid">Save changes</button>
    </div>
  </div>