/*Author: Vijay Pandey*/
/*------------ Global ------------*/
* { margin: 0; padding: 0; }
body { font-family: 'Source Sans Pro', sans-serif; }

.field {
  width: 100%;
  padding: 13px 15px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-bottom: 20px;
}
.field:focus {
	outline: 0;
}
.submit-btn {
  width: 100%;
  padding: 17px 20px;
  border-radius: 5px;
  color: #fff;
  display: block;
  font-size: 17px;
  font-weight: 300;
  border: 0;
  outline: 0;
  font-family: 'Source Sans Pro', sans-serif;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradientBG 15s ease infinite;
}
.submit-btn[disabled] {
  background: #ccc;
  pointer-events: none;
}
/*Gradient Animation*/
@keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/*Custom Checkbox*/
.checkbox {
  display: block;
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 400;
  color: #333;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.checkbox .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}
.checkbox:hover input ~ .checkmark {
  background-color: #ccc;
}
.checkbox input:checked ~ .checkmark {
  background-color: #23ccb3;
}
.checkbox .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.checkbox input:checked ~ .checkmark:after {
  display: block;
}
.checkbox .checkmark:after {
  left: 9px;
  top: 5px;
  width: 7px;
  height: 13px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
/*Modal*/
.modal .modal-body {
  background-color: #fff;
  padding: 50px;
  border-radius: 5px;
}
.modal .modalBodyBox h3 {
  font-size: 20px;
  color: #333;
  margin: 0 0 20px 0;
  text-align: left;
}
.modal .modalBodyBox button.close {
  position: absolute;
  top: 50px;
  right: 50px;
  z-index: 1;
}


/*Header*/
header {
  width: 100%;
  padding: 10px 20px 10px 80px;
  display: block;
  background: #fff;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 2;
  border-bottom: 1px solid #d6d6d6;
}
header a.logo {
  display: inline-block;
  vertical-align: top;
  width: 75px;
}
header a.logo img {
  width: 100%;
  height: auto;
}
header .topRight {
  float: right;
  margin-top: 10px;
}
header .topRight .user {
	width: 40px;
	height: 40px;
	display: inline-block;
  vertical-align: top;
	border-radius: 100%;
	overflow: hidden;
}
header .topRight .user img {
	width: 100%;
  height: auto;
}
header .topRight ul {
  margin: 0;
  padding: 4px 0 0 10px;
  display: inline-block;
  vertical-align: top;
}
header .topRight ul li {
  display: block;
  font-size: 12px;
  color: #333;
}
header .topRight ul li a {
  color: #c9302c;
}
.hamburger {
  width: 30px;
  height: 30px;
  position: fixed;
  top: 18px;
  left: 20px;
  z-index: 5;
  border: 0;
  background: none;
  display: block;
}
.hamburger span {
  width: 30px;
  height: 2px;
  display: block;
  background: #000;
  margin: 8px 0;
  transition: all 0.3s ease-in-out;
}
.hamburger:focus {
  outline: 0;
  border: 0;
}

.hamburger span:first-child {
  transform-origin: 0% 0%;
}

.hamburger span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

.hamburger.is-visible span {
  opacity: 1;
  transform: rotate(45deg) translate(-8px, -2px);
  background: #36383F;
}
.hamburger.is-visible span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

.hamburger.is-visible span:nth-last-child(2) {
  transform: rotate(-45deg) translate(-9px, 10px);
}

/*Footer*/
footer {
  width: 100%;
  padding: 20px 0 15px 0;
  display: table;
  background: #e0e0e0;
  margin-top: 30px;
}
footer .column {
  width: 50%;
  display: table-cell;
  vertical-align: middle;
}
footer .column .copyright {
  padding-left: 20px;
  font-size: 12px;
  color: #333;
}
footer .column ul {
  float: right;
  margin: 0;
  padding: 0 20px 0 0;
}
footer .column ul li {
  font-size: 12px;
  display: inline-block;
  vertical-align: top;
  margin-left: 10px;
}
footer .column ul li a {
  color: #333;
  padding-left: 10px;
}

/*Sidebar Menu*/
aside {
  width: 250px;
  height: 100vh;
  padding: 70px 0px 20px 10px;
  position: fixed;
  left: -100%;
  top: 0;
  bottom: 0;
  z-index: 3;
  background: linear-gradient(-85deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradientBG 15s ease infinite;
  transition: all 0.5s ease-in-out;
}
aside.is-visible {
  left: 0;
  transition: all 0.5s ease-in-out;
}
aside ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
aside ul li {
  font-size: 14px;
  position: relative;
  color: #fff;
}
aside ul li i {
  margin-right: 6px;
  font-size: 13px;
}
aside ul li a {
  color: #fff;
  padding: 13px 25px;
  display: block;
}
aside ul li a:hover {
  color: #333;
  background: #fff;
  text-decoration: none;
  border-radius: 50px 0 0 50px;
}
aside ul li:focus,
aside ul li a:focus {
  outline: 0;
  border: 0;
}
aside ul li.dropdown-list-parent {
  padding: 13px 0 13px 0px;
  display: block;
  text-indent: 25px;
}
aside ul li ul[aria-hidden="false"] {
  border-top: 1px dashed rgba(255,255,255,0.30);
  border-bottom: 1px dashed rgba(255,255,255,0.30);
  margin-top: 20px;
}
aside ul li ul li {
  position: relative;
}
aside ul li ul li:before {
  content: '';
  width: 4px;
  height: 4px;
  display: block;
  background: #fff;
  position: absolute;
  left: 26px;
  top: 19px;
  border-radius: 100%;
  z-index: 0;
}

.middle-section {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 50px;
}
.middle-section .breadcrumb {
  display: block;
  padding: 0;
  margin: 0 0 20px 0;
  border-radius: 0;
  font-size: 14px;
}