/*Author: Vijay Pandey*/
/*------------ Global ------------*/
* { margin: 0; padding: 0; }
body { font-family: 'Source Sans Pro', sans-serif; }
.clearfix:before, 
.clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}
.btn-close {
  position: absolute;
  top: 15px;
  right: 15px;
}
.modalBodyBox {
  padding-bottom: 15px;
  padding-top: 15px;
}
.bg-red{
  background-color: #8e1921 !important;
  color: #fff !important;
}
.bg-red .close{
  color: #fff;
  opacity: 1;
}
.clearfix {
    *zoom: 1;
}
input:focus,
button:focus,
select:focus,
textarea:focus {
  outline: 0;
}
label {
	display: block;
}
label span {
	color: #e84478;
}
.field {
  width: 100%;
  padding: 13px 15px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-bottom: 20px;
  box-sizing: border-box !important;
}
.smallfield {
  width: 100%;
  padding: 6px 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-bottom: 20px;
  box-sizing: border-box !important;
}
.field:focus,
.smallfield:focus {
	outline: 0;
}

.field[disabled], 
.field[readonly] {
	background: #e8e8e8;
}

.submit-btn {
  width: 100%;
  padding: 17px 20px;
  border-radius: 5px;
  color: #fff;
  display: block;
  font-size: 17px;
  font-weight: 300;
  border: 0;
  outline: 0;
  font-family: 'Source Sans Pro', sans-serif;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradientBG 15s ease infinite;
}
.smallBtn {
    font-size: 12px;
    color: #fff;
    padding: 8px 15px;
    border-radius: 4px;
    border: 0;
    outline: 0;
    background: linear-gradient(-140deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradientBG 15s ease infinite;
}
.submit-btn[disabled],
.smallBtn[disabled] {
  background: #ccc;
  pointer-events: none;
}
/*Gradient Animation*/
@keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/*Custom Checkbox*/
.checkbox {
  display: block;
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 400;
  color: #333;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.checkbox .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}
.checkbox:hover input ~ .checkmark {
  background-color: #ccc;
}
.checkbox input:checked ~ .checkmark {
  background-color: #23ccb3;
}
.checkbox .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.checkbox input:checked ~ .checkmark:after {
  display: block;
}
.checkbox .checkmark:after {
  left: 9px;
  top: 5px;
  width: 7px;
  height: 13px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
/*Modal*/
.modal .modal-body {
  background-color: #fff;
  padding: 50px;
  border-radius: 5px;
}
.modal .modalBodyBox h3 {
  font-size: 20px;
  color: #333;
  margin: 0 0 20px 0;
  text-align: left;
}
.modal .modalBodyBox button.close {
  position: absolute;
  top: 50px;
  right: 50px;
  z-index: 1;
}


/*Header*/
header {
  width: 100%;
  padding: 10px 20px 10px 80px;
  display: block;
  background: #fff;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 12;
  border-bottom: 1px solid #d6d6d6;
}
header a.logo {
  display: inline-block;
  vertical-align: top;
  width: 75px;
}
header a.logo img {
  width: 100%;
  height: auto;
}
header .topRight {
  float: right;
  margin-top: 10px;
}
header .topRight .user {
	width: 40px;
	height: 40px;
	display: inline-block;
  vertical-align: top;
	border-radius: 100%;
	overflow: hidden;
}
header .topRight .user img {
	width: 100%;
  height: auto;
}
header .topRight ul {
  margin: 0;
  padding: 4px 0 0 10px;
  display: inline-block;
  vertical-align: top;
}
header .topRight ul li {
  display: block;
  font-size: 12px;
  color: #333;
}
header .topRight ul li a {
  color: #c9302c;
}
header .topRight .top-menu {
  float: left;
  margin-right: 20px;
  margin-top: 5px;
}
header .topRight .top-menu li {
  display: inline-block;
  vertical-align: top;
  position: relative;
  margin: 0 10px;
  font-size: 14px;
  font-weight: 600;
}
header .topRight .top-menu li i {
  margin-right: 10px;
}
header .topRight .top-menu li a {
  color: #333;
}
header .topRight .top-menu li ul {
  width: 170px;
  position: absolute;
  top: 14px;
  left: -30px;
  padding: 38px 0 0 0;
  z-index: 1;
  opacity: 0;
  visibility: hidden;
}
header .topRight .top-menu li ul:before {
  content: '';
  width: 0; 
  height: 0; 
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 15px solid #eaeaea;
  position: absolute;
  top: 23px;
  left: 60px;
}
header .topRight .top-menu li ul li {
  display: block;
  margin: 0;
}
header .topRight .top-menu li ul li a {
  padding: 5px 30px;
  background: #eaeaea;
  display: block;
}
header .topRight .top-menu li ul li:first-child a,
header .topRight .top-menu li ul li:last-child a {
  pointer-events: none;
}
header .topRight .top-menu li:hover ul {
  opacity: 1;
  visibility: visible;
}
.hamburger {
  width: 30px;
  height: 30px;
  position: fixed;
  top: 18px;
  left: 20px;
  z-index: 16;
  border: 0;
  background: none;
  display: block;
}
.hamburger span {
  width: 30px;
  height: 2px;
  display: block;
  background: #000;
  margin: 8px 0;
  transition: all 0.3s ease-in-out;
}
.hamburger:focus {
  outline: 0;
  border: 0;
}

.hamburger span:first-child {
  transform-origin: 0% 0%;
}

.hamburger span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

.hamburger.is-visible span {
  opacity: 1;
  transform: rotate(45deg) translate(-8px, -2px);
  background: #36383F;
}
.hamburger.is-visible span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

.hamburger.is-visible span:nth-last-child(2) {
  transform: rotate(-45deg) translate(-9px, 10px);
}

/*Footer*/
footer {
  width: 100%;
  padding: 20px 0 15px 0;
  display: table;
  background: #e0e0e0;
  margin-top: 30px;
}
footer .column {
  width: 50%;
  display: table-cell;
  vertical-align: middle;
}
footer .column .copyright {
  padding-left: 20px;
  font-size: 12px;
  color: #333;
}
footer .column ul {
  float: right;
  margin: 0;
  padding: 0 20px 0 0;
}
footer .column ul li {
  font-size: 12px;
  display: inline-block;
  vertical-align: top;
  margin-left: 10px;
}
footer .column ul li a {
  color: #333;
  padding-left: 10px;
}

/*Sidebar Menu*/
aside {
  width: 250px;
  height: 100vh;
  padding: 70px 0px 20px 0px;
  position: fixed;
  left: -100%;
  top: 0;
  bottom: 0;
  z-index: 15;
  background: linear-gradient(-85deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradientBG 15s ease infinite;
  transition: all 0.5s ease-in-out;
}
aside.is-visible {
  left: 0;
  transition: all 0.5s ease-in-out;
}
aside ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
aside ul li {
  font-size: 14px;
  position: relative;
  color: #fff;
  cursor: context-menu;
}
aside ul li.arrow:after {
  content: '';
  width: 0; 
  height: 0; 
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid #fff; 
  position: absolute;
  right: 10px;
  top: 18px;
}
aside ul li i {
  margin-right: 6px;
  font-size: 13px;
}
aside ul li a {
  color: #fff;
  padding: 13px 25px;
  display: block;
}
aside ul li a:hover {
  color: #333;
  background: rgba(255,255,255,0.40);
  text-decoration: none;
}
aside ul li:focus,
aside ul li a:focus {
  outline: 0;
  border: 0;
}
aside ul li ul.child,
aside ul li ul.child li ul.subchild,
aside ul li ul.child li ul.subchild li ul.subchildsub {
  width: 210px;
  position: absolute;
  right: -210px;
  top: 0;
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  box-shadow: 0 3px 5px 0 rgba(0,0,0,0.20);
  background: linear-gradient(-85deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradientBG 15s ease infinite;
  transition: all 0.5s ease-in-out;
}
aside ul li:hover ul.child {
  opacity: 1;
  visibility: visible;
}
aside ul li ul.child li {
  position: relative;
}
aside ul li ul.child li:hover ul.subchild {
  opacity: 1;
  visibility: visible;
}
aside ul li ul.child li ul.subchild li:hover ul.subchildsub {
  opacity: 1;
  visibility: visible;
}


.middle-section {
  /* padding-left: 20px !important; 
  padding-right: 20px !important; */
  padding-top: 100px;
  min-height: calc(100vh - 85px);
}
.middle-section .breadcrumb {
  display: block;
  padding: 0;
  margin: 0 0 20px 0;
  border-radius: 0;
  font-size: 14px;
}
.middle-section .breadcrumb li a {
	color: #e84478;
}

.heading {
  font-size: 18px;
  font-weight: 400;
  color: #e84478;
  position: relative;
  margin: 0 0 30px 0;
  padding-bottom: 10px;
}
.heading:after {
  content: '';
  width: 100%;
  height: 1px;
  position: absolute;
  bottom: -10px;
  left: 0;
  display: block;
  background: #e84478;
}
.table-data {
  width: 100%;
  table-layout: auto;
  border-collapse: collapse;
}
.table-data th,
.table-data td {
  padding: 5px;
  font-size: 13px;
  color: #333;
  border: 1px solid #ccc;
  text-align: left;
}
.table-data th {
  font-weight: 600;
  color: #000;
  background: #e8e2e2;
}
.table-data td .linkBtn {
  color: #e84a73;
  font-weight: 600;
  cursor: pointer;
  background: none;
  border: 0;
}
.table-data tr:nth-child(even) {
  background: #fbfbfb;
}
.table-data tr:nth-child(odd) {
  background: #ffffff;
}
.table-top {
	margin-bottom: 30px;
}
.layoutfixed {
  table-layout: fixed;
  border-collapse: collapse;
}
.searchBox {
  display: block;
  width: 100%;
  position: relative;
}
.searchBox button {
  width: 40px;
  height: 48px;
  line-height: 48px;
  text-align: center;
  font-size: 15px;
  color: #333;
  background: none;
  border: 0;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 0;
  cursor: auto;
}
.textR {
  text-align: right;
}
.textL {
  text-align: left;
}
.textC {
  text-align: center;
}
.pagination li a {
  margin: 0 5px;
  border-radius: 4px;
}
.pagination li.active a {
  border: 0;
  padding: 6px 12px 7px 12px;
  background: linear-gradient(-85deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradientBG 15s ease infinite;
}
.searchBox .field,
.fieldBoxFull .field {
	border: 2px solid rgba(0,0,0,0.10);
}
.backBtn {
  float: right;
  margin-top: 30px;
  margin-left: 20px;
  position: relative;
  z-index: 1;
}

/*Change Password*/
.changePasswordBox {
  width: 800px;
  margin: 0 auto 0 auto;
  padding: 60px;
  border-radius: 6px;
  box-shadow: 0px 3px 10px 0 rgba(0,0,0,0.20);
}
.changePasswordBox h1 {
	font-size: 30px;
	font-weight: 300;
	color: #e84478;
	margin: 0 0 20px 0;
}
.changePasswordBox p {
	font-size: 14px;
	color: #333;
	margin: 0 0 20px 0;
}
.changePasswordBox span {
	display: block;
	margin-bottom: 10px;
}

/*Management Section*/
.section-display table {
  margin-bottom: 30px;
}
.section-display .grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
}
.section-display#profile .heading {
	margin-top: 20px;
}


.gridTwoColumnSection {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 30px;
}
.gridTwoColumnSection .item .position,
.relative {
	position: relative;
}
.gridTwoColumnSection .item .position .calendar,
.relative .calendar {
	position: absolute;
	top: 0;
	right: 0;
	z-index: 1;
	width: 48px;
	height: 48px;
}
.gridTwoColumnSection .has-error .error {
	border: 1px solid #e84478;
}
.gridTwoColumnSection .form-group {
	margin-bottom: 0;
}
.gridTwoColumnSection .field {
	margin-bottom: 0;
}
.section-display .tab-content {
	box-shadow: none;
	padding: 0;
	margin-bottom: 30px;
}
.section-display .moving-tab {
	display: none;
}
.onboardTab {
	margin-bottom: 30px;
}
.onboardTab li {
	text-align: center;
	width: 150px !important;
}
.onboardTab li a {
	color: #333;
}
.onboardTab li.active a {
	background: linear-gradient(-85deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradientBG 15s ease infinite;
	transition: all 0.5s ease-in-out;
}

.search-box-active{
  display: flex;
  gap: 15px;
}
.search-box-active .input-wrapper{
  flex: 0 0 calc(75% - 20px);
}
.search-box-active .select{
  flex: 0 0 25%;
}
.search-box-active .select select{
  width: 100%;
  border-radius: 20px;
  box-shadow: none;
  outline: none;
  border: 1px solid #000;
  padding: 6px 15px;
}

.phone-chat .screen-phone button{
  bottom: 35px;
}

/*6-mar-21*/
.li-popup .multiselectDropdown .dropdown-menu {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 999999;
  transform: translate(-50%, -50%);
  max-height: 400px;
  overflow-x: auto;
}
.li-popup .multiselectDropdown.multiselectDropdown-123 .dropdown-menu{
  position: absolute;
    top: 100%;
    left: 0;
    transform: unset;
}

.scroll-tbody table tbody {
    overflow: auto;
    overflow-x: auto;
    overflow-x: auto;
    overflow-x: hidden;
    max-height: 350px;
    display: block;
}
.scroll-tbody table thead{
  display: block;
}
.custom-modal-box{
  /* position: absolute !important; */
  top: 0 !important;
  background-color: rgba(0,0,0,0.5);
}
/*.table-suppliers td:nth-child(2), .table-suppliers th:nth-child(2){
  position: fixed;
}
.table-suppliers td:nth-child(3), .table-suppliers th:nth-child(3){
  margin-left: 170px;
}*/


.navbar-default .navbar-nav > li  button{
    padding-top: 15px;
    padding-bottom: 15px;
    background: unset;
    color: #777;
    margin: 0;
    font-weight: 900;
    border: none;
}

/* For media screen*/

@media only screen and (max-width :767px)  {
  .pm-0{
    padding: 0;
  }
  .hamburger {
    width: 30px;
    height: 30px;
    position: fixed;
    top: 25px;
    left: 15px;
    z-index: 16;
    border: 0;
    background: none;
    display: block;
  }
header{
    width: 100%;
    padding: 20px 10px 0px 0px;
    display: block;
    background: #fff;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 12;
    border-bottom: 1px solid #d6d6d6;
}
header a.logo img {
  width: 100%;
  height: auto;
  margin-left: 45px;
}

header .topRight .top-menu li {
    display: inline-block;
    vertical-align: top;
    position: relative;
    font-size: 14px;
    font-weight: 600;
    margin: 0px;
}

header .topRight ul {
    margin: 0;
    padding: 4px 0 0 0px;
    display: inline-block;
    vertical-align: top;
}

header .topRight .top-menu {
    float: left;
    margin-right: 10px;
    margin-top: 5px;
}
}

.hide-menu{
  display: none;
}

.hide_new_leadtab{
  display: none;
}

.client-status{
  margin-top: 8px;
}

.client-comment{
  height: 78px !important;
  margin-top: 8px;
}

.tool-tip{
  position: relative;
}

.tool-icon{
  position: absolute;
  top: 0px;
  right: 8px;
  font-size: 16px;
}

.tool-popup{
  position: absolute;
  background-color: #FFFFFF;
  right: -8px;
  border: 1px solid #000;
  border-radius: 4px;
  padding: 8px 16px;
  min-width: 100px;
  z-index: 16;
  line-height: 1.5;
}


.al-main .ng-isolate-scope{
  list-style: none;
}
#SuspenseLeadsModel .modal-dialog, #RequirementModel .modal-dialog{
  width: 1200px;
}
.leads-btn .btn{
  padding: 12px  6px;
  background-color: #d0332c;
  margin-top: 20px;
}
.leads-btn .col-sm-6{
  padding: 0px 15px ;
}

.leads-btn .col-sm-6:first-child{
  padding-left: 0px;
}
.leads-btn .col-sm-6:last-child{
  padding-right: 0px;
}
.modalBodyBox label {
  font-size: 15px;
}
.leads-btn .btn:active {
  background: #8e1921 !important;
}
.leads-btn .btn.active {
  background: #8e1921 !important;
}
.multi_dropdwn .multiselect-parent .dropdown-toggle{
    width: 100% !important;
    padding: 13px 15px;
    border-radius: 5px;
    border: 1px solid #ccc !important;
    margin-bottom: 20px;
    box-sizing: border-box !important;
}
.chose-file input[type="file"]{
  display: inline-block;
  width: 100px;
  outline: none;
}
.custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
}
.custom-file-input::before {
  content: 'Select file';
  display: inline-block;
  background: #e85656;
  border: 1px solid #d03e3e;
  color: #fff;
  border-radius: 5px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  font-weight: 700;
  font-size: 10pt;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
}
.custom-file-input:hover::before {
  border-color: #d03e3e;
}
.custom-file-input:active::before {
  background: #e85656;
}
.line-h-table.table > tbody > tr > td{
  line-height: 1.3;
}

.suspense-lead-sheet{
  margin-top: 0;
  /* margin-bottom: 0; */
}
.suspense-lead-sheet h3{
  margin-top: 0;
}
.suspense-lead-sheet-page .middle-section{
  padding: 30px;
}
.suspense-lead-sheet-page .dashboard-tab h5{
  margin: 0;
}
.small-dropdown{
  max-width: 250px;margin-top: 10px;
  margin-bottom: 10px;
  margin-left: auto;
}
.d-flex{
  display: flex;
}
.align-item-center{
  align-items: center;
}
.b2b-dash-modal{
  text-align: left;
}
.b2b-dash-modal h4{
  font-size: 14px;    text-align: left;
  margin: 5px 0px;
}
.pt-5{
  padding-top: 5px;
}
.justify-content-between{
  justify-content: space-between;
}
.font-14{
  font-size: 14px;
}
.b2b-dash-modal table tr th, .b2b-dash-modal table tr td{
  pad: 6px 10px ;
}
.text-left{
  text-align: left;
}
@media screen and (max-width: 767px) {
  #SuspenseLeadsModel .modal-dialog,  #RequirementModel .modal-dialog{
    width: auto;
  }
}

.search-input-wrapper{
  background-color: #fff !important;
  border: 1px solid #cbcbcb;
  border-radius: 5px;
  width: 50%;
}
.search-input-wrapper input{
  background-color: #fff !important;
  margin: 0px 8px !important;
}
.theme-color{
  background-color: #8e1921;
  color: #fff;
  padding: 8px 9px;
  font-size: 19px !important;
}
.p-0{
  padding: 0 ;
}
#TemplateModal .modal-header .close {
  margin-top: 2px;
  left: -9px;
  color: #fff;
  position: relative;
}
#TemplateModal .text-muted{
  font-weight: 500 ;font-size: 13px;
  padding-top: 3px;
}
h6.msg-title {
  color: #8e1921 !important;
  font-weight: 500 !important;
}
.templte-box-list {
  padding: 3px 0px  !important;
}
.input-params{
  padding: 8px
}
.input-params input{
  border: 1px solid #e0e0e0;    padding: 6px 5px;
  font-size: 13px;
  border-radius: 3px;
}
.input-params .btn-primary{
  padding: 3px 9px;
  margin-left: 8px;
  height: 30px;
  top: -2px;
  position: relative;
}
.param-div{
  background-color: #ffd1d1;
  padding: 9px 5px;
  margin-bottom: 15px;
}
.param-list{
  padding: 4px 6px;
    max-width: 535px;
    overflow-x: auto;
    overflow-y: hidden;
    font-weight: 600;
    white-space: nowrap;
}
.search-div input{
  padding: 8px 9px  !important;
}

@media only screen and (max-width: 767px){
.search-div .d-flex.f-div{
  display: block;
}

.mobile-m-5{
  margin-bottom: 15px !important;
}
.mobile-p-0{
  padding: 0px !important;
}
.mobile-p-10 {
  padding-bottom: 20px;
}
}


@media screen and (max-width: 1024px)
{
.al-main.b2b-dash {
    padding-top: 70px !important;
}

}