<link rel="stylesheet" href="modules/pages/login/login.tmpl.css" />
<link rel="stylesheet" href="modules/common/loadingicon/loading-spinner.tmpl.css" />
<script src='https://www.google.com/recaptcha/api.js' async defer></script>
<link href="css/smallscreen.css" rel="stylesheet" media="screen">

<div class="covid-hospital" ng-init="getStateCity();getCategory();">
  <div class="page-wrapper">
    <div class="logo-sec">
      <img src="images/machadalo-logo.png" alt="logo">
      <h1><span class="img_hospital"><img src="images/plus_icon.png" alt="logo"></span> COVID19 HELPDESK, AVAILABLE BEDS</h1>
    </div>

    <div class="container">
      <div class="page-inner">
        <div class="top-select-option">
          <div class="form-group">
            <select class="form-control" name="category" id="Category_id"  ng-change="changeWeb()" ng-model="selectedCategory">
              <option ng-repeat="cat in categorysArray track by $index" value="{{cat.name}}"  style="text-transform: capitalize;">
                {{cat.name}}
              </option>
            </select>
          </div>
          <p style="text-align: center;">
          <!-- <h4 style="text-align: center;"> Data currently available for {{stateData.length}} States/UT and {{totalCity}} Districts as per all
            available Online Government and Volunteer Sources</h4> -->
            <h4 style="text-align: center;"> Data currently available for {{stateData.length}} States/UT and 410 Districts as per all
              available Online Government and Volunteer Sources</h4>
          </p>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <select class="form-control" ng-change="getCity()" name="state" id="state_id" ng-model="state_code">
                  <option value="" disabled>
                    Select State/UT
                  </option>
                  <option ng-repeat="state in stateData track by $index" value="{{state.state_code}}"
                    style="text-transform: capitalize;">
                    {{state.name}}
                  </option>
                </select>
              </div>

              <!-- <div class="form-group">
                <select class="form-control" name="city" ng-change="getBeds()" id="city_id" ng-model="district_code">
                  <option value="" disabled>
                    Select District/City
                  </option>
                  <option ng-repeat="city in cityList track by $index" value="{{city.district_code}}"
                    style="text-transform: capitalize;">
                    {{city.district_name}}
                  </option>
                </select>
              </div> -->
            </div>
            <!-- <h2> <span class="or">OR</span> </h2> -->
            <!-- <div class="col-md-6">
              <div class="form-group">
                <input class="form-control" name="pin_code" ng-model="pin_code" placeholder="Pin Code" disabled>
              </div>
            </div> -->

            <div class="col-md-6">
              <div class="form-group">
                <select class="form-control" name="city" ng-change="getBeds()" id="city_id" ng-model="district_code">
                  <option value="" disabled>
                    Select District/City
                  </option>
                  <option ng-repeat="city in cityList track by $index" value="{{city.district_code}}" style="text-transform: capitalize;">
                   <p style="text-transform: capitalize;"> {{city.district_name}} </p>
                  </option>
                </select>
              </div>
            </div>

          </div>
        </div>
        <div class="summery">         
          <h4 class="title" ng-if="selectedCityName || selectedStateName">Summary of Availability: Hospital Beds for
            {{selectedCityName}} <span ng-if="selectedCityName && selectedStateName">,</span> {{selectedStateName}}
          </h4>
          <h4 class="title" ng-if="!selectedCityName && !selectedStateName">Summary </h4>
          <div class="row">
            <div class="col-md-6">
              <div class="card">
                <h3>Total Hospitals :
                  <span ng-if="hospitalDetailData.length > 0">{{hospitalDetailData.length}}</span>
                  <span ng-if="hospitalDetailData.length == 0 || !hospitalDetailData">0</span>
                  <p style="margin-top: 10px;">Total Hospital Beds:
                    <span>{{totalHospitalBeds}}</span>
                  </p>
                </h3>


                <div ng-if="!loading" ng-loadings="loading"></div>
                <div class="hospital-card-wrapper" ng-if="loading">
                  <div ng-repeat="beds in resourcesTypeData ">
                    <div class="hospital-card" ng-if="beds.resourceType !='LATEST UPDATED TIME' && beds.resourceType !='FACILITY NAME - ASCENDING' && beds.resourceType !='FACILITY NAME - DESCENDING' && beds.resourceType !='TOTAL BEDS AVAILABLE'">
                      <h4>{{beds.resourceType |replace: '_':' '}} : <span
                          ng-if="beds.totalQuantity">{{beds.totalQuantity}}</span>
                        <span ng-if="!beds.totalQuantity">N/A</span>
                      </h4>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="card header" style="background-color: seagreen;">
                <h3>Available Hospitals : <span>{{totalAvailableCountsData}}</span>
                  <p style="margin-top: 10px;"> Total Hospital Beds Available:
                    <span>{{totalAvailableBeds}}</span>
                  </p>
                </h3>
                <div ng-if="!loading" ng-loadings="loading"></div>
                <div class="hospital-card-wrapper" ng-if="loading">
                  <div ng-repeat="availableBeds in resourcesTypeData">
                    <div class="hospital-card" ng-if="availableBeds.resourceType !='LATEST UPDATED TIME' && availableBeds.resourceType !='FACILITY NAME - ASCENDING' && availableBeds.resourceType !='FACILITY NAME - DESCENDING' && availableBeds.resourceType !='TOTAL BEDS AVAILABLE'">
                      <h4>{{availableBeds.resourceType |replace: '_':' '}} : <span
                          ng-if="availableBeds.quantity">{{availableBeds.quantity}}</span>
                        <span ng-if="!availableBeds.quantity">N/A</span>
                      </h4>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="summery-bottom-cards">
            <div class="row">
              <div>
                <div class="card">
                  <div class="img-card">
                    <img src="images/hospital-white-noshadowai-icon.png"
                      alt="Hospital">
                  </div>
                  <!-- <h2> <span ng-if="hospitalDetailData.length > 0">{{hospitalDetailData.length}}</span>
                   </h2>
                   <p><span ng-if="hospitalDetailData.length == 0 || !hospitalDetailData">N/A</span></p> -->
                  <p> <span ng-if="hospitalDetailData.length > 0">{{hospitalDetailData.length}}</span>
                  </p>
                  <p><span ng-if="hospitalDetailData.length == 0 || !hospitalDetailData">N/A</span></p>
                  <p>TOTAL HOSPITALS
                  </p>
                </div>
              </div>
              <!-- <div class="col-md-3">
                <div class="card">
                  <div class="img-card">
                    <img src="https://www.pngkey.com/png/full/357-3572177_hospital-white-noshadowai-icon.png"
                      alt="Hospital">
                  </div>
                  <p>N/A</p>
                  <p>Testing Labs</p>
                </div>
              </div>
              <div class="col-md-3">
                <div class="card">
                  <div class="img-card">
                    <img src="https://www.pngkey.com/png/full/357-3572177_hospital-white-noshadowai-icon.png"
                      alt="Hospital">
                  </div>
                  <p>N/A</p>
                  <p>Care Centers</p>
                </div>
              </div>
              <div class="col-md-3">
                <div class="card">
                  <div class="img-card">
                    <img src="https://www.pngkey.com/png/full/357-3572177_hospital-white-noshadowai-icon.png"
                      alt="Hospital">
                  </div>
                  <p>N/A</p>
                  <p>Collection Centers</p>
                </div>
              </div> -->
            </div>
          </div>
          <div class="search-hopital">
            <div class="search-form">
              <form class="d-flex">
                <input class="form-control" type="search" ng-model="searchQuery" placeholder="Search Hospital"
                  aria-label="Search">
                <span class="search-ic"><i class="fas fa-search"></i></span>
              </form>
            </div>

            <!-- <div ng-click="Sort(vendor_name)" > &nbsp;<a></a></div>
            <i class="bi bi-sort-up"></i> -->
            <div class="dropdown-wrap" ng-show="(hospitalDetailData|filter:searchQuery).length > 0">
            <!-- <div class="drop-down-list facility-name">
              Facility Name
            <span class="fa fa-sort-down columnSortIcons" ng-hide="sort == '-vendor_name'"  ng-click="Sort('-vendor_name')"></span>
            <span class="fa fa-sort-up columnSortIcons" ng-hide="sort == '+vendor_name'" ng-click="Sort('+vendor_name')"></span>
            </div> -->

            <div class="drop-down-list facility-name">
              Availability By <i class="fa fa-arrow-down" aria-hidden="true"></i>
            </div>

            <div class="col-md-3">
              <div class="form-group">
                <select class="form-control" name="catType" ng-change="getBeds('catFilter')" id="catType_id" ng-model="categoryFilter">
                  <option value="" disabled>
                    Select Filter/Category
                  </option>
                  <option ng-repeat="availableBeds in resourcesTypeData track by $index" value="{{availableBeds.resourceType}}"
                    style="text-transform: capitalize;">
                    {{availableBeds.resourceType |replace: '_':' '}}
                  </option>
                </select>
              </div>
            </div>

            <!-- <div class="drop-down-list total">
              Total
            <span class="fa fa-sort-down columnSortIcons" ng-hide="sortingParam == 'quantity' && sortingType == 'DESC'" ng-click="getBeds('quantity','DESC')"></span>
            <span class="fa fa-sort-up columnSortIcons" ng-hide="sortingParam == 'quantity' && sortingType == 'ASC'" ng-click="getBeds('quantity','ASC')"></span>
            </div>

            <div class="drop-down-list available">
            Available
            <span class="fa fa-sort-down columnSortIcons"  ng-hide="sortingParam == 'totalQuantity' && sortingType == 'DESC'" ng-click="getBeds('totalQuantity','DESC')"></span>
            <span class="fa fa-sort-up columnSortIcons"  ng-hide="sortingParam == 'totalQuantity' && sortingType == 'ASC'" ng-click="getBeds('totalQuantity','ASC')"></span>
            </div> -->
          </div>

            <div class="natext" ng-show="(hospitalDetailData|filter:searchQuery).length > 0">
              N/A means Data Not Available
            </div>

            
            <div ng-if="!loading" ng-loadings="loading"></div>
            <div class="row" ng-if="loading">
              <!-- <div class="col-md-6" ng-repeat="hospital in hospitalDetailData | filter : searchQuery | orderBy:'-vendor_name'"> -->
              <div class="col-md-6" ng-repeat="hospital in hospitalDetailData | filter : searchQuery | orderBy:sort">
                <div class="card">
                  <h3>Facility Name: <span>{{hospital.vendor_name}}</span>
                    <span ng-if="hospital.address">,</span>
                    <span>{{hospital.address}}</span>
                    <!-- <span ng-if="hospital.city">,</span>
                        <span>{{hospital.city}}</span>
                        <span ng-if="hospital.district">,</span>
                        <span>{{hospital.district}}</span>
                        <span ng-if="hospital.state">,</span>
                        <span>{{hospital.state}}</span> -->
                  </h3>
                  <ul>
                    <li>Beds Available:<span style="color:green" ng-if="hospital.AvailableofBedsinHospital > 0">Yes
                        ({{hospital.AvailableofBedsinHospital}})</span>
                      <span style="color:red" ng-if="hospital.AvailableofBedsinHospital == 0">No</span>
                    </li>
                  </ul>
                  <table class="table covid-hospital-table">
                    <thead>
                      <tr>
                        <th scope="col"></th>
                        <td scope="col">Total</td>
                        <td scope="col">Available</td>
                        <td scope="col">Occupied</td>
                      </tr>
                    </thead>
                    <tbody>
                      <tr ng-repeat="resources in hospital.hospital_data[0].resources | orderBy:'-totalQuantity'">
                        <th scope="row">{{resources.resourceType |replace: '_':' '}}:</th>
                        <td ng-if="resources.totalQuantity">{{resources.totalQuantity}}</td>
                        <td ng-if="!resources.totalQuantity">N/A</td>
                        <td ng-if="resources.quantity">{{resources.quantity}}</td>
                        <td ng-if="!resources.quantity">N/A</td>
                        <td ng-if="resources.totalQuantity">{{resources.totalQuantity - resources.quantity}}</td>
                        <td ng-if="!resources.totalQuantity">N/A</td>

                      </tr>

                      <tr ng-if="!createdDate">
                        <th colspan="2">Last Updated by Hospital:</th>
                        <!-- <td colspan="2"><span class="ng-binding"
                            ng-if="hospital.hospital_data[0].isDateShow">{{hospital.hospital_data[0].last_updated_time |
                            date:'medium'}}</span>
                          <span class="ng-binding" ng-if="!hospital.hospital_data[0].isDateShow">As Per The Latest
                            Records</span>
                        </td> -->
                        <td colspan="2"><span class="ng-binding">{{hospital.hospital_data[0].last_updated_time |
                          date:'medium'}}</span>
                       
                      </td>
                      </tr>
                      <tr ng-if="createdDate">
                        <th colspan="2">Last Updated by Hospital:</th>
                        <td colspan="2"><span class="ng-binding"
                            ng-if="hospital.hospital_data[0].isCreatedDateShow">{{hospital.hospital_data[0].created_at |
                            date:'medium'}}</span>
                          <span class="ng-binding" ng-if="!hospital.hospital_data[0].isCreatedDateShow">As Per The Latest
                            Records</span>
                        </td>
                      </tr>
                      
                      

                 

                      <!-- <tr>
                        <th colspan="2">Phone 1:</th>
                        <td colspan="2"><span class="ng-binding"><a href="tel:123-456-7890">123-456-7890</a>
                          </span>
                        </td>
                      </tr> -->

                    </tbody>
                  </table>
                  <div class="info-name-btn">
                  <div class="hospital hosptal-table info-row volanteer">
                    <label class="infolable">Volunteer Name: &nbsp;
                    </label>
                    <strong> {{hospital.Volunteer_Name}}</strong>
                   
                  </div>
                  <div class="hosptal-table volanteer-btn desktop text-center">
                    <a ng-if="hospital.BitLink" href="{{hospital.BitLink}}" data-action="share/whatsapp/share" target="_blank"> 
                      <img src="images/whatsapp-icon.png">
                       <span>Chat with Volunteer</span> 
                      </a>
                      <a ng-if="!hospital.BitLink" href=""> 
                        <img src="images/whatsapp-icon.png">
                         <span>Chat with Volunteer</span> 
                        </a>
                </div>
                <div class="hosptal-table volanteer-btn mobile text-center">
                    <a ng-if="hospital.BitLink" href="{{hospital.BitLink}}" data-action="share/whatsapp/share" target="_blank"> 
                      <img src="images/whatsapp-icon.png">
                       <span>Chat with<br> Volunteer</span> 
                      </a>
                      <a ng-if="!hospital.BitLink" href=""> 
                        <img src="images/whatsapp-icon.png">
                         <span>Chat with<br> Volunteer</span> 
                        </a>
                </div>
                </div>
                <div class="hospital info-row info-feedback desktop">
                  <label class="infolable">Provide Feedback</label>
                  <div class="feedback-btns">
                  <button type="button" name="button" ng-disabled="hospital.notAvailableButton || hospital.wrongNumberButton" ng-click="resourcesAvailable(hospital.vendor_name)" class="btn btn-success res-btn" ng-class="{'btn-focus':hospital.resourcesAvailableButton}">Resources Available</button>
                    <button type="button" name="button" ng-disabled="hospital.resourcesAvailableButton || hospital.wrongNumberButton" ng-click="notAvailable(hospital.vendor_name)" class="btn btn-warning not-av-btn" ng-class="{'btn-focus':hospital.notAvailableButton}">Not Available</button>
                      <button type="button" name="button" ng-disabled="hospital.resourcesAvailableButton || hospital.notAvailableButton" ng-click="wrongNumber(hospital.vendor_name)" class="btn btn-danger wr-btn" ng-class="{'btn-focus':hospital.wrongNumberButton}">Wrong Number</button>
                    </div>
                </div>
                <div class="hospital info-row info-feedback mobile">
                  <label class="infolable">Provide Feedback</label>
                  <div class="feedback-btns">
                  <button type="button" name="button" ng-disabled="hospital.notAvailableButton || hospital.wrongNumberButton" ng-click="resourcesAvailable(hospital.vendor_name)" class="btn btn-success res-btn" ng-class="{'btn-focus':hospital.resourcesAvailableButton}">Resources<br> Available</button>
                    <button type="button" name="button" ng-disabled="hospital.resourcesAvailableButton || hospital.wrongNumberButton" ng-click="notAvailable(hospital.vendor_name)" class="btn btn-warning not-av-btn" ng-class="{'btn-focus':hospital.notAvailableButton}">Not<br> Available</button>
                      <button type="button" name="button" ng-disabled="hospital.resourcesAvailableButton || hospital.notAvailableButton" ng-click="wrongNumber(hospital.vendor_name)" class="btn btn-danger wr-btn" ng-class="{'btn-focus':hospital.wrongNumberButton}">Wrong<br> Number</button>
                    </div>
                </div>
                </div>
              </div>
              <h4 style="color:red;text-align: center" ng-show="(hospitalDetailData|filter:searchQuery).length==0">No
                Hospital Found.</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div><!-- machadalo-login -->