<link rel="stylesheet" href="modules/pages/login/login.tmpl.css">
<link rel="stylesheet" href="modules/common/loadingicon/loading-spinner.tmpl.css">
<script src='https://www.google.com/recaptcha/api.js' async defer></script>

<div class="machadalo-login" style="background-image: url('img/bannerBG.jpg');">
  <div class="column leftBox">
    <div class="mclb">
      <h2>Hello! Login to <strong>Machadalo</strong></h2>
      <div class="loginForm">
        <form role="form" ng-submit="login()">
          <div class="errorMessages">
            <div ng-show="error" class="error">{{error}}</div>
          </div>
          <input type="text" name="username" id="username" class="field" ng-model="username" placeholder="Username" required>
          <input type="password" class="field" id="password" ng-model="password" placeholder="Password" required>
          <div class="g-recaptcha" data-sitekey="6Ld0AmYUAAAAAArLDS-yQjy1Ti41tDNjLSclwh5B" data-callback="login"></div>
          <div class="buttonBox" ng-model="disabled">
            <button ng-disabled="disabled"  class="submit-btn" type="submit">Login</button>
          </div>
          <div class="formlink">
            <a data-target="#guestModal" data-toggle="modal" formnovalidate>Continue as Guest</a>
            <a href="http://www.machadalo.com">Forgot Password?</a>
          </div>
          <label class="checkbox">Remember me
            <input type="checkbox" checked="checked">
            <span class="checkmark"></span>
          </label>
        </form>
      </div>
    </div>
  </div>
  <div class="column rightBox">
    <img src="images/machadalo-logo.png" alt="Machadalo" class="logo"/>
    <div class="mcrb">
      <h1>Every great achievement was first  considered impossible</h1>
    </div>
  </div>

  <!--Start: Code for guestDetails Modal Window -->
  <div id="guestModal" class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          <div class="modalBodyBox">
            <h3>Login with Guest Account</h3>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <form name="myform" role="form" ng-submit="guestPage()">
              <input type="text" name="first_name" id="first_name" ng-model="name" class="field" placeholder="Name" required>
              <input type="email" name="email" id="email" ng-model="email" class="field" placeholder="Email Address" required>
              <input type="number" name="mobile" class="field" ng-model="mobile_no" placeholder="Mobile Number">
              <span ng-show="form.mobile.$error.minlength">error</span>
              <button type="submit" class="submit-btn">Continue</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--End: Code for guestDetails Modal Window -->

</div><!-- machadalo-login -->
