.machadalo-login {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 100vh;
  position: relative;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.machadalo-login .leftBox {
  display: grid;
  align-items: center;
  justify-content: center;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradientBG 15s ease infinite;
  order: 2;
}
.machadalo-login .leftBox h2 {
  font-size: 20px;
  font-weight: 300;
  color: #fff;
  margin: 0 0 20px 0;
  font-family: 'Source Sans Pro', sans-serif;
}
.machadalo-login .leftBox h2 a {
  color: #fff;
  display: inline-block;
  margin-right: 10px;
}
.machadalo-login .leftBox .loginForm {
  width: 600px;
  padding: 60px;
  margin: 0;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 5px 5px 10px 0 rgba(0,0,0,0.30);
}
.machadalo-login .leftBox .loginForm .g-recaptcha {
  margin-bottom: 20px;
}
.machadalo-login .leftBox .loginForm .buttonBox {
  display: block;
}
.machadalo-login .leftBox .loginForm .formlink {
  display: grid;
  grid-template-columns: 50% 50%;
  padding: 20px 0;
}
.machadalo-login .leftBox .loginForm .formlink a {
  font-size: 16px;
  font-weight: 400;
  color: #333;
  cursor: pointer;
  font-family: 'Source Sans Pro', sans-serif;
}
.machadalo-login .rightBox {
  padding: 60px;
  position: relative;
}
.machadalo-login .rightBox img.logo {
  display: inline-block;
  width: auto;
}
.machadalo-login .rightBox .mcrb {
  padding: 0 150px 0 0px;
}
.machadalo-login .rightBox h1 {
  font-size: 50px;
  font-weight: 200;
  color: #333;
  margin: 50px 0 0 0;
  line-height: 60px;
  font-family: 'Source Sans Pro', sans-serif;
}

@media only screen and (min-width : 1200px) and (max-width : 1400px) {
  .machadalo-login .leftBox .loginForm { width: 500px; }
  .machadalo-login .rightBox .mcrb { padding-right: 100px; }
  .machadalo-login .rightBox h1 { font-size: 40px; line-height: 50px; }
}



@media only screen and (max-width: 767px) {
  .machadalo-login { width: 100%;   display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr)); grid-template-rows: auto; align-items: center; height: auto;  }

.machadalo-login .leftBox .loginForm { width: 100%; padding: 15px; }
.machadalo-login .rightBox .mcrb { padding: 0px; }
.machadalo-login .leftBox h2{ text-align: center; margin:15px 0; }  
.machadalo-login .rightBox img.logo { max-width: 120px;  margin: 0 auto;  display: inherit; }
.machadalo-login .rightBox { padding: 15px; }
.machadalo-login .rightBox h1 { font-size: 25px; margin:10px 0; line-height: 25px; }
}