<link rel="stylesheet" href="modules/pages/login/login.tmpl.css" />
<link rel="stylesheet" href="modules/common/loadingicon/loading-spinner.tmpl.css" />
<script src='https://www.google.com/recaptcha/api.js' async defer></script>
<link href="css/smallscreen.css" rel="stylesheet" media="screen">

<div class="covid-hospital" ng-init="getCategory()">
  <div class="page-wrapper">
    <div class="logo-sec">
      <img src="images/machadalo-logo.png" alt="logo">
      <h1><span class="img_hospital"><img src="images/plus_icon.png" alt="logo"></span> COVID19 HELPDESK FOR YOUTH AND CHILDREN
        </h1>
    </div>

    <div class="container">
      <div class="page-inner">
        <div class="top-select-option">
          <!-- <div class="form-group">
            <select class="form-control" name="category" id="Category_id" ng-change="changeWeb()" ng-model="selectedCategory">
              <option ng-repeat="cat in categorys track by $index" value="{{cat}}" style="text-transform: capitalize;">
                {{cat}}
              </option>
            </select>
          </div> -->

          <div class="form-group">
            <select class="form-control" name="category" id="Category_id" ng-change="changeWeb()"
              ng-model="selectedCategory">
              <option value="" disabled>
                Select Category
              </option>
              <option ng-repeat="cat in categorysArray track by $index" value="{{cat.name}}"
                style="text-transform: capitalize;">
                {{cat.name}} 
              </option>
            </select>
          </div>


          <p style="text-align: center;">
          </p>
          <div class="form-group">
            <select class="form-control" ng-change="youthChildrenList()" name="age" id="consulation_state"
              ng-model="selectedAge">
              <option value="" disabled>
                Select Age Group
              </option>
              <option ng-repeat="age in ageArray track by $index" value="{{age.age}}"
                style="text-transform: capitalize;">
                {{age.age}}
              </option>
            </select>
          </div>

          <!-- <div class="form-group">
            <select class="form-control" ng-change="getCity()" name="state" id="specialisation_id"
              ng-model="state_code">
              <option value="" disabled>
                Select Specialisation
              </option>
              <option ng-repeat="state in stateData track by $index" value="{{state.state_code}}"
                style="text-transform: capitalize;">
                {{state.state}}
              </option>
            </select>
          </div> -->
          <!-- <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <select class="form-control" ng-change="getCity()" name="state" id="state_id" ng-model="state_code">
                  <option value="" disabled>
                    Select State/UT
                  </option>
                  <option ng-repeat="state in stateData track by $index" value="{{state.state_code}}"
                    style="text-transform: capitalize;">
                    {{state.state}}
                  </option>
                </select>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <select class="form-control" name="city" ng-change="getCylinderList()" id="city_id" ng-model="city_code">
                  <option value="" disabled>
                    Select District/City
                  </option>
                  <option ng-repeat="city in cityData track by $index" value="{{city.city_code}}">
                   <p style="text-transform: capitalize !important"> {{city.city_name}} </p>
                  </option>
                </select>
              </div>
            </div>
          </div> -->
        </div>
        <div ng-if="!loading" ng-loadings="loading"></div>
        <div class="row info-table-row" ng-if="loading">
          
            <div class="info-table-heading"  ><h2 style="text-align: center;">Category for age group <i class="fa fa-arrow-down" aria-hidden="true"></i></h2></div>
            
            
          <!-- <div class="natext">
            N/A means Data Not Available
          </div> -->
          <div class="form-group">
            <!-- <select class="form-control specialize-option" value="" ng-click="shorting(selectedSpecialization)" name="state" id="specialisation_id"
              ng-model="selectedSpecialization">
              <option value="" disabled>
                Select Specialization
              </option>
              <option ng-repeat="specialization in specializationList track by $index" value="{{specialization.name}}"
                style="text-transform: capitalize;">
                {{specialization.name}}
              </option>
            </select> -->
          </div>
          <div class="col-md-6" ng-if="youthData.length > 0" ng-repeat="youth in youthData ">
          <!-- <div class="col-md-6"> -->
            <div class="info-table-wrap covidyouth-table">
              <div class="info-row covid-table-heading">
                <label class="infolable">Theme:</label>
                <span ng-show="youth.Theme">{{youth.Theme}}</span>
                <span ng-show="!youth.Theme || youth.Theme == ' '">N/A</span>
              </div>
              <div class="info-row youtube-video">
                <!-- <label class="infolable"> Link:</label> -->
                <!-- <video width="400" controls>
                  <source src="https://www.youtube.com/embed/{{youth.link}}" type="video/mp4">
                  <source src="https://www.youtube.com/embed/{{youth.link}}" type="video/ogg">
                  Your browser does not support HTML video.
                </video> -->
                <iframe width="420"  src="https://www.youtube.com/embed/bit.ly/3wwwtlw">
                </iframe>
                <!-- <span ng-show="youth.link"> {{youth.link}} </span>
                <span ng-show="youth.link == ' ' || !youth.link"> N/A </span> -->
              </div>
              <div class="info-time-row">
              <div class="info-row">
                <label class="infolable">Start Time:</label>
                <span ng-show="youth.start"><strong>{{youth.start |replace: ',':' ' | date:'medium'}} </strong></span>
                <span ng-show="youth.start == ' ' || !youth.start"> N/A </span>
              </div>

              <div class="info-row">
                <label class="infolable">End Time:</label>
                <span ng-show="youth.end"><strong>{{youth.end |replace: ',':' ' | date:'medium'}} </strong></span>
                <span ng-show="youth.end == ' ' || !youth.end"> N/A </span>
              </div>
             </div>
             
             <div class="info-time-row second">
              <div class="info-row">
                <label class="infolable">Duration:</label>
                <span ng-show="youth.duration">{{youth.duration}} </span>
                <span ng-show="youth.duration == ' ' || !youth.duration"> N/A </span>
              </div>

              <div class="info-row level">
                <label class="infolable">Level:</label>
                <span ng-show="youth.level">{{youth.level}} </span>
                <span ng-show="youth.level == ' ' || !youth.level"> N/A </span>
              </div>

              <div class="info-row">
                <label class="infolable">Imp:</label>
                <span ng-show="youth.imp">{{youth.imp}} </span>
                <span ng-show="youth.imp == ' ' || !youth.imp"> N/A </span>
              </div>
             </div>



              <div class="info-row">
                <label class="infolable">Key Learnings:</label>
                <span ng-show="youth.key_learnings">{{youth.key_learnings}}</span>
                <span ng-show="youth.key_learnings == ' ' || !youth.key_learnings"> N/A </span>
              </div>

              <div class="info-row">
                <label class="infolable">Source:</label>
                <span ng-show="youth.source">{{youth.source}}</span>
                <span ng-show="youth.source == ' ' || !youth.source"> N/A </span>
              </div>
            </div>
          </div>

          
        </div>
        <div ng-if="errorMsg">
          <h4 style="color:red;text-align: center">{{errorMsg}}</h4>
        </div>


        <!-- <div class="col-md-6" ng-if="cylinderDetailData.length == 0 || !cylinderDetailData">
            <div class="info-table-wrap">
              <div class="info-row">
                <label class="infolable"><strong>Contact Name: </strong></label>
             
              </div>
              <div class="info-row">
                <label class="infolable"><strong> Address: </strong></label>
              
              </div>
              <div class="info-row">
                <label class="infolable"><strong>Quantity Available: </strong></label>
               
              </div>
              <div class="info-row">
                <label class="infolable"><strong>Last Updated Time: </strong></label>
             
              </div>
              <div class="info-row">
                <label class="infolable"><strong>Refill Available:
                </strong></label>
             
              </div>
              <div class="info-row">
                <label class="infolable"><strong>Contact Number: </strong></label>
                <a href="tel:cylinder.MDContactNumber"> </a>
              </div>
            
              <div class="info-row volanteer">
                <label class="infolable">Volunteer Name: &nbsp;
                </label>
                 
              </div>
              <div class="hosptal-table volanteer-btn text-center">
                    <img src="images/whatsapp-icon.png">
                     <span>Chat with Volunteer</span> 
              </div>

              <div class="info-row info-feedback">
                <label class="infolable"><strong>Provide Feedback</strong></label>
                <div class="feedback-btns">
                <button type="button" name="button" class="btn btn-success">Resources Available</button>
                  <button type="button" name="button" ng-disabled="true" class="btn btn-warning">Not Available</button>
                    <button type="button" name="button" ng-disabled="true" class="btn btn-danger">Wrong Number</button>
                  </div>
              </div>
            </div>
          </div> -->

        <!-- <div class="col-md-6" ng-if="cylinderDetailData.length == 0 || !cylinderDetailData">
            <div class="info-table-wrap">
              <div class="info-row">
                <label class="infolable"><strong>Contact Name: </strong></label>
             
              </div>
              <div class="info-row">
                <label class="infolable"><strong> Address: </strong></label>
              
              </div>
              <div class="info-row">
                <label class="infolable"><strong>Quantity Available: </strong></label>
               
              </div>
              <div class="info-row">
                <label class="infolable"><strong>Last Updated Time: </strong></label>
             
              </div>
              <div class="info-row">
                <label class="infolable"><strong>Refill Available:
                </strong></label>
             
              </div>
              <div class="info-row">
                <label class="infolable"><strong>Contact Number: </strong></label>
                <a href="tel:cylinder.MDContactNumber"> </a>
              </div>
            
              <div class="info-row volanteer">
                <label class="infolable">Volunteer Name: &nbsp;
                </label>
                 
              </div>
              <div class="hosptal-table volanteer-btn text-center">
                    <img src="images/whatsapp-icon.png">
                     <span>Chat with Volunteer</span> 
              </div>

              <div class="info-row info-feedback">
                <label class="infolable"><strong>Provide Feedback</strong></label>
                <div class="feedback-btns">
                <button type="button" name="button" class="btn btn-success">Resources Available</button>
                  <button type="button" name="button" class="btn btn-warning">Not Available</button>
                    <button type="button" name="button" class="btn btn-danger">Wrong Number</button>
                  </div>
              </div>
            </div>
          </div> -->
        <!-- <h4 style="color:red;text-align: center" ng-if="cylinderDetailData.length == 0 || !cylinderDetailData.length">No
            Hospital Found.</h4> -->
      </div>
    </div>
  </div>
</div>

</div><!-- machadalo-login -->